<%= render partial: "rapidfire/answers/errors", locals: {answer: answer} %>
<%= render partial: "rapidfire/answers/question_text", locals: {f: f, answer: answer} %>

<%- answer.question.options.each_with_index do |option, index| %>
  
  <label class='survey__multiple-choice-field'>
    <%= f.radio_button :answer_text, option, :required => is_required_question?(answer) %>
    <div class='label'><span class='survey__multiple-choice-field__option'><%= option.html_safe %></span></div>
  </label>
  
<% end %>
