<li class="row week-list__row">
  <div class="row__wrapper">
    <h3><%= week.title %></h3>
    <ul class="list">
    <% if week.blocks.count > 0 %>
      <% week.blocks.each do |block| %>
        <%= render :partial => 'blocks/row', :locals => {:block => block} %>
      <% end %>
    <% else %>
      <li class="row view-all">
        <div><%= t("course.blocks_none") %></div>
      </li>
    <% end %>
    </ul>
  </div>
</li>
