---
http_interactions:
- request:
    method: get
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia/all-access/user/Broussard's/daily/2025081500/2025081900
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"20-da39a3ee5e6b4b0d3255bfef95601890afd80709"
      X-Client-Ip:
      - 137.97.131.26
      X-Analytics:
      - ''
    body:
      encoding: UTF-8
      string: '{"items":[{"project":"en.wikipedia","article":"Broussard''s","granularity":"daily","timestamp":"2025081500","access":"all-access","agent":"user","views":9},{"project":"en.wikipedia","article":"Broussard''s","granularity":"daily","timestamp":"2025081600","access":"all-access","agent":"user","views":6},{"project":"en.wikipedia","article":"Broussard''s","granularity":"daily","timestamp":"2025081700","access":"all-access","agent":"user","views":6},{"project":"en.wikipedia","article":"Broussard''s","granularity":"daily","timestamp":"2025081800","access":"all-access","agent":"user","views":7},{"project":"en.wikipedia","article":"Broussard''s","granularity":"daily","timestamp":"2025081900","access":"all-access","agent":"user","views":11}]}'
  recorded_at: Wed, 20 Aug 2025 00:00:00 GMT
recorded_with: VCR 6.1.0
