---
http_interactions:
- request:
    method: get
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia/all-access/user/THIS_IS_NOT_A_REAL_ARTICLE/daily/2025081500/2025081900
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json
      Etag:
      - W/"20-da39a3ee5e6b4b0d3255bfef95601890afd80709"
      X-Client-Ip:
      - 137.97.131.26
      X-Analytics:
      - ''
    body:
      encoding: UTF-8
      string: '{"detail":"The date(s) you used are valid, but we either do not have
        data for those date(s), or the project you asked for is not loaded yet. Please
        check documentation for more information","method":"get","status":404,"title":"Not
        Found","type":"about:blank","uri":"/metrics/pageviews/per-article/en.wikipedia/all-access/user/THIS_IS_NOT_A_REAL_ARTICLE/daily/2025081500/2025081900"}'
  recorded_at: Wed, 20 Aug 2025 00:00:00 GMT
recorded_with: VCR 6.1.0
