# This file is chronological: blocks nearer the top will always appear before
# blocks nearer the bottom when placed into a course's timeline

# Block kind
# 0. In class
# 1. Assignment
# 2. Milestone
# 3. Custom
# 4. Handouts

# Week weight
# - The app will attempt to evenly distribute weights across the course timeline
# - Higher weights will be more likely to stand on their own
# - Weights may be any positive number but 1-10 is recommended

essentials:
  - # Week one
    weight: 6
    blocks:
      - title: Introduction to the Wikipedia project
        kind: 0
        content: |
          <p>
            Welcome to your Wikipedia project's course timeline. This page will
            guide you through the steps you'll need to complete for your Wikipedia assignment.
          </p>
          <p>
            Your course has also been assigned a Wikipedia Expert. You can reach
            them through the "<strong>Get Help</strong>" button on this page.
          </p>
          <p>
            Resources:
          </p>
          <ul>
            <li><a href="https://wikiedu.org/editingwikipedia">Editing Wikipedia</a>, pages 1–5</li>
            <li><a href="https://wikiedu.org/evaluatingwikipedia">Evaluating Wikipedia</a></li>
          </ul>

      -
        if: graded_training
        title: Get started on Wikipedia
        kind: 1
        graded: true
        training_module_ids: [1,29] # Wikipedia policies, Sandboxes talk pages and watchlists
        points: 5
        content: |
          <p>
            Create an account and join this course page, using the  enrollment
            link your instructor sent you. (To avoid hitting Wikipedia's account
            creation limits, this is best done outside of class. Only 6 new accounts
            may be created per day from the same IP address.)
            </p>

      -
        if: ungraded_training
        title: Get started on Wikipedia
        kind: 1
        training_module_ids: [1,29] # Wikipedia policies, Sandboxes talk pages and watchlists
        content: |
          <ul>
            <li>
              Create an account and join this course page, using the  enrollment
              link your instructor sent you. (To avoid hitting Wikipedia's account
              creation limits, this is best done outside of class. Only 6 new accounts
              may be created per day from the same IP address.)
            </li>

      -
        if: blog_or_discussion_assignment
        title: Wikipedia assignment blog
        kind: 1
        content: |
          <p>
            Begin a blog about your experiences. You can use
            discussion questions to frame your entries, or reflect on the
            research and writing process. Create at least one blog entry
            each week during the Wikipedia assignment.
          </p>

      -
        title: Everyone has a Wikipedia account
        kind: 2
        content: |
          This week, everyone should have a Wikipedia account.

  - # Week two
    weight: 6
    blocks:
      -
        title: Evaluate Wikipedia
        kind: 1
        training_module_ids: [28,7] # How to edit, Evaluate an article
        graded: true
        points: 10
        content: |
          <a href="/training/students/evaluate-wikipedia-exercise" class="timeline-exercise">Exercise</a>

      -
        if: content_gaps_discussion
        title: "Discussion: What's a content gap?"
        kind: 0
        content: |
          <a href="/training/students/content-gap-discussion/what-is-a-content-gap" class="timeline-exercise">In-class discussion</a>

      -
        if: sources_and_plagiarism_discussion
        title: "Discussion: Thinking about sources and plagiarism"
        kind: 0
        content: |
          <a href="/training/students/sources-and-plagiarism-discussion/thinking-about-sources-and-plagiarism" class="timeline-exercise">In-class discussion</a>


  - # Week three
    weight: 6
    blocks:

      -
        if: medical_topics
        title: Review the rules for health topics
        kind: 1
        training_module_ids: [11] # Editing health and psychology topics
        content: |

      -
        if: explore_to_find_articles
        title: Choose possible topics
        kind: 1
        training_module_ids: [17] # Find Your Article
        content: |
          <p>Resource: <a href="https://wikiedu.org/editingwikipedia">Editing Wikipedia</a>, page 6</p>
            <a href="/training/students/choose-topic-exercise" class="timeline-exercise">Exercise</a>

      -
        if: choose_articles_from_list
        title: Choose your topic / Find your sources
        kind: 1
        content: |
          <a href="/training/students/choose-topic-from-list-exercise" class="timeline-exercise">Exercise</a>

      -
        if: choose_articles_from_list
        title: Guide(s) for writing articles in your topic area
        kind: 4 # Special subject-specific guides block

  - # Week four
    weight: 4
    blocks:
      -
        if: add_to_article
        title: Add to an article
        kind: 1
        training_module_ids: [8] # Adding citations
        graded: true
        points: 10
        content: |
          <a href="/training/students/add-to-article-exercise" class="timeline-exercise">Exercise</a>

      -
        if: copyedit
        title: Copyedit an article
        kind: 1
        graded: true
        points: 5
        content: |
          <a href="/training/students/copyedit-exercise/copyedit-an-article" class="timeline-exercise">Exercise</a>

  - # Week five
    weight: 4
    blocks:
      -
        if: explore_to_find_articles
        title: Finalize your topic / Find your sources
        kind: 1
        content: |
          <a href="/training/students/finalize-topic-exercise" class="timeline-exercise">Exercise</a>

      -
        if: explore_to_find_articles
        title: Guide(s) for writing articles in your topic area
        kind: 4 # Special subject-specific guides block

      -
        if: working_individually
        title: Start drafting your article
        kind: 1
        graded: true
        points: 20
        training_module_ids: [30,15] # Drafting, Plagiarism
        content: |
          <p>Resource: <a href="https://wikiedu.org/editingwikipedia">Editing Wikipedia</a>, pages 7–9</p>

      -
        if: working_in_groups
        title: Start drafting your article
        kind: 1
        graded: true
        points: 20
        training_module_ids: [31,15] # Drafting in groups, Plagiarism
        content: |
          <p>Resource: <a href="https://wikiedu.org/editingwikipedia">Editing Wikipedia</a>, pages 7–9</p>

      -
        title: Everyone has started writing
        kind: 2
        content: |
          <p>Everyone has begun writing their article drafts.</p>

  - # Week six
    weight: 3
    blocks:
      -
        if: thinking_about_wikipedia_discussion
        title: "Discussion: Thinking about Wikipedia"
        kind: 0
        content: |
          <a href="/training/students/thinking-about-wikipedia-discussion/thinking-about-wikipedia" class="timeline-exercise">In-class discussion</a>

      - # 1 peer review
        if: 1_peer_reviewers
        title: Peer review and copy edit
        kind: 1
        training_module_ids: [12] # Peer review
        content: |
          <p>
            Keep working on transforming your article into a complete first draft. Get a draft ready for peer-review. </p>

      - # 2 peer reviews
        if: 2_peer_reviewers
        title: Peer review and copy edit
        kind: 1
        training_module_ids: [12] # Peer review
        content: |
          <p>
            Keep working on transforming your article into a complete first
            draft. Get ready to peer review two of your classmates' articles. </p>

      - # 3 peer reviews
        if: 3_peer_reviewers
        title: Peer review and copy edit
        kind: 1
        training_module_ids: [12] # Peer review
        content: |
          <p>
            Keep working on transforming your article into a complete first
            draft. Get ready to peer review three of your classmates' articles. </p>

      -
        title: Peer reviews are complete
        kind: 2
        content: |
          <p>Every student has finished reviewing their assigned articles, making sure that every article has been reviewed.</p>

  - # Week seven
    weight: 3
    blocks:
      -
        title: Respond to your peer review
        kind: 1
        graded: true
        points: 10
        content: |
          <p>You probably have some feedback from other students and possibly other Wikipedians. It's time to work with that feedback to improve your article!</p>
          <ul>
          <p>
            Resources:
          </p>
          <ul>
            <li><a href="https://wikiedu.org/editingwikipedia">Editing Wikipedia</a>, pages 12 and 14</li>
            <li>Reach out to your Wikipedia Expert if you have any questions.
          </ul>

  - # Week eight
    weight: 6
    blocks:
      -
        if: working_individually
        title: Begin moving your work to Wikipedia
        kind: 1 # Assignment
        training_module_ids: [32] # Moving work out of the sandbox
        content: |
          <p>
            Once you've made improvements to your article based on peer review
            feedback, it's time to move your work to Wikipedia proper - the "mainspace."
          </p>
          <p>Resource: <a href="https://wikiedu.org/editingwikipedia">Editing Wikipedia</a>, page 13</p>

      -
        if: working_in_groups
        title: Begin moving your work to Wikipedia
        kind: 1 # Assignment
        training_module_ids: [33] # Moving work out of the sandbox
        content: |
          <p>
            Once you've made improvements to your article based on peer review
            feedback, it's time to move your work to Wikipedia proper - the "mainspace."
          </p>
          <p>Resource: <a href="https://wikiedu.org/editingwikipedia">Editing Wikipedia</a>, page 13</p>

      -
        if: did_you_know
        title: Did You Know
        kind: 1
        content: |
          <a href="/training/students/did-you-know-exercise/nominating" class="timeline-exercise">Exercise</a>


  - # Week nine
    weight: 2
    blocks:
      -
        title: Continue improving your article
        kind: 1
        training_module_ids: [6] # Images and multimedia
        content: |
          <p>Do additional research and writing to make further improvements to your article, based on suggestions and your own critique.</p>
          <ul>
            <li>
              Read <a href="https://wikiedu.org/editingwikipedia">Editing Wikipedia</a>
              page 12 to see how to create links from your article to others,
              and from other articles to your own. Try to link to 3–5 articles,
              and link to your article from 2–3 other articles.
            </li>
            <li>
              Consider adding an image to your article. Wikipedia has strict rules
              about what media can be added, so make sure to take
              <em><a href="https://dashboard.wikiedu.org/training/students/images-and-media">Contributing Images and Media Files</a></em>
              training before you upload an image.
            </li>
          </ul>

      -
        if: illustrate
        title: Illustrate your article
        kind: 1
        graded: true
        points: 5
        training_module_ids: [6] # Images and multimedia
        content: |
          <p>
            Resources:
          </p>
          <ul>
            <li><a href="https://wikiedu.org/illustratingwikipedia">Illustrating Wikipedia</a></li>
            <li><a href="https://wikiedu.org/editingwikipedia">Editing Wikipedia</a>, pages 10–11</li>
          </ul>

  - # Week ten
    weight: 2
    blocks:
      -
        title: Polish your work
        kind: 1
        content: |
          <p>
            Continue to expand and improve your work, and format your article to
            match Wikipedia's tone and standards. Remember to contact your
            Wikipedia Expert at any time if you need further help!
          </p>

      -
        if: presentation
        title: Prepare for in-class presentation
        kind: 1
        content: |
          <p>
            Prepare for an in-class presentation about your Wikipedia editing experience.
          </p>

  - # Week eleven
    weight: 5
    blocks:
      -
        if: presentation
        title: In-class presentation
        kind: 0
        graded: true
        points: 10
        content: |
          <a href="/training/students/in-class-presentation-exercise/guiding-questions" class="timeline-exercise">Exercise</a>
      -
        title: Final article
        kind: 1
        graded: true
        points: 30
        content: |
          <p>It's the final week to develop your article.</p>
          <ul>
            <li>Read <a href="https://wikiedu.org/editingwikipedia">Editing Wikipedia</a> page 15 to review a final check-list before completing your assignment.</li>
            <li>Don't forget that you can ask for help from your Wikipedia Expert at any time!</li>
          </ul>

      -
        if: reflective_essay
        title: Reflective essay
        kind: 1
        graded: true
        points: 10
        content: |
          <a href="/training/students/reflective-essay-exercise/essay-questions" class="timeline-exercise">Exercise</a>
      -
        if: original_analytical_paper
        title: Original analytical paper
        kind: 1
        graded: true
        points: 20
        content: |
          <ul>
            <li>Write a paper going beyond your Wikipedia article to advance your own ideas, arguments, and original research about your topic.</li>
          </ul>

  - # Week twelve
    weight: 3
    blocks:
      -
        title: All article edits are complete
        kind: 2
        content: |
          <p>Everyone should have finished all of the work they'll do on Wikipedia, and be ready for grading.</p>
