# This file is chronological: blocks nearer the top will always appear before
# blocks nearer the bottom when placed into a course's timeline

# Block kind
# 0. In class
# 1. Assignment
# 2. Milestone
# 3. Custom
# 4. Training

# Week weight
# - The app will attempt to evenly distribute weights across the course timeline
# - Higher weights will be more likely to stand on their own
# - Weights may be any positive number but 1-10 is recommended

essentials:
  - # Week one
    weight: 2
    blocks:
      - title: Wikipedia essentials
        kind: 0
        content: |
          * Overview of the course
          * Introduction to how Wikipedia will be used in the course
          * Understanding Wikipedia as a community, we'll discuss its expectations and etiquette.

          ---
          Handout: [Editing Wikipedia](http://wikiedu.org/editingwikipedia)

  - # Week two
    weight: 3
    blocks:
      -
        title: Editing basics
        kind: 0
        content: |
          * Basics of editing
          * Anatomy of Wikipedia articles, what makes a good article, how to distinguish between good and bad articles
          * Collaborating and engaging with the Wiki editing community
          * Tips on finding the best articles to work on for class assignments

          ---
          Handouts: [Using Talk Pages](https://commons.wikimedia.org/wiki/File:Using_talk_pages.pdf), [Evaluating Wikipedia](http://wikiedu.org/evaluatingwikipedia)
      -
        if: graded_training
        title: Practicing the basics
        kind: 1
        graded: true
        training_module_ids: [1,2,7] # Wikipedia essentials, Editing basics, Evaluate an article
        points: 5
        content: |
          * Create an account and join this course page.
          * Complete the introductory training modules. During this training, you will make edits in a sandbox and learn the basic rules of Wikipedia.
          * Create a User page.
          * To practice editing and communicating on Wikipedia, introduce yourself to another student on their user talk page.
          * Explore topics related to your topic area to get a feel for how Wikipedia is organized. What areas seem to be missing? As you explore, make a mental note of articles that seem like good candidates for improvement.

      -
        if: ungraded_training
        title: Practicing the basics
        kind: 1
        training_module_ids: [1,2,7] # Wikipedia essentials, Editing basics, Evaluate an article
        content: |
          * Create an account and join this course page.
          * Complete the introductory training modules. During this training, you will make edits in a sandbox and learn the basic rules of Wikipedia.
          * Create a User page.
          * To practice editing and communicating on Wikipedia, introduce yourself on the user talk page of one of your classmates, who should also be enrolled in the table at the bottom of the page.
          * Explore topics related to your topic area to get a feel for how Wikipedia is organized. What areas seem to be missing? As you explore, make a mental note of articles that seem like good candidates for improvement.

      -
        title:
        kind: 2
        content: |
          All students have Wikipedia user accounts and are listed on the course page.
  - # Week three
    weight: 6
    blocks:
      -
        title: Exploring the topic area
        kind: 0
        content: |
          * Be prepared to discuss some of your observations about Wikipedia articles in your topic area that are missing or could use improvement.

          ---
          Handouts: [Choosing an article](https://commons.wikimedia.org/wiki/File:Choosing_an_article.pdf)
      -
        if: evaluate
        title: Evaluate an article
        kind: 1
        graded: true
        points: 5
        content: |
          * Review pages 4-7 of the Evaluating Wikipedia brochure. This will give you a good, brief overview of what to look for in other articles, and what other people will look for in your own.
          * Evaluate an existing Wikipedia article related to the class, and leave suggestions for improving it on the article's talk page.
          * A few questions to consider (don't feel limited to these):
            * Is each fact referenced with an appropriate, reliable reference?
            * Is everything in the article relevant to the article topic? Is there anything that distracted you?
            * Is the article neutral? Are there any claims, or frames, that appear heavily biased toward a particular position?
            * Where does the information come from? Are these neutral sources? If biased, is that bias noted?
            * Are there viewpoints that are overrepresented, or underrepresented?
            * Check a few citations. Do the links work? Is there any close paraphrasing or plagiarism in the article?
            * Is any information out of date? Is anything missing that could be added?
      -
        if: copyedit
        title: Copyedit an article
        kind: 1
        graded: true
        points: 5
        content: |
          * Choose one article, identify ways in which you can improve and correct its language and grammar, and make the appropriate changes. (You do not need to alter the article's content.)
  - # Week four
    weight: 6
    blocks:
      -
        title: Using sources
        kind: 0
        content: |
          * Be prepared to explain close paraphrasing, plagiarism, and copyright violations on Wikipedia.

          ---
          Handouts: [Citing Sources](https://commons.wikimedia.org/wiki/File:Citing_your_sources.pdf) and [Avoiding Plagiarism](https://commons.wikimedia.org/wiki/File:Avoiding_plagiarism.pdf)
      -
        if: add_to_article
        title: Add to an article
        kind: 1
        graded: true
        points: 5
        content: |
          * Add 1–2 sentences of new information, backed up with a citation to an appropriate source, to a Wikipedia article related to the class.
      -
        if: illustrate
        title: Illustrate an article
        kind: 1
        graded: true
        points: 5
        training_module_ids: [6] # Images and multimedia
        content: |
          * Identify an article that would benefit from illustration, create or find an appropriate photo, illustration, or audio/video, and add it to the article.
            * All media uploaded to Wikipedia must fall under a "free license," which means they can be used or shared by anyone. Examples of media you can use are photos that you take yourself, images and text in the public domain, and works created by someone else who has given permission for their work to be used by others. For more information about which types of media can be uploaded to Wikipedia, see [Commons:Help desk](https://commons.wikimedia.org/wiki/Commons:Help_desk).
            * To add a media file to an article, you must first upload it to Wikimedia Commons. For instructions on how to upload files to Commons, refer to [***Illustrating Wikipedia***](http://wikiedu.org/illustratingwikipedia). This brochure will also provide you with detailed information about which files are acceptable to upload to Wikipedia and the value of contributing media to Wikipedia articles.
      -
        if: explore_to_find_articles
        title: Choosing your article
        kind: 1
        training_module_ids: [8] # Sources
        content: |
          * Research and list 3–5 articles on your Wikipedia user page that you will consider working on as your main project. Look at the talk page for existing topics for a sense of who else is working on it and what they're doing. Describe your choices to your instructor for feedback.
      -
        if: choose_articles_from_list
        title: Choosing your article
        kind: 1
        training_module_ids: [8] # Sources
        content: |
          * Your instructor has created a list of potential topics for your main project. Choose the one you will work on.
          * Compile a bibliography of relevant, reliable sources and post it to the talk page of the article you are working on. Begin reading the sources. Make sure to check in on the talk page (or watchlist) to see if anyone has advice on your bibliography.
  - # Week five
    weight: 6
    blocks:
      -
        title: Discuss the article topics
        kind: 0
        content: |
          * Discuss the topics students will be working on, and determine strategies for researching and writing about them.
      -
        if: explore_to_find_articles
        title: Finalize your topic and start researching
        kind: 1
        content: |
          * Select an article to work on, removing the rest from your user page. Add your topic on the course page.
          * Compile a bibliography of relevant, reliable sources and post it to the talk page of the article you are working on. Begin reading the sources. Make sure to check in on the talk page (or watchlist) to see if anyone has advice on your bibliography.
      -
        if: traditional_outline
        title: Drafting starter articles
        kind: 1
        graded: true
        points: 20
        training_module_ids: [9] # Sandboxes
        content: |
          * If you are starting a new article, write a 3–4 paragraph summary version of your article—with citations—in your Wikipedia sandbox. If you are improving an existing article, create a detailed outline reflecting your proposed changes, and post this for community feedback, along with a brief description of your plans, on the article’s talk page. Make sure to check back on the talk page often and engage with any responses.
          * Begin working with classmates and other editors to polish your short starter article and fix any major issues.
          * Continue research in preparation for expanding your article.
  - # Week six
    weight: 10
    blocks:
      -
        title: Wikipedia culture and etiquette
        kind: 0
        content: |
          * Talk about Wikipedia culture and etiquette, and (optionally) revisit the concept of sandboxes and how to use them.
          * Q&A session with instructor about interacting on Wikipedia and getting started with writing.
      -
        if: outline_as_lead_section
        title: Drafting starter articles
        kind: 1
        graded: true
        points: 20
        training_module_ids: [9] # Sandboxes
        content: |
          * If you are starting a new article, write an outline of the topic in the form of a standard Wikipedia lead section of 3–4 paragraphs in your sandbox. Wikipedia articles use "summary style", in which the lead section provides a balanced summary of the entire body of the article, with the first sentence serving to define the topic and place it in context. The lead section should summarize, very briefly, each of the main aspects of the topic that will be covered in detail in the rest of the article. If you are improving an existing article, draft a new lead section reflecting your proposed changes, and post this along with a brief description of your plans on the article’s talk page. Make sure to check that page often to gather any feedback the community might provide.
          * Begin working with classmates and other editors to polish your lead section and fix any major issues.
          * Continue research in preparation for writing the body of the article.
      -
        title: Students have started editing
        kind: 2
        content: |
          All students have started editing articles or drafts on Wikipedia.
  - # Week seven
    weight: 10
    blocks:
      -
        title: Moving articles to mainspace
        kind: 0 # In-class
        content: |
          * We'll discuss moving your article out of your sandboxes and into Wikipedia's main space.
          * A general reminder: Don't panic if your contribution disappears, and don't try to force it back in.
            * Check to see if there is an explanation of the edit on the article's talk page. If not, (politely) ask why it was removed.
            * Contact your instructor or Wikipedia Content Expert and let them know.

          ---
          Handout: [Moving out of your Sandbox](https://commons.wikimedia.org/wiki/File:Moving_out_of_your_sandbox.pdf)
      -
        title: Moving articles to mainspace
        kind: 1 # Assignment
        content: |
          * Move your sandbox articles into main space.
            * If you are expanding an existing article, copy your edit into the article. If you are making many small edits, save after each edit before you make the next one. Do NOT paste over the entire existing article, or large sections of the existing article.
            * If you are creating a new article, do NOT copy and paste your text, or there will be no record of your work history. Follow the instructions in the "Moving out of your sandbox" handout.
          * Begin expanding your article into a comprehensive treatment of the topic.
      -
        if: DYK
        title:
        kind: 1
        content: |
          * Optional: For new articles or qualifying expansions of stubs, compose a one-sentence “hook,” nominate it for “Did you know,” (see the DYK instructions handout) and monitor the nomination for any issues identified by other editors. Wiki Education Foundation staff can provide support for this process.

          ---
          Handout: ["Did You Know" submissions](https://commons.wikimedia.org/wiki/File:%22Did_You_Know%22_submissions.pdf)
  - # Week eight
    weight: 4
    blocks:
      -
        title: Building articles
        kind: 0
        content: |
          * Demo uploading images and adding images to articles.
          * Share experiences and discuss problems.

          ---
          Resources: [Illustrating Wikipedia](http://wikiedu.org/illustratingwikipedia) and [Evaluating Wikipedia](http://wikiedu.org/evaluatingwikipedia)
      - # 1 peer review
        if: 1_peer_reviewers
        title: Choose articles to peer review
        kind: 1
        content: |
          * Select a classmates’ article that you will peer review and copyedit. On the table at the bottom of this course page, add your username next to the article you will peer review. (You don’t need to start reviewing yet.)
      - # 2 peer reviews
        if: 2_peer_reviewers
        title: Choose articles to peer review
        kind: 1
        content: |
          * Select two classmates’ articles that you will peer review and copyedit. On the table at the bottom of this course page, add your username next to the articles you will peer review. (You don’t need to start reviewing yet.)
      - # 3 peer reviews
        if: 3_peer_reviewers
        title: Choose articles to peer review
        kind: 1
        content: |
          * Select three classmates’ articles that you will peer review and copyedit. On the table at the bottom of this course page, add your username next to the articles you will peer review. (You don’t need to start reviewing yet.)
  - # Week nine
    weight: 6
    blocks:
      -
        title: Complete first draft
        kind: 1
        content: |
          * Expand your article into a complete first draft.
  - # Week ten
    weight: 4
    blocks:
      -
        title: Group suggestions
        kind: 0
        content: |
          * As a group, offer suggestions for improving one or two other students' articles, based on your ideas of what makes a solid encyclopedia article.
      - # 1 peer review
        if: 1_peer_reviewers
        title: Peer review and copyedit
        kind: 1
        graded: true
        points: 10
        content: |
          * Peer review two of your classmates’ articles. Leave suggestions on the article talk pages.
          * Copy-edit the two reviewed articles.
      - # 2 peer reviews
        if: 2_peer_reviewers
        title: Peer review and copyedit
        kind: 1
        graded: true
        points: 10
        content: |
          * Peer review two of your classmates’ articles. Leave suggestions on the article talk pages.
          * Copy-edit the two reviewed articles.
      - # 3 peer reviews
        if: 3_peer_reviewers
        title: Peer review and copyedit
        kind: 1
        graded: true
        points: 10
        content: |
          * Peer review two of your classmates’ articles. Leave suggestions on the article talk pages.
          * Copy-edit the two reviewed articles.
      -
        title:
        kind: 2
        content: |
          Every student has finished reviewing their assigned articles, making sure that every article has been reviewed.
  - # Week eleven
    weight: 4
    blocks:
      -
        title: Media literacy discussion
        kind: 0
        content: |
          * Open discussion of the concepts of neutrality, media literacy, and the impact and limits of Wikipedia.
      -
        title: Address peer review suggestions
        kind: 1
        content: |
          * Make edits to your article based on peers’ feedback. If you disagree with a suggestion, use talk pages to politely discuss and come to a consensus on your edit.
  - # Week twelve
    weight: 4
    blocks:
      -
        title: Discuss further article improvements
        kind: 0
        content: |
          * Continue discussing how the articles can be further improved. Come up with improvement goals for each article for next week.
      -
        title: Continue improving articles
        kind: 1
        content: |
          * Return to your classmates' articles you previously reviewed, and provide more suggestions for further improvement. If there is a disagreement, suggest a compromise.
          * Do additional research and writing to make further improvements to your article, based on your classmates' suggestions and any additional areas for improvement you can identify.
      -
        if: presentation
        title: Prepare for in-class presentation
        kind: 1
        content: |
          * Prepare for an in-class presentation about your Wikipedia editing experience.
  - # Week thirteen
    weight: 10
    blocks:
      -
        if: presentation
        title: In-class presentation
        kind: 0
        graded: true
        points: 10
        content: |
          * Students give in-class presentations about their experiences editing Wikipedia.
      -
        title: Final article
        kind: 1
        graded: true
        points: 30
        content: |
          * Add final touches to your Wikipedia article.

          ---
          Handout: [Polishing your article](https://commons.wikimedia.org/wiki/File:Polishing_your_articles.pdf)
      -
        if: reflective_essay
        title: Reflective essay
        kind: 1
        graded: true
        points: 10
        content: |
          * Write a reflective essay (2–5 pages) on your Wikipedia contributions.
      -
        if: portfolio
        title: Wikipedia portfolio
        kind: 1
        graded: true
        points: 20
        content: |
          * Put together a Wikipedia portfolio.
      -
        if: original_analytical_paper
        title: Original analytical paper
        kind: 1
        graded: true
        points: 20
        content: |
          * Write a paper going beyond your Wikipedia article to advance your own ideas, arguments, and original research about your topic.
  - # Week fourteen
    weight: 10
    blocks:
      -
        title:
        kind: 2
        content: |
          Students have finished all their work on Wikipedia that will be considered for grading.
