.container.narrow
  .section-header
    %h3= t('lti.enrollment_pending_approval.header')
  %p= t('lti.enrollment_pending_approval.explanation')
  %p= t('lti.enrollment_pending_approval.contact_hint')
