.container.narrow
  .section-header
    %h3= t('lti.enrollment_pending_approval.header', default: 'This course is awaiting Wiki Education approval')
  %p= t('lti.enrollment_pending_approval.explanation', default: 'Your instructor has set up this Wiki Education course, but Wiki Education staff are still reviewing it. Once it has been approved (usually within a few days), come back to this Canvas tab and you will be enrolled automatically.')
  %p= t('lti.enrollment_pending_approval.contact_hint', default: 'If you have questions, contact your instructor or Wiki Education staff.')
