.container.narrow
  .section-header
    %h3= t('lti.enrollment_error.header', default: "Couldn't enroll you in the Wiki Education course")
  %p= t('lti.enrollment_error.explanation', default: 'Something prevented enrollment. Please contact your instructor or Wiki Education staff for help; the issue has been logged for review.')
