.lti-iframe__landing
  = image_tag '/assets/images/wiki-logo.png', alt: 'Wiki Education Dashboard', class: 'lti-iframe__logo'
  %h3.lti-iframe__title= t('lti.setup_pending.header')
  %p= t('lti.setup_pending.explanation')
