%link{rel: 'stylesheet', href:'/mailer.css'}
%table.row
  %tbody
    %tr
      %th
        %table
          %tr
            %td.main-content
              %p.paragraph
                = "Dear #{@greeted_users},"
              %p.paragraph
                Now that your students have chosen their Wikipedia articles, their next
                critical step is compiling their bibliographies.
              %p.paragraph
                %strong The biggest predictor of a successful Wikipedia assignment is a strong bibliography.
                Drafting text without one – and using weak sources – makes it more likely that the
                student’s work will be removed. When student work is removed, it’s disappointing for everyone!
              %p.paragraph
                The Dashboard will direct your students to a page where they can compile their
                bibliographies – be sure they complete this step.
              %p.paragraph
                %strong Before your students start drafting, review their bibliographies
                to ensure their sources are reliable, verifiable, and independent of the subject.
                This is especially important if your students used an AI-tool to suggest sources,
                which can create hallucinated or misaligned sources.
              %p.paragraph
                Make sure students are citing high-quality sources, not just the first thing
                that popped up in their search results! 
              %p.paragraph
                %strong View student bibliographies:
                “Students” tab → "Assignments & Exercises" (Look for the “Bibliography” link for each student.
                If it’s red, the student hasn’t created the page yet.)
              %h2.headline What guidance should I provide?
              %p.paragraph
                Make sure students understand the difference between primary
                and secondary sources – and remind them to
                %strong use secondary sources for their Wikipedia contributions!
              %p.paragraph
                %ul.paragraph
                  %li
                    %em Appropriate sources for Wikipedia:
                    Secondary sources, such as established news outlets, academic books,
                    textbooks, government bodies, academic journals, etc.
                  %li
                    %em Inappropriate sources for Wikipedia:
                    Autobiographies, personal interviews, oral histories, and any
                    sources that aren’t fact-checked, like blogs, and that aren’t
                    independent of the topic, like organizational websites.
              %p.paragraph
                %strong Are your students editing content in…
              %p.paragraph
                %ul.paragraph
                  %li
                    %strong physical and social sciences?
                    Focus on review articles instead of single studies.
                  %li
                    %strong medicine and psychology?
                    Be sure you and your students understand
                    %a.link{href: 'https://dashboard.wikiedu.org/training/students/editing-medical-topics'} the unique and specific guidelines
                    when editing within these fields. 
              %p.paragraph
                %strong Team up with a librarian!
                Consider connecting your students with a university librarian to
                help build their bibliographies.
              %p.paragraph
                %strong Gen AI reminder:
                AI tools may fabricate sources or mismatch a real source with
                an unrelated fact. Ensure that every source your student plans
                to use is real and actually relates to the topic.
              %p.paragraph
                Once you feel that your students have compiled a bibliography
                that meets the guidelines above, they're ready to start outlining
                their contribution!
              %h2.headline Outline
              %p.paragraph
                The week students compile their bibliographies, they’ll also
                create an outline of their proposed work. They’ll see the link
                to “Outline” in the “My Articles” section of the “Home” tab.
              %p.paragraph
                %em Quick notes:
              %p.paragraph
                %ul.paragraph
                  %li
                    The outline is not meant to be a draft of their text.
                  %li
                    Students should outline their planned article changes – all
                    connected to the sources in their bibliographies.
                  %li
                    %strong Please review your students’ outlines before they start writing
                    to ensure their planned updates reflect the latest research in your field.
              %p.paragraph
                Both the bibliography and outline are critical steps that help head off any
                issues that could arise later in the Wikipedia assignment. Thank you for
                guiding your students through these key milestones!
              %p.paragraph
                %br
                %em
                  =@staffer.real_name
                %br
                %em Senior Program Manager
                %br
                %em Wiki Education
                %br
                %br
              %p.info
                This is an automated email from Wiki Education intended to help with the bibliography phase of your Wikipedia assignment.
                If you have thoughts about it — anything you found confusing or important things that are missing — you can let us know
                by replying, or
                %a.link{href: 'https://dashboard.wikiedu.org/feedback?subject=Bibliographies-Advice-email'} leave feedback here.
