%link{rel: 'stylesheet', href:'/mailer.css'}
%table.row
  %tbody
    %tr
      %th
        %table
          %tr
            %td.main-content
              %p.paragraph
                = "Dear #{@greeted_users},"
              %p.paragraph
                Now that your students have selected the articles they will be working on for their
                Wikipedia assignment, the next critical step is compiling their bibliographies. At
                the heart of any good Wikipedia contribution is good sourcing. Before your students
                begin to draft their contributions, have a look at their bibliographies to make
                sure that the sources they plan to use are reliable, verifiable, and independent of
                the subject in question.
              %p.paragraph
                As the course instructor, this is your moment to shine! You have subject matter
                expertise and knowledge of your field. Use this to ensure students are citing high
                quality sources, not just the first thing that popped up on their search results.
                The biggest predictor for student success with a Wikipedia assignment is establishing
                a good bibliography before the student starts drafting. If students start writing
                without an instructor-approved bibliography and end up using poor sources, their
                work will be less likely to remain on Wikipedia. The pride that students feel when
                they see their work live on Wikipedia is palpable, and it all begins with a good
                bibliography. When student work is removed, it's disappointing to all involved,
                and we want to do everything we can to ensure the success of their contribution.
                Wiki Education relies on your subject matter expertise to head this possibility
                off by checking to ensure students have good bibliographies before they start
                drafting.
              %p.paragraph
                The Dashboard will direct your students to a page where they can compile their
                bibliographies. Please make sure that students complete this step of the assignment.
                You can find your students' bibliographies by going to the students tab of your
                course page and clicking on the "activities and exercises" link. You'll then be
                able to find the bibliography link for each individual student.
              %h2.headline What should I tell my students to focus on as they compile their bibliographies?
              %p.paragraph
                %ul.paragraph
                  %li
                    Remind students that reliable sources come from secondary sources, such as established
                    news outlets, academic books, textbooks, government bodies, academic journals, etc.
                  %li
                    Make sure students understand the difference between primary and secondary sources.
                    Sources such as autobiographies and personal interviews are not appropriate for Wikipedia.
                  %li
                    Steer students away from sources not fact-checked, such as blogs, and not independent of
                    the topic, such as organizational websites.
                  %li
                    Wikipedia privileges review articles over single studies in the physical and social sciences.
                  %li
                    Different fields on Wikipedia may have somewhat different sourcing requirements. Medicine and
                    psychology are notable examples of this. Be sure to understand the types of sources Wikipedia
                    deems acceptable in your field of study.
                  %li
                    If you're able, have your students work with a university librarian to compile their bibliographies.
              %p.paragraph
                Once you feel that your students have compiled a bibliography that meets the above guidelines,
                they're ready to start drafting their contribution!
              %p.paragraph
                %br
                %em
                  =@staffer.real_name
                %br
                %em Senior Program Manager
                %br
                %em Wiki Education
                %br
                %br
              %p.info
                This is an automated email from Wiki Education intended to help with the bibliography phase of your Wikipedia assignment.
                If you have thoughts about it — anything you found confusing or important things that are missing — you can let us know
                by replying, or
                %a.link{href: 'https://dashboard.wikiedu.org/feedback?subject=Bibliographies-Advice-email'} leave feedback here.
