%link{rel: 'stylesheet', href:'/mailer.css'}
%table.row
  %tbody
    %tr
      %th
        %table
          %tr
            %td.main-content
              %p.paragraph
                = "Dear #{@greeted_users},"
              %p.paragraph
                You noted that your students may work on biographies, so here are our best tips!
              %h2.headline Why work on biographies?
              %p.paragraph
                Biographies are a great choice for Wikipedia assignments: they follow a standard
                format and give students a chance to make a real impact, especially by writing
                about people from underrepresented groups. With your guidance, students can
                create a more balanced, representative picture.
              %h2.headline Editing policies
              %p.paragraph
                %strong
                  Wikipedia has specific policies for biographies, especially of
                  %a.link{href: 'https://en.wikipedia.org/wiki/Wikipedia:Biographies_of_living_persons'} living people,
                to prevent slander, misinformation, and self-promotion. All content
                must be verifiable and free of original research.
              %p.paragraph
                %strong
                  Biographies must meet Wikipedia’s
                  %a.link{href: 'https://en.wikipedia.org/wiki/Wikipedia:Notability_%28people%29'} notability standard for people,
                which requires sufficient reliable sources. Otherwise, the content
                may belong within a related article rather than as a standalone biography article.
              %p.paragraph
                %strong
                  Students who want to create a new biography must first ensure that
                  the person meets this notability standard
                – and this can be tricky! Students must find
                %strong several sources
                that are reliable, verifiable, and independent of the subject.
                Students cannot use personal websites, blogs, interviews, CVs,
                or employer/academic profiles to establish a person’s notability.
              %h2.headline Considerations
              %p.paragraph
                %ul.paragraph
                  %li
                    A person may be important in their field, but
                    %strong they don’t meet Wikipedia's notability requirements if they have not been covered widely
                    in reliable, third-party sources. (Not meeting Wikipedia's notability
                    standard doesn’t mean they aren’t important!)
                  %li
                    These source requirements can make it
                    %strong challenging to write about historically underrepresented populations
                    that are not well-covered in mainstream literature.
                  %li
                    %strong New articles receive more scrutiny
                    than edits to existing articles, so students who create new biographies
                    will likely draw more attention from other editors.
                  %li
                    %strong It can be hard to know if the available sources are enough
                    to establish the person’s notability. If challenged, the new biography
                    article may go to a deletion discussion, where editors collectively
                    decide whether to keep it live on Wikipedia.
              %h2.headline Does this person meet notability requirements?
              %p.paragraph
                Profile examples: 
              %p.paragraph
                %ul.paragraph
                  %li
                    People who generally
                    %strong do not meet notability:
                    junior scholars (assistant faculty), post-graduates, undergraduates,
                    artists who have not yet received adequate coverage,
                    politicians who did not win their election
                  %li
                    People who generally
                    %strong meet notability:
                    academics and scholars with widely-reported discoveries,
                    artists covered in reliable outlets, elected politicians
                    who have received coverage
              %p.paragraph
                %strong Please ensure that your students understand these notability requirements.
              %h2.headline Biographies and bias
              %p.paragraph
                Wikipedia’s notability rules, especially for biographies of living persons, aim
                to protect subjects and prevent self-promotion. But as mentioned, these rules
                can disadvantage minority groups, who are often less covered in mainstream sources.
                This is a great opportunity to engage your students in discussions about Wikipedia’s
                limitations and biases, the systemic biases throughout the broader information landscape,
                including mainstream media and academic publishing – and how they all intersect.
              %h2.headline Resources
              %ul.paragraph
                %li
                  %a.link{href: 'https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Women_in_Red'} WikiProject Women in Red
                  works to increase the number of biographies of women on Wikipedia. Here’s their 
                  %a.link{href: 'https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Women_in_Red/Redlist_index'} list of women in need of biographies
                  by occupation.
                %li
                  For more in-depth guidance, check out our
                  %a.link{href: 'https://commons.wikimedia.org/wiki/File:Editing_Wikipedia_Articles_Biographies.pdf'} handout on writing biographies.
              %p.paragraph
                Undoubtedly, many individuals (both living and dead) meet Wikipedia’s notability
                requirements but still lack articles. But remember, many existing biographies
                also need improvement – so students don’t necessarily need to create new ones.
                Through either approach, students can make a real impact by working on biographies!
              %p.paragraph.center — — —
              %p.paragraph
                %br
                %em
                  =@staffer.real_name
                %br
                %em Senior Program Manager
                %br
                %em Wiki Education
                %br
                %br
              %p.info
                This is an automated email from Wiki Education intended to help prepare you for your Wikipedia assignment.
                If you have thoughts about it — anything you found confusing or important things that are missing — you can let us know
                by replying, or
                %a.link{href: 'https://dashboard.wikiedu.org/feedback?subject=Biographies-Advice-email'} leave feedback here.
