%link{rel: 'stylesheet', href:'/mailer.css'}
%table.row
  %tbody
    %tr
      %th
        %table
          %tr
            %td.main-content
              %p.paragraph
                = "Dear #{@greeted_users},"
              %p.paragraph
                You indicated that your students may work on biographies for their Wikipedia assignment.
                Here are some tips on how to guide your students if they edit or create biographies.
              %h2.headline Why biographies?
              %p.paragraph
                Biographies are often an excellent choice for students to work on for their Wikipedia assignment.
                They follow a standard outline and format, and it's an area where students can make a real difference.
                This is especially true when writing biographies of historically underrepresented populations.
                For example, only about 19% of all biographies on Wikipedia are of women. This is also true of many
                minority communities. With your guidance, students can do a lot to help tip this balance toward a
                more representative picture.
              %h2.headline Policies around biographies
              %p.paragraph
                Wikipedia has developed a series of policies around writing biographies and other content about
                individuals, with special rules concerning
                %a.link{href: 'https://wikiedu.org/blog/2017/11/15/tips-for-grading-a-wikipedia-assignment/'} biographies of living persons.
                These rules (which apply to non-biographies as well) have been developed both to protect article subjects from slander and
                misinformation, and to prevent people from using Wikipedia as a tool of self-promotion. In a nutshell, "material about living
                persons added to any Wikipedia page must be written with the greatest care and attention to verifiability, neutrality,
                and avoidance of original research."
              %p.paragraph
                Separately from Wikipedia's rules for sourcing and verifiability, biographies are also subject to "notability", a standard
                for the amount and kind of sources required for a new article. Some biographical content, for example, may be appropriate
                as part of Wikipedia's coverage of a related topic, even if the available sources are not sufficient to support an
                independent biography article.
              %h2.headline Considerations for students
              %p.paragraph
                When asking students to write biographies, consider the following:
                %ul.paragraph
                  %li
                    Students who wish to write new biographies must first establish the person's
                    %a.link{href: 'https://en.wikipedia.org/wiki/Wikipedia:Notability'} "notability."
                  %li
                    Establishing notability for biographies can be tricky. This can be especially true when writing about historically
                    underrepresented populations who are not well-covered in mainstream literature.
                  %li
                    Wikipedia has developed a series of guidelines around writing biographies of different people depending on their
                    occupation/reason for notability. You can check them out
                    %a.link{href: 'https://en.wikipedia.org/wiki/Wikipedia:Notability_(people)'} here.
                  %li
                    Biographies and their notability essentially come down to sourcing. Students must be able to find 2-3 sources
                    that are reliable, verifiable, and independent of the subject to establish notability.
                  %li
                    This means students cannot use sources such as personal web pages, blogs, interviews, or CVs to establish a
                    person's notability. Typically, biographical information from someone's employer or academic institution can't
                    be used to establish notability either.
                  %li
                    A person may be important in their field, but if they have not been covered widely in reliable, third-party sources,
                    then they will not meet Wikipedia's notability requirements. (Not meeting Wikipedia's notability requirements
                    does not equate to lack of importance.)
                  %li
                    New articles receive more scrutiny and attention than contributions to existing articles. Students who create
                    new biographies will likely receive more attention from the editing community.
              %h2.headline Who does and does not meet the notability requirement?
              %ul.paragraph
                %li
                  People who typically do not meet Wikipedia's notability threshold: junior scholars (assistant faculty),
                  post-graduates, undergraduates, artists who have not yet received adequate coverage, politicians who
                  did not win their election
                %li
                  People who generally meet notability requirements include: academics and scholars who have made a significant
                  discovery in their field that has been broadly covered in reliable news outlets, artists who have been written
                  about in reliable outlets, elected politicians who have received coverage
              %p.paragraph
                In many cases, it's not easy to tell whether the available sources about a person will establish notability.
                If the notability of an article is challenged, it may become subject to a deletion discussion, in which editors
                attempt to come to a consensus on whether or not to keep the article.
              %h2.headline Biographies and bias
              %p.paragraph
                There are ongoing debates about Wikipedia's notability requirements and whether or not they perpetuate systemic bias.
                Many subjects of potential Wikipedia articles who don't meet the notability are women and members of minority groups,
                who are generally less well-covered in mainstream outlets. Remember, the policies around biographies of living
                persons — in conjunction with the notability rules — were developed both to protect those persons as well as to
                prevent against instances of self-promotion. Having a Wikipedia article about oneself — especially an article with
                limited sourcing that paints an incomplete picture of one's life and career — can be stressful and upsetting. It's
                important to make sure your students fully understand Wikipedia's notability guidelines and why they were developed.
                This can also be a good opportunity to discuss Wikipedia's limitations, its biases, and its larger role in societal
                systemic bias.
              %h2.headline Resources
              %ul.paragraph
                %li
                  %a.link{href: 'https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Women_in_Red'} WikiProject Women in Red
                  is a group devoted to increasing the number of biographies of women on Wikipedia. They have compiled an extensive 
                  %a.link{href: 'https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Women_in_Red/Redlist_index'} list of women in need of biographies
                  by occupation.
                %li
                  Students can refer to our
                  %a.link{href: 'https://commons.wikimedia.org/wiki/File:Editing_Wikipedia_Articles_Biographies.pdf'} handout on writing biographies
                  for more in-depth guidance.
              %p.paragraph
                Your students can still make a real difference when it comes to biographies. There are countless persons
                (living and dead) who do meet Wikipedia's notability requirements, and there are many ways to tackle
                Wikipedia's bias while adhering to its guidelines.
              %p.paragraph.center — — —
              %p.paragraph
                %br
                %em
                  =@staffer.real_name
                %br
                %em Senior Program Manager
                %br
                %em Wiki Education
                %br
                %br
              %p.info
                This is an automated email from Wiki Education intended to help prepare you for your Wikipedia assignment.
                If you have thoughts about it — anything you found confusing or important things that are missing — you can let us know
                by replying, or
                %a.link{href: 'https://dashboard.wikiedu.org/feedback?subject=Biographies-Advice-email'} leave feedback here.
