%link{rel: 'stylesheet', href:'/mailer.css'}
%table.row
  %tbody
    %tr
      %th
        %table
          %tr
            %td.main-content
              %p.paragraph
                = "Dear #{@greeted_users},"
              %p.paragraph
                It's time for your students to choose their Wikipedia articles – success
                starts here! Please read through this message carefully, and be sure to
                review their selections to confirm that they’ve made viable choices.
              %h2.headline How do students find articles to improve?
              %p.paragraph
                %strong Step 1:
                Training module:
                %a.link{href: 'https://dashboard.wikiedu.org/training/students/finding-your-article'} Finding your article
              %p.paragraph
                %strong Step 2:
                Exercise:
                %a.link{href: 'https://dashboard.wikiedu.org/training/students/choose-topic-exercise'} Find potential articles
              %p.paragraph
                Both activities teach students how to find suitable articles and note their choices on the Dashboard.
              %p.paragraph
                %strong Related resource:
                “Article Finder” tool, find it from “Home” tab → “My Articles”
              %p.paragraph
                %strong View list of student selections:
                “Students” tab → “Assignments & Exercises” (Look for the “Article choice” link for each student.)
              %h2.headline Which articles should students improve?
              %p.paragraph
                The best articles for students to work on are
                %strong highly relevant
                to a particular field, with
                %strong many available sources,
                but
                %strong still underdeveloped on Wikipedia.
                %strong Article choice depends on sourcing
                — if the literature is sparse, students will struggle to contribute
                much, even to weak or short articles. Your subject expertise is key
                in guiding them!
              %h2.headline Which articles should students avoid?
              %p.paragraph
                %ul.paragraph
                  %li
                    %strong Articles that cover broad topics:
                    Students may be tempted to edit broad, sweeping topics, such as
                    %a.link{href: 'https://en.wikipedia.org/wiki/Law'} law
                    or
                    = succeed '.' do
                      %a.link{href: 'https://en.wikipedia.org/wiki/Religion'} religion
                    Instead, students should explore these broader articles for narrower,
                    related topics that need improvement.
                  %li
                    %strong Articles that have a rating above B:
                    Articles rated highly on
                    %a.link{href: 'https://en.wikipedia.org/wiki/Wikipedia:Content_assessment#Grades'} Wikipedia's assessment system
                    (A-class, Good article, and Featured article) have been vetted and
                    reviewed by the community, and are usually already very well-developed
                    and closely monitored. Students should avoid highly-rated articles.
                    Examples:
                    %a.link{href: 'https://en.wikipedia.org/wiki/Hudson_River'} Hudson River
                    and 
                    = succeed '.' do
                      %a.link{href: 'https://en.wikipedia.org/wiki/Angkor_Wat'} Angkor Wat
                  %li
                    %strong Contentious subjects:
                    While many students want to edit articles on topics they’re
                    passionate about, hotly-debated topics are harder to improve.
                    Encourage them to focus on subtopics, where their contributions
                    will have more impact, and to avoid any existing controversies
                    on Wikipedia.
                  %li
                    %strong Topics with few or low-quality sources:
                    Students should choose topics with sufficient published sources.
                    Often, underdeveloped Wikipedia articles simply lack literature,
                    not effort. Remember, sourcing is key!
              %h2.headline Can they create a new article?
              %p.paragraph
                Most students work on existing articles, but if your students
                choose to create a new entry, it’s critical they consider:
                %ul.paragraph
                  %li
                    %strong
                      Does the topic meet Wikipedia's
                      %a.link{href: 'https://en.wikipedia.org/wiki/Wikipedia:Notability'} notability
                      requirements?
                    Students need
                    %strong several sources
                    with substantial coverage that are independent of the subject, reliable,
                    and verifiable. This can be especially difficult when writing about
                    living people, or underrepresented people and subjects.
                  %li
                    %strong Does an article on the topic already exist on Wikipedia?
                    Before creating a new article, students must confirm it doesn’t
                    already exist under another name or within another article.
                    If the topic appears as a subtopic, they should plan how to
                    divide the content to avoid redundancy.
              %h2.headline How can instructors help?
              %p.paragraph
                Before students begin their bibliographies and start drafting,
                %strong confirm that their chosen articles meet the guidelines above.
                As the subject expert, you can direct them to relevant topics with
                strong sources that are not yet well-developed on Wikipedia.
                %strong Your guidance will ensure their work makes a lasting impact
                on Wikipedia.
              %p.paragraph
                %br
                %em
                  =@staffer.real_name
                %br
                %em Senior Program Manager
                %br
                %em Wiki Education
                %br
                %br
              %p.info
                This is an automated email from Wiki Education intended to help with choosing appropriate articles.
                If you have thoughts about it — anything you found confusing or important things that are missing — you can let us know
                by replying, or
                %a.link{href: 'https://dashboard.wikiedu.org/feedback?subject=Choosing-Articles-Advice-email'} leave feedback here.
