%link{rel: 'stylesheet', href:'/mailer.css'}
%table.row
  %tbody
    %tr
      %th
        %table
          %tr
            %td.main-content
              %p.paragraph
                = "Dear #{@greeted_users},"
              %p.paragraph
                After choosing an article and gathering sources, students are ready
                to begin drafting their main contribution to Wikipedia!
              %h2.headline Drafting in the sandbox
              %p.paragraph
                For guidance, students should take the training module on
                - if @group_work
                  %a.link{href: 'https://dashboard.wikiedu.org/training/students/drafting-in-sandbox-group'} "Drafting as a group."
                - else
                  %a.link{href: 'https://dashboard.wikiedu.org/training/students/drafting-in-sandbox'} "Drafting in the sandbox."
              %p.paragraph
                Once students have assigned themselves their main article(s), the Dashboard will provide links to the
                specific sandbox pages where articles should be drafted.
                %strong Each article will have its own sandbox page for drafting.
                Students can find these links in the “My Articles” section of the “Home” tab,
                and you can find them under “Assigned Articles” in the
                %a.link{href: "#{@course_link}/students/articles"} Students Assignments view
                when you select an individual student.
              %p.paragraph
                Sometimes students draft outside the Dashboard’s recommended location.
                To view the student’s sandbox pages, head to the “Students” tab and
                click on the “sandboxes” link for their account.
              %p.paragraph
                %em Things to remember:
                %ul.paragraph
                  %li
                    %strong Sandboxes are draft spaces, but they are still public.
                    Students must adhere to Wikipedia policies in their sandboxes.
                  %li
                    When editing existing articles, students should
                    %strong copy only the sections they’re working on into their sandbox,
                    not the entire article.
                  %li
                    The sandbox is a great place to experiment and draft, but
                    %strong students shouldn't stay there long
                    — a few weeks is enough before moving work into the live article space.
                  %li
                    %strong If possible, review drafts before they go live,
                    checking for neutral tone and proper in-line citations for each
                    fact. Student work is most commonly reverted due to tone and
                    sourcing issues. Early review helps prevent this!
              %h2.headline Moving work out of the sandbox
              %p.paragraph
                Before moving work to the article mainspace, students should complete the
                - if @group_work
                  %a.link{href: 'https://dashboard.wikiedu.org/training/students/moving-to-mainspace-group'} "Moving group work live"
                - else
                  %a.link{href: 'https://dashboard.wikiedu.org/training/students/moving-to-mainspace'} "Moving work out of the sandbox"
                training module and can also consult our
                %a.link{href: 'https://dashboard.wikiedu.org/training/students/videos'} videos
                on adding to existing articles or creating new ones.
              %p.paragraph
                %em Key points:
                %ul.paragraph
                  %li
                    After students move their work live, they should
                    %strong pay attention to any feedback
                    from other Wikipedia editors. They are now members of the Wikipedia
                    community and have a responsibility to engage.
                  %li
                    %strong If student work is removed,
                    students should contact the editor who removed the work to
                    try to understand why, and how they can improve it. They should
                    NEVER restore it back into the article without discussion, as
                    this "edit war" behavior can lead to getting blocked.
                  %li
                    Remind students that
                    %strong their grade doesn’t depend on whether their work stays
                    on Wikipedia. They and you will always be able to see their
                    contributions in their edit history.
                  %li
                    %a.link{href: 'https://dashboard.wikiedu.org/faq/1/'} Explore how the Dashboard tracks your students’ contributions.
              %p.paragraph.center — — —
              %p.paragraph
                You can always refer to our
                %a.link{href: 'https://dashboard.wikiedu.org/faq?topic=instructor_faq'} Instructor FAQs
                for more information.
              %p.paragraph
                Good luck!
              %p.paragraph
                %br
                %em
                  =@staffer.real_name
                %br
                %em Senior Program Manager
                %br
                %em Wiki Education
                %br
                %br
              %p.info
                This is an automated email from Wiki Education intended to help you with the main article development stages of your Wikipedia assignment.
                If you have thoughts about it — anything you found confusing or important things that are missing — you can let us know
                by replying, or
                %a.link{href: 'https://dashboard.wikiedu.org/feedback?subject=Drafting-and-Moving-Advice-email'} leave feedback here.
