%link{rel: 'stylesheet', href:'/mailer.css'}
%table.row
  %tbody
    %tr
      %th
        %table
          %tr
            %td.main-content
              %p.paragraph
                = "Dear #{@greeted_users},"
              %p.paragraph
                Using the Dashboard, we recommend each student review at least one peer’s contribution to Wikipedia.
              %p.paragraph
                When ready, students should launch the
                %a.link{href: 'https://dashboard.wikiedu.org/training/students/peer-review'} "Peer review"
                exercise for guidance on selecting articles for review on the Dashboard, writing reviews,
                and submitting them.
              %p.paragraph
                %em Two options for assigning peer reviews:
              %p.paragraph
                %ol
                  %li
                    %p.paragraph
                      %strong Assign them yourself.
                    %p.paragraph OR
                  %li
                    %p.paragraph
                      %strong Allow students to choose
                      which classmates' articles to review.
              %p.paragraph
                %em If you assign them yourself, you can:
              %p.paragraph
                %ol
                  %li
                    %p.paragraph
                      %strong assign each student individually.
                      “Students” tab → student username → “Assign/remove a peer review”
                    %p.paragraph OR
                  %li
                    %p.paragraph
                      %strong randomly assign reviews
                      to all your students at once. “Students” tab → “Assign random peer reviews” button
              %p.paragraph
                Once a review is assigned, the Dashboard’s “My Articles” section
                will provide a link to the
                %strong sandbox page where the student should write their review.
                As long as they are signed in on Wikipedia, the review page template
                will also provide guiding questions and considerations,
                %a.link{href: 'https://en.wikipedia.org/wiki/Template:Dashboard.wikiedu.org_peer_review'}like this.
              %p.paragraph
                %strong View peer reviews:
                “Students” tab → “Assignments & Exercises”  
              %p.paragraph
                Sometimes students post their peer reviews outside the Dashboard’s
                recommended location. To view the student’s sandbox pages, head
                to the “Students” tab and click on the “sandboxes” link for their account.
              %p.paragraph.center — — —
              %p.paragraph
                Looking for more information? Explore our
                %a.link{href: 'https://dashboard.wikiedu.org/faq/15/'}FAQ about the peer review process.
              %p.paragraph
                Good luck!
              %p.paragraph
                %br
                %em
                  =@staffer.real_name
                %br
                %em Senior Program Manager
                %br
                %em Wiki Education
                %br
                %br
              %p.info
                This is an automated email from Wiki Education intended to help you with the peer review of your Wikipedia assignment.
                If you have thoughts about it — anything you found confusing or important things that are missing — you can let us know
                by replying, or
                %a.link{href: 'https://dashboard.wikiedu.org/feedback?subject=Peer-Review-Advice-email'} leave feedback here.
