%link{rel: 'stylesheet', href:'/mailer.css'}
%table.row
  %tbody
    %tr
      %th
        %table
          %tr
            %td.main-content
              %p.paragraph
                = "Dear #{@greeted_users},"
              %p.paragraph
                Before contributing to a Wikipedia article, students complete preliminary
                activities to prepare them for the process. Here are some tips to guide
                them through these early exercises.
              %h2.headline Evaluate an article
              %p.paragraph
                Learning to evaluate article quality is key to contributing to Wikipedia. In
                %a.link{href: 'https://dashboard.wikiedu.org/training/students/evaluate-wikipedia-exercise'}this exercise,
                students will write an article evaluation. When they launch the exercise,
                the Dashboard will create a page for them in their userspace,
                %a.link{href: 'https://en.wikipedia.org/wiki/Template:Dashboard.wikiedu.org_evaluate_article'} like this,
                where they should complete their evaluation.
              %p.paragraph
                %em
                  Students must be
                  %strong signed into the Dashboard AND Wikipedia
                  for this exercise.
              %p.paragraph
                %strong View evaluations:
                “Students” tab → “Assignments & Exercises” → select student → expand
                “Exercises & Trainings” section to view “Evaluate Wikipedia"
                exercise → click  “Exercise Sandbox” 
              %h2.headline Early edits
              %p.paragraph
                Making that first live edit on Wikipedia can be daunting, so we offer exercises to help students
                gain confidence. Depending on your assignment set up, you may have assigned exercises to
                %a.link{href: 'https://dashboard.wikiedu.org/training/students/add-to-article-exercise'} add a fact to an article
                and/or
                %a.link{href: 'https://dashboard.wikiedu.org/training/students/copyedit-exercise'} copyedit an article.
                In either case, students will add
                %strong a small amount of content to a live article.
              %p.paragraph
                %strong View student edits:
                The
                %a.link{href: "#{@course_link}/students/overview"}Students Overview
                shows all recent activity, including how much content they've added to live
                articles and sandbox pages ("userspace"). Clicking a student reveals which
                articles they've edited, and the
                %strong Article Viewer
                with its Authorship Highlighting feature displays their contributions
                within the context of the live article.

              %h2.headline Choosing an article
              %p.paragraph
                With millions of entries on Wikipedia, choosing an article can seem overwhelming.
                For guidance, students should complete the
                %a.link{href: 'https://dashboard.wikiedu.org/training/students/finding-your-article'} "Finding your article"
                training module and the
                %a.link{href: 'https://dashboard.wikiedu.org/training/students/choose-topic-exercise'} “Find potential articles”
                exercise.
              %p.paragraph
                Once they select an article,
                %strong they assign themselves the article on the Dashboard
                from the “My Articles” section of the "Home" tab. 
                %a.link{href: 'https://dashboard.wikiedu.org/training/students/keeping-track-of-your-work'} Explore how this looks.
              %p.paragraph
                Once a student assigns themself an article, the Dashboard will link to
                dedicated sandbox pages for compiling the article’s bibliography and
                outlining their contributions for this specific article, all found
                under the “My Articles” section. (If a student works outside of where
                the Dashboard recommends, head to the “Students” tab, select a student,
                and click on the “sandboxes” link to see all of their sandbox pages.)
              %p.paragraph.center — — —
              %p.paragraph
                You can always refer to our
                %a.link{href: 'https://dashboard.wikiedu.org/faq?topic=instructor_faq'} Instructor FAQs
                for more information.
              %p.paragraph
                Good luck!
              %p.paragraph
                %br
                %em
                  =@staffer.real_name
                %br
                %em Senior Program Manager
                %br
                %em Wiki Education
                %br
                %br
              %p.info
                This is an automated email from Wiki Education intended to help you with the early stages of your Wikipedia assignment.
                If you have thoughts about it — anything you found confusing or important things that are missing — you can let us know
                by replying, or
                %a.link{href: 'https://dashboard.wikiedu.org/feedback?subject=Preliminary-Work-Advice-email'} leave feedback here.
