{

  "presets": [
    "@babel/preset-react",
    "@babel/preset-env",
   ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "lodash"
  ],
  "env": {
    "test": {
      "plugins": [
        "babel-plugin-rewire",
        "@babel/plugin-transform-modules-commonjs"
      ],
      "ignore": [
        "i18n/*.js"
      ]
    }
  }
}
