{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "lodash"
  ],
  "env": {
    "test": {
      "plugins": [
        "babel-plugin-rewire",
        "@babel/plugin-transform-modules-commonjs",
        "@babel/plugin-proposal-object-rest-spread",
         "lodash"
      ],
      "presets": [
        "@babel/preset-react",
        "@babel/preset-env"
      ],
      "ignore": [
        "i18n/*.js"
      ]
    }
  }
}
