{
  "root": true,
  "extends": "airbnb",
  "rules": {
    # This makes it easier for Windows users to work on the project. Git automatically
    # converts between linebreak styles to unix-style should end up in the repo.
    "func-names": 0,
    "comma-dangle": 0,
    "consistent-return": 0,
    "no-return-assign": 0,
    "react/prefer-es6-class": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-boolean-value": 0,
    "arrow-body-style": 0,
    "max-len": 0,
    "radix": [2, "as-needed"],
    "no-param-reassign": 0,
    "react/jsx-no-bind": 0,
    "no-alert": 0,
    "new-cap": [2, { "capIsNew": false }],
    "no-use-before-define": 0,
    # App is using html from an outside source (Wikipedia, eg. for training slides, articles), so
    # it's going to be 'dangerous' in the sense of injecting whatever html comes from Wikipedia, but that's what is needed
    "react/no-danger": 0,
    # Rules below here should be enabled once violations are fixed.
    "react/forbid-prop-types": 0,
    "react/no-string-refs": 0,
    "react/jsx-equals-spacing": 0,
    "react/jsx-no-target-blank": 0,
    "react/jsx-wrap-multilines": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/img-has-alt": 0,
    "jsx-a11y/href-no-hash": 0,
    "jsx-a11y/aria-role": 0,
    "jsx-a11y/anchor-has-content": 0,
    "import/first": 0,
    "import/extensions": 0,
    "import/newline-after-import": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "no-underscore-dangle": 0,
    "arrow-parens": 0,
    "no-undef": 0,
    "no-lonely-if": 0,
    "no-useless-return": 0,
    "no-empty-pattern": 0,
    "object-shorthand": 0,
    "no-useless-computed-key": 0,
    "newline-per-chained-call": 0,
    "no-plusplus": 0,
    "no-mixed-operators": 0,
    "block-spacing": 0,
    "class-methods-use-this": 0,
    "brace-style": 0,
    "prefer-spread": 0,
    "no-prototype-builtins": 0,
    "no-restricted-syntax": 0,
    "space-unary-ops": 0,
    "global-require": 0,
    "quotes": 0,
    "no-restricted-globals": 0,
    "indent": 0,
    "function-paren-newline": 0,
    "react/no-find-dom-node": 0,
    "object-curly-newline": 0,
    "spaced-comment": 0,
    "react/jsx-curly-brace-presence": 0,
    "react/require-default-props": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react/no-unused-prop-types": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "react/no-unused-state": 0,
    "react/jsx-closing-tag-location": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "react/no-array-index-key": 0,
    "react/jsx-max-props-per-line": 0,
    "jsx-a11y/no-autofocus": 0,
    "react/default-props-match-prop-types": 0,
    "prefer-destructuring": 0,
    "react/prop-types": 0,
    "semi-style": 0,
  },
  "globals": {
    "$": true,
    "jQuery": true,
    "I18n": true,
    "_": true,
    "moment": true,
    "Raven": true,
    "SurveyDetails": true,
    "Features": true,
    "WikiLanguages": true,
    "WikiProjects": true,
  }
}
