/config/application.yml
/config/database.yml
/config/newrelic.yml
/config/secrets.yml
/dockerAuth.json
/fixtures
/node_modules
/js_coverage
/vendor/*
.nyc_output
.idea/
.vscode/
/dump.rdb
/public/skins
/tmp_build
modules.txt
/public/js_coverage
*.rbc
capybara-*.html
.rspec
/log
/setup/log.txt
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/public/assets
/coverage/
/coverage.deep/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
config/secrets.yml

## Environment normalisation:
/.bundle

# multi-user deployment via capistrano
.deploy_user

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc
developmentcp.rb

.ruby-version
.*.sw?
.*.*.sw?
npm-debug.log
npm-debug.log.*
.DS_Store
Session.vim
1
.byebug_history
.ruby-gemset
stats.json
.eslintcache
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

