language: ruby
rvm: 2.1.5
sudo: false

addons:
  apt:
    sources:
    - ubuntu-sdk-team
    packages:
    - libqt5webkit5-dev
    - qtdeclarative5-dev
    - pandoc


before_install:
  # Set the database.
  - export DB=test
  # Set up a headless display so capybara will work.
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

  # We need qt5 to make capybara-webkit work with React.
  # Copied from https://gist.github.com/jreese/6207161
  #- add-apt-repository --yes ppa:ubuntu-sdk-team/ppa
  #- apt-get update -qq
  #- apt-get install -qq libqt5webkit5-dev qtdeclarative5-dev
  - export QMAKE=/usr/lib/x86_64-linux-gnu/qt5/bin/qmake

  # pandoc for markdown->mediawiki
  # - apt-get install pandoc

install:
  - npm install gulp -g
  - npm install bower -g
  - npm install
  - bower install
  - bundle install --jobs=3 --retry=3 --deployment
  - gulp build
  - rake i18n:js:export

before_script:
  # Set up our database.
  - mysql -e '''CREATE DATABASE test
                DEFAULT CHARACTER SET utf8
                DEFAULT COLLATE utf8_general_ci;'''
  - cp config/database.travis.yml config/database.yml
  - bundle exec rake db:migrate RAILS_ENV=test
