.btn
  border-radius $btn_border_radius
  border none
  color $btn_text_color
  padding 10px 15px
  font-size $btn_font_size
  font-weight 700
  letter-spacing 2px
  text-transform uppercase
  text-decoration none
  &:hover
    color $btn_text_color

.btn.btn-primary
  background $wiki_brand
  transition background 0.35s
  &:hover
    background $wiki_brand_dk

a[disabled]
  opacity 0.5
  pointer-events none
