.btn
  border-radius $btn_border_radius
  border none
  color $btn_text_color
  padding 10px 15px
  font-size $btn_font_size
  font-weight 400
  font-family $headline_font
  letter-spacing 1px
  text-decoration none
  position relative
  &:hover
    color $btn_text_color
  &.icon
    padding-right 40px

.btn:focus
  box-shadow 0 0 3px #000
  border 1px solid #222
  outline none


.icon-rt_arrow:before
  position absolute
  right 10px
  top 30%

.btn.btn-primary
  background-color $training_primary
  transition background 0.35s
  &:hover
    background-color $training_primary_dk

a[disabled]
  opacity 0.5
  pointer-events none

.btn-primary.ghost-button
  background transparent
  color $training_primary
  border 3px solid $training_primary
  &:hover
    background $training_primary
    color #fff

.btn.btn-med
  font-size $btn_font_size_med

.training-modification
  .button
    border-radius 3px
    cursor pointer
    display inline-block
    line-height 1.5
    font-weight 600
    text-decoration none
    font-size 14px
    padding 8px 20px
    transition all 0.15s ease-out, color 0.15s ease-out
    &:focus
      outline none
  .button.dark
    background-color #676eb4
    border-color #676eb4
    color #fff
    &:hover
      background-color #595f9b
      border-color #595f9b
  .button.right
    float right
    margin-left 10px
  .button.down
    float down
    margin-top 10px
  .button.light
    background-color: #e7e7e7;
    border: 1px solid #e2e2e2;
    color: #6a6a6a;
    padding: 8px 20px 8px;
    &:hover
      background-color: #e2e2e2;
      border: 1px solid #dcdcdc;
      color: #6a6a6a;
  .button.danger
    background-color: #d95757;
    border-color: #d95757;
    color: #fff;
    &:hover
      background-color: #c54f4f;
      border-color: #c54f4f;

.lib-container
  position relative
  .lib-create
    position absolute
    top 3rem
    right 0
  .cat-create
    position absolute
    top 2rem
    right 0

.training_modification_buttons
  display: flex
  flex-direction: row-reverse
  justify-content: space-between