.training_modal
    font-family: 'Open Sans', arial, sans-serif
    margin-top: 100px
    input[type="text"], textarea
        width: 100%
        padding: 10px
        margin-bottom: 16px
        font-size: 15px
        background-color: #fff
        border: 1px solid #d9d9d9
        border-radius: 0px
        font-family: 'Open Sans', arial, sans-serif
        color: #333 // Assuming text-dark is a shade of dark text
        outline: none
        transition: border-color 125ms ease
        -webkit-font-smoothing: antialiased
        max-width: 100%
    textarea
        height: 138px
        min-height: 100px
        resize: vertical
    h3
        font-weight: 300
        font-size: 24px
        margin-bottom: 16px
        letter-spacing: 0.02em
        color: #676eb4
    p
        font-size: 15px
        margin-bottom: 16px

.single_column
    max-width: 550px !important
    width: 50% !important
    min-width: 350px
