.training__slide header
  padding 10px 0
  display inline-block

.training__slide__content, .training__slide .h3, .training__slide__footer
  margin-left auto
  margin-right auto
  max-width $slide_inner_content_width

.training__slide__content
  margin-top 30px
  margin-bottom 30px
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.training__slide h1
  margin 0 auto 21px auto
  width $slide_inner_content_width

.training__slide footer
  width 100%
  border-top 1px solid $border_med
  margin-top 37px
  padding-top 28px
  font-size 15px
  font-family $headline_font
  span
    position relative
    width 80%
    &.pull-right a
      right 0
    &.pull-left a
      left 0
      font-size 15px
      margin-top 10px
  .btn
    font-size 15px


