h1 small.heading
  border-bottom 1px solid $border
  padding-bottom 10px
  width 100%
  text-align left
  position relative

.h3
  font-size 20px
  margin-bottom 25px
  font-weight 700

.h4
  font-size 16px
  font-weight 700

.h5
  font-size 15px
  font-weight 600

.capitalize
  text-transform uppercase
  letter-spacing 1.33px

.ui-text
  font 14px $body_font
  line-height 1.35

.sidebar-text
  line-height 1.5

.disabled
  opacity 0.5
