---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=ids&titles=Nancy%20Tuana
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 129.0.79.156
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"pages":{"51910526":{"pageid":51910526,"ns":0,"title":"Nancy
        Tuana","revisions":[{"revid":1220423548,"parentid":1180607625}]}}}}'
  recorded_at: Fri, 24 Jan 2025 11:15:26 GMT
- request:
    method: post
    uri: https://api.wikimedia.org/service/lw/inference/v1/models/enwiki-articlequality:predict
    body:
      encoding: UTF-8
      string: '{"rev_id":1220423548,"extended_output":true}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - 50000, 50000;w=3600
      X-Ratelimit-Remaining:
      - '49999'
      X-Ratelimit-Reset:
      - '2672'
      X-Client-Ip:
      - 129.0.79.156
    body:
      encoding: ASCII-8BIT
      string: '{"enwiki":{"models":{"articlequality":{"version":"0.9.2"}},"scores":{"1220423548":{"articlequality":{"score":{"prediction":"Start","probability":{"B":0.0967005597473408,"C":0.33396017760551916,"FA":0.00454057782408097,"GA":0.012108337779692136,"Start":0.5182220232989376,"Stub":0.03446832374442916}},"features":{"feature.wikitext.revision.chars":6782.0,"feature.wikitext.revision.content_chars":3161.0,"feature.wikitext.revision.ref_tags":5.0,"feature.wikitext.revision.wikilinks":17.0,"feature.wikitext.revision.external_links":12.0,"feature.wikitext.revision.headings_by_level(2)":3.0,"feature.wikitext.revision.headings_by_level(3)":0.0,"feature.wikitext.revision.list_items":8.0,"feature.enwiki.revision.image_links":0.0,"feature.enwiki.revision.image_template":0.0,"feature.enwiki.revision.images_in_templates":0,"feature.enwiki.revision.images_in_tags":0,"feature.enwiki.infobox_images":0,"feature.enwiki.revision.category_links":8.0,"feature.enwiki.revision.shortened_footnote_templates":0.0,"feature.enwiki.revision.cite_templates":12.0,"feature.wikitext.revision.templates":19.0,"feature.enwiki.revision.infobox_templates":1.0,"feature.enwiki.revision.cn_templates":0.0,"feature.enwiki.revision.who_templates":0.0,"feature.enwiki.main_article_templates":0.0,"feature.english.stemmed.revision.stems_length":3928,"feature.enwiki.revision.paragraphs_without_refs_total_length":3674.0,"feature.len(<datasource.english.words_to_watch.revision.matches>)":1.0,"feature.len(<datasource.wikitext.revision.words>)":782.0,"feature.len(<datasource.english.idioms.revision.matches>)":0.0}}}}}}'
  recorded_at: Fri, 24 Jan 2025 11:15:28 GMT
recorded_with: VCR 6.1.0
