<h3><% @cohort_stats.each do |cohort, cohort_data| %>
  <%= cohort.to_s %><br/>
  <% cohort_data.each do |stat, value| %>
    <li><%= stat %>: <%= value %>
  <% end %>
<br /></br />
<% end %>
</h3>
<br /><br />
<h3><% @articles_edited.each do |article| %>
  <li><%= full_title(article) %>
<% end %>
</h3>
