-# Wiki data is passed as JSON for client-side rendering
-# This enables search, filtering, and sorting without page reloads
- wiki_json = @wiki_data[:all].map { |w| { domain: w[:domain], project: w[:project], language: w[:language], course_count: w[:course_count] } }.to_json

#wiki-list-container{'data-wikis' => wiki_json}