<% content_for :after_title do " - Training Completion" end %>
<header class="main-page">
  <div class="container">
    <h1>Current courses by training completion</h1>
  </div>
</header>
<div class="container">
<section>
<div class="section-header">


  <ul class="list">
  <% @courses.each do |c| %>
    <%= render 'courses/row', course: c, admin: false, user: false %>
  <% end %>
  </ul>

</div>
</section>
</div>
