<% if can_administer? %>
<div class='survey__admin-tools'>
  <%= link_to "Edit this Survey", question_group_questions_path(@question_group) %>
</div>
<% end %>

<div class='container'>
  
  <%= render partial: "question_group" %>

</div>
