<% if params.key?("preview") %>
<div class="survey-previewing">Preview Mode</div>
<% end %>

<div data-survey-form-container class='loading'>

  <%= render partial: "surveys/question_group", locals: {
      question_group: @question_group,
      answer_group_builder: @answer_group_builder,
      question_group_index: 0,
      total: 1,
      :surveys_question_group => {
        show_title: false
      },
      results: false
    } %>
  <div data-question-group-blocks="1">
    <div class='block__container'>
      <div class='block block--text block--clear block--thank-you disabled not-seen' data-thank-you>
        <div class='block--thank-you__container'>
          <h2 class='big-title'> Thank You!</h2>
          <p class='text-center'><%= @question_group.name %> Question Group submitted</p>
        </div>
      </div>
    </div>
  </div>
</div>
