%link{rel: 'stylesheet', href:'/mailer.css'}
%p.paragraph
  We detected that
  =@alert.user.username
  has been blocked by an administrator on Wikipedia. The
  %a.link{ href: @alert.url } block log
  may indicate the reason for the block.
