.survey__questions-list.clearfix
  .survey__admin-actions.clearfix
    %h3 Questions
    = link_to "Add Question", new_question_group_question_path(@question_group), :class => 'button outline--green button--no-margin'
  - if @questions.length > 1
    .survey__admin-tools
      %span.contextual Drag to reorder questions. (Changes will be saved automatically.)
  %ul.list.list--survey{"data-sortable-questions" => @question_group.id}
    = render partial: 'rapidfire/questions/question', collection: @questions
