<div class="row article-list__row list__header article-list__sort">
  <div class="row__wrapper">
    <div class="article-list__row__title sort asc" data-sort="title"><p>Title</p></div>
    <div class="article-list__row__characters sort popover-trigger" data-default-order="desc" data-sort="characters">
      <p>Characters added</p>
      <div class="popover dark">
        <p><%= t("article.character") %></p>
      </div>
    </div>
    <div class="article-list__row__views sort popover-trigger" data-default-order="desc" data-sort="views">
      <p>Views</p>
      <div class="popover dark">
        <p><%= t("article.view") %></p>
      </div>
    </div>
    <div class="article-list__row__link"></div>
  </div>
</div>