<div class="container">
  <br><br><br><br><br>
  <ul>
    <%- @libraries.each do |library| %>
      <li>
        <h3>
          <a href="training/<%= library.slug %>">
            <%= library.slug.humanize.titleize %>
          </a>
        </h3>
      </li>
    <% end %>
  </ul>
</div>
