<div class="container">
  <br><br><br><br><br>
  <ul>
    <%- @libs.each do |lib| %>
      <li>
        <h3>
          <a href="training/<%= lib.keys.first %>">
            <%= lib.keys.first.titleize %>
          </a>
        </h3>
      </li>
    <% end %>
  </ul>
</div>
