- content_for :before_title, "#{@library.translated_name} - "
.training__show.container
#react_root{ "library-id" => @library.id, "breadcrumbs" => breadcrumbs.to_json, "prog" => progress_data.to_json }