- content_for :before_title, "#{@library.translated_name} - "
.training__show.container
  %ol.breadcrumbs= render_breadcrumbs tag: :li, separator: ' > '
  %div(style="margin-top: 20px")
  #react_root{library_id: @library_id}
