.container.training
  .training__intro
    .training-intro__header
      %h1= @training_module.name
      - markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML)
      - html = markdown.render(@training_module.description)
      = raw html
    .training-intro__cta-container
      = link_to [@training_module.slug, @training_module.slides.first.slug].join('/'),
        class: 'btn btn-primary py2 icon icon-rt_arrow mx2 pull-left' do
        Start
      %h3.py2.pull-left.training-intro__estimated-ttc
        %small Estimated time to complete:
        %br/
        = @training_module.estimated_ttc
  #react_root{ "data-module-id" => params[:module_id] }
