.container
  %h1
    %a{href: '/requested_accounts'}
      Requested Accounts:
      = RequestedAccount.count
.container
  %h1
    %a{href: '/tickets/dashboard'}
      Open Tickets:
      = TicketDispenser::Ticket.where(status: TicketDispenser::Ticket::Statuses::OPEN).count

.container
  %h2 Useful links
  %ul
    %li
      %a{href: '/article_finder'} Article Finder
    %li
      %a{href: '/usage'} Usage
    %li
      %a{href: '/sidekiq'} Job queue
    %li
      %a{href: 'https://dashboard-testing.wikiedu.org/rails/mailers'} Email templates
    %li
      %a{href: '/course_copy_prod'} Copy course from production
    %li
      %a{href: '/faq/new'} Add new FAQ
    %li
      %a{href: '/faq_topics'} FAQ Topics
    %li
      %a{href: '/unsubmitted_courses'} Unsubmitted Courses
    %li
      %a{href: '/feedback_form_responses'} Feedback Form Responses
    