.container
  %h1
    %a{href: '/requested_accounts'}
      Requested Accounts:
      = RequestedAccount.count
.container
  %h1
    %a{href: '/tickets/dashboard'}
      Open Tickets:
      = TicketDispenser::Ticket.where(status: TicketDispenser::Ticket::Statuses::OPEN).count

.container
  %h2 Useful links
  %ul
    %li
      %a{href: '/article_finder'} Article Finder
    %li
      %a{href: '/usage'} Usage
    %li
      %a{href: '/sidekiq'} Job queue
