.container
  %h1
    %a{href: '/requested_accounts'}
      Requested Accounts:
      = RequestedAccount.count
.container
  %h1
    %a{href: '/tickets/dashboard'}
      Open Tickets:
      = TicketDispenser::Ticket.where(status: TicketDispenser::Ticket::Statuses::OPEN).count
