---
http_interactions:
- request:
    method: get
    uri: https://commons.wikimedia.org//w/api.php?action=query&continue=&format=json&list=usercontribs&ucend=20150101000000&uclimit=500&ucnamespace=6&ucshow=new&ucstart=20150701235959&ucuser=Ragesoss
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 129.0.79.156
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"usercontribs":[{"userid":25308,"user":"Ragesoss","pageid":39997963,"revid":159933710,"parentid":0,"ns":6,"title":"File:Designing
        Internet Research class at University of Washington, 2015-04-28 28.jpg","timestamp":"2015-05-05T17:56:19Z","new":"","comment":"User
        created page with UploadWizard","size":586},{"userid":25308,"user":"Ragesoss","pageid":39997962,"revid":159933708,"parentid":0,"ns":6,"title":"File:Designing
        Internet Research class at University of Washington, 2015-04-28 26.jpg","timestamp":"2015-05-05T17:56:18Z","new":"","comment":"User
        created page with UploadWizard","size":586},{"userid":25308,"user":"Ragesoss","pageid":39997961,"revid":159933707,"parentid":0,"ns":6,"title":"File:Designing
        Internet Research class at University of Washington, 2015-04-28 27.[...]
- request:
    method: get
    uri: https://commons.wikimedia.org//w/api.php?action=query&continue=&format=json&iilimit=50&iiprop=url&iiurlheight=480&pageids=37690875%7C37690907%7C37694566%7C37694608%7C37982768%7C37982769%7C37982770%7C37982771%7C37982772%7C37982773&prop=imageinfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 129.0.79.156
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"pages":{"37690875":{"pageid":37690875,"ns":6,"title":"File:Francois
        sagat black in blab LAZombie by Arno Roca (4399955913).jpg","imagerepository":"local","imageinfo":[{"thumburl":"https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Francois_sagat_in_blab_LAZombie_by_Arno_Roca_%284399968971%29.jpg/320px-Francois_sagat_in_blab_LAZombie_by_Arno_Roca_%284399968971%29.jpg","thumbwidth":320,"thumbheight":480,"responsiveUrls":{"1.5":"https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Francois_sagat_in_blab_LAZombie_by_Arno_Roca_%284399968971%29.jpg/480px-Francois_sagat_in_blab_LAZombie_by_Arno_Roca_%284399968971%29.jpg","2":"https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Francois_sagat_in_blab_LAZombie_by_Arno_Roca_%284399968971%29.jpg/640px-Francois_sagat_in_blab_LAZombie_by_Arno_Roca_%284399968971%29.jpg"},"url":"https://upload.wikimedia.org/wikipedia/commons/6/64/Francois_sagat_in_blab_LAZombie_by_Arno_Roca_%284399968971%29.jpg","descriptionurl":"https://commons.wikimedia.org/wiki/File:Francois_sagat_in_blab_LAZombie_by_Arno_Roca_(4399968971).jpg","descriptionshorturl":"https://commons.wikimedia.org/w/index.php?curid=24337352"}]},"37690907":{"pageid":37690907,"ns":6,"title":"File:Ole
        Peter Hansen Balling - Portrait of James Garfield (1881) - Google Art Project.jpg","imagerepository":"local","imageinfo":[{"thumburl":"https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Ole_Peter_Hansen_Balling_-_James_Garfield_-_Google_Art_Project.jpg/400px-Ole_Peter_Hansen_Balling_-_James_Garfield_-_Google_Art_Project.jpg","thumbwidth":400,"thumbheight":480,"respo[...]
[...]
- request:
    method: get
    uri: https://commons.wikimedia.org//w/api.php?action=query&continue=&format=json&iilimit=50&iiprop=url&iiurlheight=480&pageids=39997956%7C39997957%7C39997958%7C39997959%7C39997961%7C39997962%7C39997963&prop=imageinfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; ch[...]
- request:
    method: get
    uri: https://commons.wikimedia.org//w/api.php?action=query&continue=&format=json&gufilterlocal=true&gulimit=500&guprop=namespace&pageids=37690875%7C37690907%7C37694566%7C37694608%7C37982768%7C37982769%7C37982770%7C37982771%7C37982772%7C37982773%7C37982775%7C37982776%7C37982777%7C37982778%7C37982779%7C37982780%7C37982781%7C37982782%7C37982783%7C37982784%7C37982785%7C37982787%7C38577572%7C38577577%7C38577580%7C38577614%7C38577623%7C38577628%7C38577647%7C38577663%7C38577679%7C38577698%7C38577703%7C38577708%7C38577713%7C38577723%7C38577731%7C38577737%7C38577741%7C38577744%7C38577751%7C38577758%7C38577761%7C38577764%7C38577770%7C38577776%7C38577783%7C38577791%7C38577796%7C38793170&prop=globalusage
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 129.0.79.156
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"pages":{"37690875":{"pageid":37690875,"ns":6,"title":"File:Francois
        sagat black in blab LAZombie by Arno Roca (4399955913).jpg","globalusage":[]},"37690907":{"pageid":37690907,"ns":6,"title":"File:Ole
        Peter Hansen Balling - Portrait of James Garfield (1881) - Google Art Project.jpg","globalusage":[]},"37694566":{"pageid":37694566,"ns":6,"title":"File:Coronadiferro-1941-Cegani.png","globalusage":[]},"37694608":{"pageid":37694608,"ns":6,"title":"File:Bastille
        landscape.jpg","globalusage":[]},"37982768":{"pageid":37982768,"ns":6,"title":"File:Helaine
        Blumenthal in Wiki Ed team meeting, 2015-01-14.jpg","globalusage":[]},"37982769":{"pageid":37982769,"ns":6,"title":"File:Ryan
        McGrady in the Wiki Ed office, 2015-01-15.jpg","globalusage":[]},"37982770":{"pageid":37982770,"ns":6,"title":"File:LiAnna
        Davis in Wiki Ed team meeting, 2015-01-14.jpg","globalusage":[]},"37982771":{"pageid":37982771,"ns":6,"title":"File:LiAnna
        Davis portrait, 2015-01-13.jpg","globalusage":[{"title":"User:LiAnna_(Wiki_Ed)","wiki":"en.wikipedia.org","ns":"2"},{"title":"Wikipedia:WikiProject_Women_in_Red/Missing_articles_by_identifier/ORCID","wiki":"en.wikipedia.org","ns":"4"},{"title":"User:LiAnna_(Wiki_Ed)","wiki":"meta.wikimedia.org","ns":"2"},{"title":"Q109554312","wiki":"www.wikidata.org","ns":"0"}]},"37982772":{"pageid":37982772,"ns":6,"title":"File:Jami
        Mathewson portrait, 2015-01-13.jpg","globalusage":[]},"37982773":{"pageid":37982773,"ns":6,"title":"File:Ryan
        and Helaine in Wiki Ed team meeting, 20[...]
[...]
- request:
    method: get
    uri: https://commons.wikimedia.org//w/api.php?action=query&continue=&format=json&gufilterlocal=true&gulimit=500&guprop=namespace&pageids=39637721%7C39637722%7C39637724%7C39637725%7C39997029%7C39997030%7C39997036%7C39997037%7C39997039%7C39997040%7C39997042%7C39997048%7C39997049%7C39997433%7C39997434%7C39997435%7C39997439%7C39997443%7C39997444%7C39997915%7C39997916%7C39997917%7C39997919%7C39997921%7C39997924%7C39997927%7C39997928%7C39997931%7C39997934%7C39997935%7C39[...]
