.block--text
  font-family $header-font

.survey__block-nav
  align-items flex-end
  overflow hidden
  padding-top $spacer

.block .survey__block-nav.submit
  text-align center
  .button
    float none
  