.block--text
  font-family $header-font

.survey__block-nav
  align-items flex-end
  overflow hidden
  padding-top $spacer

.block .survey__block-nav.submit
  text-align center
  .button
    float none
    

.survey-page .block
  position relative
  z-index 10
  transition 300ms opacity easeOutExpo
  max-width $survey_max_width
  margin 40px auto
  
  +above(tablet)
    font-size 19px
    line-height 24px
  
  &.survey__form
    margin-top 2em
  
  & > label
    display block
    margin-bottom $spacer
    font-weight bold
  
  &--clear
    overflow hidden
  