.button
  font-size 15px
  color $text

.button.dark,
input.button.dark
  background-color sprout
  border-color sprout

  &:hover
    background-color $primary_button_hover
    border-color $primary_button_hover

  .icon
    font-size 12px
    padding-left 10px
    margin 0
