.simple_form label.inline-label
  display inline
  vertical-align middle

select[multiple]
  display block
  width 100%

form:focus
  outline 0

.form__row
  padding 1em 0

.form__block
  padding-bottom 1em

.form__actions
  overflow hidden
  padding-top 1em

.form__actions.danger
  text-align right
  a
    color warning

.input.string input[type=text]
  width 100%
