.survey-page .survey__question-row
  input, textarea, select, .expandingArea > pre
    background-color $bg_light_gray
    color $text_dk
    font-size 17px
    &:focus
      border-color $contextual
