.block
  padding 23px 30px 30px

.block.survey__question--matrix
  padding 23px 0 30px
  +above(tablet)
    padding 23px 30px 30px

.block.question-type--short input[type='text']
  display block
  width 100%

.question-type--radio
  position relative

.question-type--radio input[type=radio],
.question-type--checkbox input[type=checkbox]
  opacity 0
  position absolute
  top -2px
  left 8px
  z-index 3

.question-type--radio span
  position relative
  margin-left 10px

.question-type--select select
  background: linear-gradient(-180deg, rgba(255,255,255,0.12) 0%, rgba(0,0,0,0.08) 100%)
  border: 1px solid #aaa;
  border-radius 5px
  box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);

.question-type--select .survey__question-text
  position relative

.question-type--select .survey__question-text:after
  content ''
  background url('/assets/images/chosen-sprite.png') no-repeat
  position absolute
  z-index 5
  display block
  right 5px
  bottom -52px
  width 20px
  height 20px
  background-size 56px 41px


.survey__multiple-choice-field .label
  position relative
  display block
  margin 0
  padding 10px 5px 10px 60px
  border-radius 3px
  font-weight 400
  color $text_dk

.survey__multiple-choice-field__radio-circle
.survey__multiple-choice-field__checkbox
  width 10px
  height 10px
  border-radius 50%
  border 1px solid darken(mercury, 25%)
  position absolute
  left 14px
  top 50%
  transform translateY(-50%)
  width 12px
  height 12px

.survey__multiple-choice-field__checkbox
  border-radius 2px

.survey__multiple-choice-field input[type=radio]:checked + .label,
.survey__multiple-choice-field input[type=checkbox]:checked + .label
  background sprout
  color white

  a
    color white

.survey__multiple-choice-field
  input[type=radio]:checked ~ .survey__multiple-choice-field__radio-circle
  input[type=checkbox]:checked ~ .survey__multiple-choice-field__checkbox
    background sprout-dark
    border-color sprout-dark

  input[type=radio]:checked ~ .survey__multiple-choice-field__radio-circle
    background sprout-dark
    border-color sprout-dark

    &:after
      content ""
      display block
      position absolute
      width 6px
      height 6px
      background white
      border-radius 50%
      border none
      left 2px
      top 2px

  input[type=checkbox]:checked ~ .survey__multiple-choice-field__checkbox:after
    content  "\2713 "
    position absolute
    top -10px
    color white
    font-size 19px

.matrix-row .survey__multiple-choice-field input[type=radio]:checked ~ .survey__multiple-choice-field__radio-circle:after
  left 4px
  top 4px
  width 7px
  height 7px

.survey__multiple-choice-field:before
  content ""
  display block
  position absolute
  left 0
  top 0
  bottom 0
  width 40px
  background darken(athens, 2.5%)
  border-right 1px solid darken(mercury, 5%)
  border-top-left-radius 3px
  border-bottom-left-radius 3px

.survey__multiple-choice-field
  display block
  background athens
  border 1px solid mercury
  border-radius 3px
  // padding $spacer * .5
  margin-bottom $spacer
  cursor pointer
  position relative
  transition 100ms easeOutExpo

  &:hover
    background darken(athens, 5%)

  span
    display inline-block
    padding 0
    vertical-align middle

  .check
    position absolute
    top 0
    left 0
    width 30px
    height 100%

// Allow html links to be clickable
.survey__multiple-choice-field__option
  position relative
  z-index 5


// Range Inputs

.range-input
  position relative
  margin-bottom 40px

[data-range-field]
  visibility hidden

.rangeslider__fill
  background rgba(sprout, .5)

.noUi-connect
  background sprout

.input[type="range"]:focus + .rangeslider .rangeslider__handle
  box-shadow none

.noUi-target {
  width: 100%;
}

.noUi-connect
  background sprout

.input[type="range"]:focus + .rangeslider .rangeslider__handle
  box-shadow none

.noUi-target {
  width: 100%;
}

.noUi-pips
  font-size 14px
  font-weight 600

.noUi-horizontal.noUi-extended {
  padding-right: 32px;
}
.noUi-horizontal.noUi-extended .noUi-handle {
  left: -1px;
}
.noUi-horizontal.noUi-extended .noUi-origin  {
  right: -32px;
}

.noUi-handle:after
  background none
  content ""
  position absolute
  left 0
  border-width 0 7px 10px
  border-style solid
  border-color sprout transparent
  display block
  width 0
  left 50%
  top 100%
  transform translate(-50%, -10px)

.noUi-handle:before
  content attr(data-content)
  transform translateY(130%)
  background sprout
  color white
  width 130%
  left -15%
  top 0
  height 30px
  cursor default

.noUi-handle
  text-align center
  line-height 28px
  font-weight 600
  font-size 15px
  background-image url('/assets/images/uiSlider-Handle-Background.png')
  background-repeat no-repeat
  background-position center
  background-size contain
  cursor pointer

// Course Data

[data-course-question-select].loading ~ .chosen-container
  visibility hidden
  height 0
  overflow hidden
