body.survey-page
  .survey__edit,
  .survey__admin
    max-width 800px
    .block
      max-width 100%
    
    & > h2
      color white

.survey__admin__nav
  list-style none
  text-align center
  li
    display inline-block
  a
    color white

.survey__admin
  trix-editor
    background-color athens
    margin-bottom $spacer * 2