.survey-page .block--thank-you__container
  padding 30px
  +above(tablet)
    padding 100px

  h2.big-title
    text-align center
    font-weight 300
    color bayoux
    +above(tablet)
      font-size 45px

  p
    line-height 1.35
