body.survey-page .survey__login
  padding $spacer * 5

  h1
    color manatee
    font-weight 100
    font-size 34px
    line-height 42px

  .lead
    color $text
    font-size 16px
    +above(tablet)
      max-width 80%
      margin 0 auto $spacer * 3

  .button
    float none
    background manatee
    border-color manatee

    .icon
      font-size 18px
      width 35px
      height 18px
      // &:before
      //   position absolute
      //   position relative
      //   top 50%
      //   transform translateY(-50%)


    i, span
      vertical-align middle
      display inline-block
