html.survey-page
  overflow-y scroll

body.survey-page
  background-color $survey_background
  background-size cover

  #main, .slick-track, .slick-slider, .slick-list
    height inherit

  h1, h3
    color $text_dk

  .notice
    background-color sprout

  .p
    padding $spacer

  .py
    padding-top $spacer
    padding-bottom $spacer

  .px
    padding-left $spacer
    padding-right $spacer

  .form-inputs
    margin-bottom $spacer

  .block input[type=text],
  .block textarea,
  .block > div
    font-size 17px
    line-height 24px

  .question-type--radio,
  .question-type--checkbox
    a[target='_blank']
      margin-right 4px
    a[target='_blank']:after
      font-family "icons"
      content "\EA10"
      display inline-block
      position relative
      margin-left 4px
      top -3px
      z-index 5
      font-size 8px

  // .block.disabled
  //   opacity .5
  //   z-index 1
  //
  // .block.not-seen
  //   opacity 0
  //
  // .block.block--errors
  //   opacity 1



  .survey__slide-form
    margin 2em auto

  footer,
  footer a
    color text

  .errors
    color $warning_text

ul.list--survey
  position relative
  padding 1em 0
  .course-list__col
    padding 0 1em

.row.row--survey-question .row__wrapper,
.row.row--survey-question div:not(.drawer):last-child
  display flex

  & > div:first-child
    flex 1
    padding-right 1rem

  a
    display inline-block
    margin-right 1rem

.block.survey__submit-block
  overflow hidden
  text-align center
  .button
    float none

.highlight label.survey__multiple-choice-field
  background $warning-background
  border-color $warning_border

  &:before
    background $warning-background

.block.survey__slide-form
  overflow hidden

.survey__title
  font-size 21px
  color $text_dk

.survey__next span
  display inline-block
  vertical-align middle
  position relative
  &:first-child
    margin-right 10px
    top -1px

  &.icon
    top 1px

.button.survey__prev.border
  color $text
  border-color $text
  &:hover
    background athens

.survey__multiple-choice-field
  .field_with_errors
    display inline-block

.survey__admin-tools
  max-width $survey_max_width
  margin 1rem auto
  text-align right
  color white

  a
    color white

.survey__title-form
  input[type='text']
    width 400px

.survey__footer
  position fixed
  z-index 10
  bottom 0
  left 0
  right 0
  width 100%
  background white
  padding 1rem 0

.survey__progress
  background sprout-dark
  position relative
  float right
  width 200px
  height 20px
  border-radius 5px
  overflow hidden

  +above(tablet)
    margin-left auto

  &-bar
    position absolute
    left 0
    top 0
    width 0%
    height 30px
    background sprout
    transition width 500ms cubic-bezier(0.19, 1, 0.22, 1)
    border-right 2px solid darken(sprout-dark, 10%)
