body.survey-page
  .survey__edit,
  .survey__admin
    // max-width 800px
    .block
      max-width 100%

    & > h2
      color white

  .form-inputs.survey__title-input
    margin-bottom $spacer * 4

.survey__admin .block .button
  float none

.survey__admin-tools
  background none
  max-width $survey_max_width

.survey__admin-actions
  padding $spacer 0

.survey__admin__nav
  overflow hidden
  background white

  ul
    list-style none

  li
    float left
    margin 0
    border-right rgba($contextual, .25) 1px solid

  a
    padding $spacer
    display block
    text-decoration none
    color $text
    &.active
      background rgba($contextual, .25)

.survey__admin-tools
  padding-top $spacer
.survey__admin
  trix-editor
    background-color athens
    margin-bottom $spacer * 2

.survey__title-input input[type=text]
  width 100%
  max-width 500px

.surveys__admin-header
  background $survey_color
  margin-bottom $spacer * 2

.surveys__admin-header--question-groups
  background $question_group_color

.surveys__admin-header--assignment
  background $assignment_color

.surveys__admin-header--survey_results
  background $survey_results_color

body.survey-page .surveys__admin-header h1
  color white
  font-weight 300
  margin 0

.surveys__admin-header .button.border
  border-color white
  color white
  &:hover
    background white
    color $text_dk

.surveys__admin-header__action
  margin-left auto

.surveys__admin-header .container
  width 100%
  display flex

.ui-tabs-nav
  list-style none
  margin 0
  li
    display inline-block
    margin 0
    position relative
    top 1px

  a
    display block
    padding 5px 10px
    border 1px solid $border_lt
    &:focus
      outline 0

  .ui-state-active a
    border-bottom 1px solid white

.ui-tabs-panel
  padding 10px
  border 1px solid $border_lt
