.survey-assignments
  label.check_boxes,
  label.radio_buttons
    font-weight bold
    
  .radio_buttons,
  .check_boxes
    padding 1em 0
  
.row.survey-assignment__row .row__wrapper 
  display block
  div
    display block

table.survey-assignment__courses
  tr
    border-top 1px solid $border_lt
    &:nth-child(odd)
      background alabaster
  td, th
    padding 5px 10px
  
  th button
    font-weight bold
  
  .sort.desc:after
  .sort.asc:after
    display inline-block
    content '\EA01'
    vertical-align middle
    font-family "icons"
    font-size 12px
    margin-left 3px
    transition transform .2s

  .sort.asc:after
    transform rotate(180deg)
  .sort.desc:after
    transform rotate(0deg)