.new_question_group
  input[type=text]
    min-width 300px

.survey__question-text
  margin-bottom $spacer
  font-weight bold

.survey__question__assistive-text
  margin-bottom 5px

.survey__question-required
  color $warning_text
  font-weight 400

.survey__question__option-row
  margin-bottom 1rem
  