<div class="drawer" rel="<%= user_revisions_path(user_id: user.id, course_id: @course.id, limit: 3) %>">
  <div class="row revision-list__row list__header revision-list__sort">
    <div class="row__wrapper">
      <div class="revision-list__row__title">
        <h6>User Contributions</h6>
      </div>
      <div class="revision-list__row__date">
        <p class="date">Date/time</p>
      </div>
      <div class="revision-list__row__characters">
        <p class="characters">Chars. added</p>
      </div>
      <div class="revision-list__row__views">
        <p class="views">Views</p>
      </div>
      <div class="revision-list__row__link"></div>
    </div>
  </div>
  <ul class="list">
  </ul>
  <div class="row view-all">
    <div><p><%= link_to "View More Contributions", user_revisions_path(user_id: user.id, course_id: @course.id, drop: 3), {:class => "inline"} %></p></div>
  </div>
</div>