<div class="drawer">
  <div class="row revision-list__row list__header revision-list__sort">
    <div class="row__wrapper">
      <div class="revision-list__row__title">
        <h6>User Contributions</h6>
      </div>
      <div class="revision-list__row__date">
        <p class="date">Date/time</p>
      </div>
<!--       <div class="revision-list__row__namespace">
        <p class="namespace">Namespace</p>
      </div> -->
      <div class="revision-list__row__characters">
        <p class="characters">Chars. added</p>
      </div>
      <div class="revision-list__row__views">
        <p class="views">Views</p>
      </div>
      <div class="revision-list__row__link"></div>
    </div>
  </div>
  <ul class="list">
  <% @user_revs = @course.revisions.where(user_id: user.id).order(date: :desc) %>
  <% @user_revs.limit(3).each do |r| %>
    <%= render :partial => 'revisions/row', :locals => {:revision => r} %>
  <% end %>
  </ul>
  <% if @user_revs.count > 3 %>
  <div class="row view-all">
    <div><p><%= link_to "View More Contributions", {:action => "students"}, {:class => "inline"} %></p></div>
  </div>
  <% end %>
</div>