<div class="row user-list__row list__header user-list__sort">
  <div class="row__wrapper">
    <div class="user-list__row__name sort" data-sort="name"><p>Name</p></div>
    <div class="user-list__row__training sort" data-default-order="desc" data-sort="training" title="<%= t("user.training") %>"><p>Completed training</p></div>
    <div class="user-list__row__characters-ms sort desc" data-default-order="desc" data-sort="characters-ms" title="<%= t("user.character") %>"><p>Mainspace<br>chars added</p></div>
    <div class="user-list__row__characters-us sort" data-default-order="desc" data-sort="characters-us"><p class="characters-us" title="<%= t("user.character") %>">Userspace<br>chars added</p></div>
    <div class="user-list__row__spacer"></div>
    <div class="user-list__row__edits sort" data-default-order="desc" data-sort="edits"><p class="edits">Edits</p></div>
    <div class="user-list__row__link"></div>
  </div>
</div>