<li class="row user-list__row">
  <div class="user-list__row__name"><div class="avatar"></div><p><%= user.wiki_id %></p></div>
  <div class="user-list__row__training"><p>No</p></div>
  <div class="user-list__row__revisions"><p><%= user.character_sum %></p></div>
  <div class="user-list__row__link"><%= link_to 'View Edits', user.contribution_url, :target => "_blank", :class => "button" %></div>
</li>