<li class="row user-list__row">
  <div class="user-list__row__name"><div class="avatar"></div><h5><%= user.wiki_id %></h5></div>
  <div class="user-list__row__training"><h5>No</h5></div>
  <div class="user-list__row__revisions"><h5><%= user.character_sum %></h5></div>
  <div class="user-list__row__link"><%= link_to 'View Edits', user.contribution_url, :target => "_blank", :class => "button" %></div>
</li>