%h5 Course notification
.notification
  .container
    %p Notification text
    %button.button Submit
%br/
%h5 System notification
.notifications
  .notice
    .container
      %p
        %strong Error:
        There was an error
      <svg viewbox="0 0 24 24" preserveAspectRatio="xMidYMid meet" style="fill: currentcolor; vertical-align: middle; width: 32px; height: 32px;"><g><path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"></path></g></svg>

%br/
.sg-note
  TODO:
  %ul
    %li Consolidate system/course notification CSS
    %li Put close icon in icon font
