%button.button Default
%button.button.dark Dark
%button.button.ghost-button Ghost button
%button.button.border Border
%button.button.button--clear Clear button
%button.button.danger Danger

%br/
%br/

%button.button
  Icon button
  %i.icon.icon-rt_arrow
%button.button.small Small

%br/
%br/

.sg-inverse
  %button.button.border.inverse-border Inverse border

%br/
%br/

%button.link-button Link Button

%br/
%br/
.campaign-path
  %button.button.dark.green Create a New Campaign

%br/
.campaign-path
  %button.button.dark.green
    Button with icon
    %i.icon.icon-plus

%br/

.sg-note
  TODO:
  %ul
    %li Survey and training have green buttons