%button.button Default
%button.button.dark Dark
%button.button.ghost-button Ghost button
%button.button.border Border
%button.button.inverse-border Inverse border
%button.button.button--clear Clear button
%button.button.danger Danger

%br/
%br/

%button.button
  Icon button
  %i.icon.icon-rt_arrow
%button.button.small Small

%br/
%br/

%button.link-button Link Button

.sg-note
  TODO:
  %ul
    %li Icons in buttons don't Just Work™ and one-off styles are always created
    %li Survey and training have green buttons
    %li Default margin-left is problematic and often requires overrides
