.sg-note
  TODO:
  %ul
    %li Panels for Course Details
    %li Week blocks for Course > Timeline
    %li Cards for Dashboard > Your Courses
    %li Card list for Surveys (they're just called rows)

