%fieldset
  %label.input_wrapper
    %span Name
    %input{type: "text", placeholder: "Name"}/
%fieldset
  %label.input_wrapper
    %span Email
    %input{type: "email", placeholder: "Email"}/

.sg-note
  TODO:
  %ul
    %li Labels
    %li Required fields
    %li Validation
    %li Horizontal/inline alignment
    %li Vertical alignment
    %li Field group labels (e.g., "Survey Notifications" with 4 subsequent fields related to survey notifications. Used in Survey Assignment form)
