%div
  .button.button--clear
    %i.icon.icon-arrow-down
  Arrow down


%div
  .button.button--clear
    %i.icon.icon-arrow-up
  Arrow up


%div
  .button.button--clear
    %i.icon.icon-arrow
  Arrow


%div
  .button.button--clear
    %i.icon.icon-check
  Check


%div
  .button.button--clear
    %i.icon.icon-circle_q_mark
  Circle question mark


%div
  .button.button--clear
    %i.icon.icon-left_arrow
  Left arrow


%div
  .button.button--clear
    %i.icon.icon-message
  Message


%div
  .button.button--clear
    %i.icon.icon-plus
  Plus


%div
  .button.button--clear
    %i.icon.icon-restart
  Restart


%div
  .button.button--clear
    %i.icon.icon-rt_arrow
  Right arrow


%div
  .button.button--clear
    %i.icon.icon-search
  Search


%div
  .button.button--clear
    %i.icon.icon-sort
  Sort


%div
  .button.button--clear
    %i.icon.icon-trash_can
  Trash


%div
  .button.button--clear
    %i.icon.icon-up_arrow
  Up arrow


%div
  .button.button--clear
    %i.icon.icon-wiki-logo-purple
  Wiki logo


%div
  .button.button--clear
    %i.icon.icon-z-external-link
  External link

