%div.logo
  = image_tag logo_path
  %span Style Guide

%ul
  %li
    %a{href: "#typography"}Typography
  %li
    %a{href: "#buttons"}Buttons
  %li
    %a{href: "#formcontrols"}Form Controls
  %li
    %a{href: "#forms"}Forms
  %li
    %a{href: "#popovers"}Popovers
  %li
    %a{href: "#progressandloading"}Progress and loading
  %li
    %a{href: "#tables"}Tables
  %li
    %a{href: "#tabs"}Tabs
  %li
    %a{href: "#tooltips"}Tooltips
  %li
    %a{href: "#alerts"}Alerts
  %li
    %a{href: "#stats"}Stats
  %li
    %a{href: "#cards"}Cards
  %li
    %a{href: "#icons"}Icons
  %li
    %a{href: "#breadcrumbs"}Breadcrumbs
