#popover

.sg-note
  TODO
  %ul
    %li
      Popover React component requires a wrapping .pop__container div.
      The component should possibly contain this wrapper.
    %li
      Currently the Popover component expects table rows to be passed in as
      content. Perhaps a more generic content-agnostic popover should be created?
