.stat-display
  .stat-display__stat
    .stat-display__value 3
    %small Articles Created
  .stat-display__stat
    .stat-display__value 66
    %small Articles Edited
  .stat-display__stat
    .stat-display__value 417
    %small Total Edits
  .stat-display__stat.tooltip-trigger
    .stat-display__value 12
    %small Student Editors
    .tooltip.dark
      %h4.stat-display__value.0 12
      %p.1 are up-to-date with training
  .stat-display__stat
    .stat-display__value 70.9K
    %small Words Added
  .stat-display__stat
    .stat-display__value 1.44M
    %small Article Views