.sg-note
  TODO:
  %ul
    %li Expandable rows
    %li Sortable
    %li Hoverable/clickable rows
    %li Striped
    %li Buttons/links/inputs in row
    %li Filters?
    %li Dashboard Courses table header style vs Recent Activity styles, consolidate
