.popover-trigger
  Hover for tooltip
  .popover.dark
    %p
      Tooltip text
%br/
%br/
.popover-trigger
  Tooltip
  .popover.dark{style: "opacity: 1; top: 110%;" }
    %p
      Tooltip text

%br/
%br/

.sg-note
  TODO:
  %ul
    %li They're called popovers in CSS/code, but they're different than the actual Popover component.
