.tooltip-trigger
  Hover for tooltip
  .tooltip.dark
    %p
      Tooltip text

%br/
%br/
.tooltip-trigger
  With indicator
  %span.tooltip-indicator
  .tooltip.dark
    %p
      Tooltip text
%br/
%br/
.tooltip-trigger
  Tooltip
  .tooltip.dark{style: "opacity: 1; top: 110%;" }
    %p
      Tooltip text

%br/
%br/
