- if Features.wiki_ed?
  %script{src: "//cdnjs.cloudflare.com/ajax/libs/vega/4.2.0/vega.min.js", charset: "utf-8"}
  %script{src: "//cdnjs.cloudflare.com/ajax/libs/vega-embed/3.20.0/vega-embed.min.js", charset: "utf-8"}
- else
  %script{src: "//wikiedudashboard.toolforge.org/vega.min.js", charset: "utf-8"}
  %script{src: "//wikiedudashboard.toolforge.org/vega-embed.min.js", charset: "utf-8"}
