%script{src: "//cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js", charset: "utf-8"}
%script{src: "//cdnjs.cloudflare.com/ajax/libs/vega/2.6.5/vega.min.js", charset: "utf-8"}
%script{src: "//cdnjs.cloudflare.com/ajax/libs/vega-embed/2.2.0/vega-embed.min.js", charset: "utf-8"}
