.container
  %h1 Results
  - @results.each do |result|
    %li= if result[:success] then 'Sucess : ' + result[:success] else 'Failure : ' + result[:failure] end

.container
  %a.button{href: "/campaigns/#{@campaign.slug}"} Return to campaign page
