%section.supporters.light
  .container
    %h2
      Support for Wiki Education is provided by:

    .logos
      .logo-column
        %a{href: 'https://wikimediafoundation.org/'}
          =image_tag "https://wikiedu.org/wp-content/uploads/2022/10/600px-Wikimedia_Foundation_RGB_logo_with_text.svg-300x300.png", alt: 'Wikimedia Foundation logo'
      .logo-column
        %a{href: 'https://hewlett.org/about-us/'}
          =image_tag "https://wikiedu.org/wp-content/uploads/2022/10/Hewlett_Logo_RGB__full-1024x395.png", alt: 'Hewlett Foundation logo'
      .logo-column
        %a{href: 'https://www.mellon.org/'}
          =image_tag "https://wikiedu.org/wp-content/uploads/2024/01/Mellon_Logomark_Lockup_Black.png", alt: 'Mellon Foundation logo'
      .logo-column
        %a{href: 'https://broadcomfoundation.org/'}
          =image_tag "https://wikiedu.org/wp-content/uploads/2022/10/logo-3.png", alt: 'Broadcom Foundation logo'
      .logo-column
        %a{href: 'https://guru-krupa.org/'}
          =image_tag "https://wikiedu.org/wp-content/uploads/2022/10/GuruKrupa-Col-Sm.png", alt: 'Guru Krupa Foundation logo'
      .logo-column
        %a{href: 'https://nielsen-foundation.org/'}
          =image_tag "https://wikiedu.org/wp-content/uploads/2023/01/Nielsen_Foundation_Logo_FullColor_FINAL-1024x354.png", alt: 'Nielsen Foundation logo'
      .logo-column
        %a{href: 'https://www.kressfoundation.org/'}
          =image_tag "https://wikiedu.org/wp-content/uploads/2023/05/Kress_Logo_K25.svg", alt: 'Kress Foundation logo'
      .logo-column
        %a{href: 'https://withfoundation.org/'}
          =image_tag "https://wikiedu.org/wp-content/uploads/2023/06/WITH.svg", alt: 'WITH Foundation logo'
      .logo-column
        %a{href: 'https://www.rapoportfdn.org/'}
          =image_tag "https://wikiedu.org/wp-content/uploads/2024/01/Rapoport_BW.png", alt: 'Bernard & Audre Rapoport Foundation logo'
      .logo-column
        %a{href: 'https://hornefamilyfoundation.org/environmental-home/'}
          =image_tag "https://wikiedu.org/wp-content/uploads/2024/01/LogomarkLogotype_Stacked.jpg", alt: 'Horne Family Foundation logo'