%section.supporters.light
  .container
    %h2
      Grants for student learning and faculty support are provided by:

    .logos
      .logo-column
        %a{href: 'https://guru-krupa.org/'}
          =image_tag "https://wikiedu.org/wp-content/uploads/2022/10/GuruKrupa-Col-Sm.png", alt: 'Guru Krupa Foundation logo'
      .logo-column
        %a{href: 'https://www.rapoportfdn.org/'}
          =image_tag "https://wikiedu.org/wp-content/uploads/2024/01/Rapoport_BW.png", alt: 'Bernard & Audre Rapoport Foundation logo'
      .logo-column
        %a{href: 'https://hornefamilyfoundation.org/environmental-home/'}
          =image_tag "https://wikiedu.org/wp-content/uploads/2024/01/LogomarkLogotype_Stacked.jpg", alt: 'Horne Family Foundation logo'