<<<<<<< HEAD
- content_for :before_title, "#{current_user.username} Settings"
=======
>>>>>>> f3815a4f0 (Done)
-user =  current_user.to_json(only: [:real_name, :email, :permissions, :username]).to_str

%div#react_root{"data-current_user" => user}
