.section-header.surveys__admin-header.surveys__admin-header--question-groups.surveys__admin-header--question-groups--edit
  .container
    %div
      %h1 Editing #{@question_group.name}
    .surveys__admin-header__action
      .form__actions
        = f.button :submit,"Save Question Group", class: 'button border button--no-margin'
