.section-header.surveys__admin-header.surveys__admin-header--question-groups
  .container
    %div
      %h1 Question Groups
    .surveys__admin-header__action
      = link_to "New Question Group", new_question_group_path, :class => 'button button--no-margin border'
