<%= render 'admin_header' %>
<div class='container survey__edit'>
<div class='section-header'>

<% if @question_groups.length > 0 %>
  <ul class='list list--survey'>
      <%= render partial: "question_group", collection: @question_groups %>
  </ul>
<% else %>
  <p class='light-text'>No Question Groups. <%= link_to "Create One", new_question_group_path%></p>
<% end %>


</div>
