!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hello, #{@user.username}
    %p
      A survey is available for: #{@course.title}
    
    %div
      = link_to "Take Survey", survey_url(@survey), :target => '_blank'