= "Hello, #{@user.username}! Welcome to #{@course.title}."
\
The Wiki Education Foundation is conducting a research project about Wikipedia-based
assignments, and we're asking for your help.
\
When you take our brief online survey at the start and end of your
assignment, we’ll provide you with personal feedback for you to
compare what you know now with what you'll know then. Nobody
else will see your personal info. Your instructor won't see the
survey, and it will not be part of your grade.
\
Click below to see what we hope to learn, and to take the survey!
\
Best, Zach McDowell
\
= survey_url(@survey)
\
