# This example configuration is suitable for a development environment.
# Depending on which features you are working on, you may need to make
# adjustments to enable, disable, or configure certain features.

# This is the main switch between the Wiki Education configuration
# and the Programs & Events Dashboard configuration.
# Set this to 'true' to enable Wiki Education-only features,
# or set it to 'false' to enable the features used for the global community
# instance of the Dashboard.
  wiki_education: 'false'

# The name of the dashboard
  dashboard_title: Programs and Events Dashboard
# The root url of the dashboard
  dashboard_url: outreachdashboard.wmflabs.org
# description of the dashboard for the 'meta' html tag, which is used by search
# engines
  meta_description: Programs and Events dashboard for Wikimedia editing projects

  contact_email: 'contact@wikiedu.org'

  # This is the basis for login/session cookies for Docker builds.
  # It gets turned into an environment variable during the build process
  # by `waypoint.hcl`.
  secret_key_base: <some output from `rails secret`>

# a message to display to all users at the top of each page
# sitenotice: "NOTICE: The system will go down for maintenance soon."

# Pages on meta.wikimedia.org that define training content.
# Only
  training_slides_wiki_page: 'Training modules/dashboard/slides'
  training_modules_wiki_page: 'Training modules/dashboard/modules'
  training_libraries_wiki_page: 'Training modules/dashboard/libraries'

# Wikimedia OAuth consumer details. Register a consumer at:
# https://meta.wikimedia.org/wiki/Special:OAuthConsumerRegistration/propose
# No one but the user who registers the consumer will be able to log in until
# the consumer gets approved by Wikimedia Foundation staff.
# The example keys are for an auth-only consumer that can be used for development.
# Details about the example consumer can be found here: https://meta.wikimedia.org/w/index.php?title=Special:OAuthListConsumers/view/3f9cb511cf7d0d23f10bbf6fbdc77b26
# Use that url with the wikipedia_token from another consumer to look up the edit rights
# available to it.
  wikipedia_token: 6e171fe7c5fc549ecce52471d22a6b0a
  wikipedia_secret: 7f345a52566194a19d2adba5fcbb802e8c79f7ef

# Setting disable_wiki_output to 'true' means course pages will not be mirrored
# to the wiki, and other on-wiki edits will not be attempted.
# The default OAuth token does allow edits, so take care with this setting even
# in a development environment.
# If enabled here, edits must also be enabled explicitly on a per-wiki
# basis. See below.
  disable_wiki_output: 'true'

# Projects with automatic edits enabled, add as edit_<language>.<project_url>
# edit_en.wikipedia.org: "true"

# The default language version of Wikipedia: <wiki_language>.wikipedia.org
  wiki_language: en

# The prefix for all course pages that get posted on behalf of users.
# In production, this should probably be in the Project (Wikipedia) namespace,
# and should be a prefix that will only be used for this purpose.
# In development, userspace is a safe option.
  course_prefix: 'User:Ragesock'
  course_talk_prefix: 'User_talk:Ragesock'

# This is the community discussion page where new courses should be announced.
  course_announcement_page: 'User:Ragesock'

# Comma-separated list of OAuth client IDs used by the system for Wiki edits
  oauth_ids: '252,212'

# Page ID of the page that is used to indicate training completion. If a user
# has edited this page, they will be counted as having completed training.
  training_page_id: '36892501'

# To set up error logging via Sentry, add a Sentry project url here:
  sentry_dsn: 'http://somelongkey:anotherlongkey@sentry.myserver.com/1'
  sentry_public_dsn: 'http://anotherlongkey@sentry.myserver.com/1'

# The slug for the default campaign
  default_campaign: "miscellanea"

# How many days after a course ends should the dashboard continue updating
# data for it?
  update_length: "30"

# What is the cutoff score for "article completeness" to flag articles/drafts
# as potential DYK candidates?
  dyk_wp10_limit: "30"

# Uncomment cron_log_debug to use log level 'debug' for update logs. The default is 'info'.
#  cron_log_debug: "true"

# Uncomment no_views to disable view stats updates.
# no_views: "true"

# Logo filename, under the /images directory.
  logo_file: "outreach-logo.png"

# Favicon filename, under /images
  favicon_file: "outreach-logo.png"

# Development-mode favicon filename, under /images
  favicon_dev_file: "favicon_dev.png"

# Enable hot-loading development features. This will only work with 'yarn hot' running.
  hot_loading: 'false'

# Default sender for emails
  SENDER_EMAIL_ADDRESS: 'test@example.com'

# ==== Ticketing System Environment Variables
# Email at which to receive forwarded ticket emails
  TICKET_FORWARDING_DOMAIN: 'wikiedu.org'
  SALESFORCE_BCC_EMAIL: 'salesforce@salesforce.com'

# Whitelisted test emails for staging and development
# Except in production, the system will only send mail to these addresses.
  survey_test_email: 'developmer@yourdomain.me'

# Username of communications manager who receives certain alert emails
# Can be left blank.
  communications_manager: 'Sage (Wiki Ed)'
# Username of user who will receive requests for technical help from the Get Help button
# Can be left blank.
  technical_help_staff: 'Sage (Wiki Ed)'

# Secret for authentication with Wikimedia Event Center
# Generate one for production or staging via `rails secret`
# WikimediaCampaignsPlatformSecret: 
