---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvdir=newer&rvend=2025-12-10T23:59:59Z&rvlimit=1&rvprop=timestamp%7Cuser%7Cids&rvstart=2025-08-18T00:00:00Z&rvuser=Kfase&titles=Media_multiplexity_theory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Sentry-Trace:
      - 9dee93985bcd42c6add82bb58d1f20d4-3a6ec0fa4c734329
      Baggage:
      - sentry-trace_id=9dee93985bcd42c6add82bb58d1f20d4,sentry-sample_rand=0.431405,sentry-environment=test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 4.43.228.235
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"Media_multiplexity_theory","to":"Media
        multiplexity theory"}],"pages":{"75215900":{"pageid":75215900,"ns":0,"title":"Media
        multiplexity theory","revisions":[{"revid":1310268231,"parentid":1291883584,"user":"Kfase","timestamp":"2025-09-08T16:41:19Z"}]}}}}'
  recorded_at: Mon, 04 May 2026 05:16:37 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvdir=newer&rvend=2025-12-10T23:59:59Z&rvlimit=1&rvprop=timestamp%7Cuser%7Cids&rvstart=2025-08-18T00:00:00Z&rvuser=JakeZim16&titles=Media_multiplexity_theory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Sentry-Trace:
      - 9dee93985bcd42c6add82bb58d1f20d4-3a6ec0fa4c734329
      Baggage:
      - sentry-trace_id=9dee93985bcd42c6add82bb58d1f20d4,sentry-sample_rand=0.431405,sentry-environment=test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 4.43.228.235
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"Media_multiplexity_theory","to":"Media
        multiplexity theory"}],"pages":{"75215900":{"pageid":75215900,"ns":0,"title":"Media
        multiplexity theory","revisions":[{"revid":1322934870,"parentid":1310268231,"user":"JakeZim16","timestamp":"2025-11-18T18:08:11Z"}]}}}}'
  recorded_at: Mon, 04 May 2026 05:16:37 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvdir=older&rvend=2025-08-18T00:00:00Z&rvlimit=1&rvprop=timestamp%7Cuser%7Cids&rvstart=2025-12-10T23:59:59Z&rvuser=Kfase&titles=Media_multiplexity_theory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Sentry-Trace:
      - 9dee93985bcd42c6add82bb58d1f20d4-3a6ec0fa4c734329
      Baggage:
      - sentry-trace_id=9dee93985bcd42c6add82bb58d1f20d4,sentry-sample_rand=0.431405,sentry-environment=test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 4.43.228.235
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"Media_multiplexity_theory","to":"Media
        multiplexity theory"}],"pages":{"75215900":{"pageid":75215900,"ns":0,"title":"Media
        multiplexity theory","revisions":[{"revid":1310268231,"parentid":1291883584,"user":"Kfase","timestamp":"2025-09-08T16:41:19Z"}]}}}}'
  recorded_at: Mon, 04 May 2026 05:16:38 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvdir=older&rvend=2025-08-18T00:00:00Z&rvlimit=1&rvprop=timestamp%7Cuser%7Cids&rvstart=2025-12-10T23:59:59Z&rvuser=JakeZim16&titles=Media_multiplexity_theory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Sentry-Trace:
      - 9dee93985bcd42c6add82bb58d1f20d4-3a6ec0fa4c734329
      Baggage:
      - sentry-trace_id=9dee93985bcd42c6add82bb58d1f20d4,sentry-sample_rand=0.431405,sentry-environment=test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 4.43.228.235
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"Media_multiplexity_theory","to":"Media
        multiplexity theory"}],"pages":{"75215900":{"pageid":75215900,"ns":0,"title":"Media
        multiplexity theory","revisions":[{"revid":1322934870,"parentid":1310268231,"user":"JakeZim16","timestamp":"2025-11-18T18:08:11Z"}]}}}}'
  recorded_at: Mon, 04 May 2026 05:16:38 GMT
recorded_with: VCR 6.1.0
