---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvdir=newer&rvend=2025-12-10T23:59:59Z&rvlimit=1&rvprop=timestamp%7Cuser%7Cids&rvstart=2025-08-18T00:00:00Z&rvuser=JakeZim16&titles=User:JakeZim16/Media_multiplexity_theory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Sentry-Trace:
      - 9dee93985bcd42c6add82bb58d1f20d4-3a6ec0fa4c734329
      Baggage:
      - sentry-trace_id=9dee93985bcd42c6add82bb58d1f20d4,sentry-sample_rand=0.431405,sentry-environment=test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 4.43.228.235
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"continue":{"rvcontinue":"20251019160215|1317710847","continue":"||"},"query":{"normalized":[{"from":"User:JakeZim16/Media_multiplexity_theory","to":"User:JakeZim16/Media
        multiplexity theory"}],"pages":{"81377672":{"pageid":81377672,"ns":2,"title":"User:JakeZim16/Media
        multiplexity theory","revisions":[{"revid":1317703640,"parentid":0,"user":"JakeZim16","timestamp":"2025-10-19T15:09:45Z"}]}}}}'
  recorded_at: Mon, 04 May 2026 05:16:39 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvdir=older&rvend=2025-08-18T00:00:00Z&rvlimit=1&rvprop=timestamp%7Cuser%7Cids&rvstart=2025-12-10T23:59:59Z&rvuser=JakeZim16&titles=User:JakeZim16/Media_multiplexity_theory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Sentry-Trace:
      - 9dee93985bcd42c6add82bb58d1f20d4-3a6ec0fa4c734329
      Baggage:
      - sentry-trace_id=9dee93985bcd42c6add82bb58d1f20d4,sentry-sample_rand=0.431405,sentry-environment=test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 4.43.228.235
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"continue":{"rvcontinue":"20251106181302|1320774157","continue":"||"},"query":{"normalized":[{"from":"User:JakeZim16/Media_multiplexity_theory","to":"User:JakeZim16/Media
        multiplexity theory"}],"pages":{"81377672":{"pageid":81377672,"ns":2,"title":"User:JakeZim16/Media
        multiplexity theory","revisions":[{"revid":1322930411,"parentid":1320774157,"user":"JakeZim16","timestamp":"2025-11-18T17:37:20Z"}]}}}}'
  recorded_at: Mon, 04 May 2026 05:16:40 GMT
recorded_with: VCR 6.1.0
