---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvdir=newer&rvend=2025-12-10T23:59:59Z&rvlimit=1&rvprop=timestamp%7Cuser%7Cids&rvstart=2025-08-18T00:00:00Z&rvuser=Julia.kennedy2004&titles=Social_constructionism
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Sentry-Trace:
      - 3d17135eb2444987b18e201a72ca0406-ba07bd0360984568
      Baggage:
      - sentry-trace_id=3d17135eb2444987b18e201a72ca0406,sentry-sample_rand=0.773291,sentry-environment=test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 4.43.228.235
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"Social_constructionism","to":"Social
        constructionism"}],"pages":{"203510":{"pageid":203510,"ns":0,"title":"Social
        constructionism"}}}}'
  recorded_at: Mon, 04 May 2026 05:29:26 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvdir=older&rvend=2025-08-18T00:00:00Z&rvlimit=1&rvprop=timestamp%7Cuser%7Cids&rvstart=2025-12-10T23:59:59Z&rvuser=Julia.kennedy2004&titles=Social_constructionism
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Sentry-Trace:
      - 3d17135eb2444987b18e201a72ca0406-ba07bd0360984568
      Baggage:
      - sentry-trace_id=3d17135eb2444987b18e201a72ca0406,sentry-sample_rand=0.773291,sentry-environment=test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 4.43.228.235
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"Social_constructionism","to":"Social
        constructionism"}],"pages":{"203510":{"pageid":203510,"ns":0,"title":"Social
        constructionism"}}}}'
  recorded_at: Mon, 04 May 2026 05:29:27 GMT
recorded_with: VCR 6.1.0
