---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvdir=newer&rvend=2025-12-10T23:59:59Z&rvlimit=1&rvprop=timestamp%7Cuser%7Cids&rvstart=2025-08-18T00:00:00Z&rvuser=Nateiac7&titles=Social_constructionism
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Sentry-Trace:
      - 9dee93985bcd42c6add82bb58d1f20d4-3a6ec0fa4c734329
      Baggage:
      - sentry-trace_id=9dee93985bcd42c6add82bb58d1f20d4,sentry-sample_rand=0.431405,sentry-environment=test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 4.43.228.235
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"continue":{"rvcontinue":"20251117005104|1322581156","continue":"||"},"query":{"normalized":[{"from":"Social_constructionism","to":"Social
        constructionism"}],"pages":{"203510":{"pageid":203510,"ns":0,"title":"Social
        constructionism","revisions":[{"revid":1322578885,"parentid":1316523874,"user":"Nateiac7","timestamp":"2025-11-17T00:36:59Z"}]}}}}'
  recorded_at: Mon, 04 May 2026 05:16:38 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvdir=newer&rvend=2025-12-10T23:59:59Z&rvlimit=1&rvprop=timestamp%7Cuser%7Cids&rvstart=2025-08-18T00:00:00Z&rvuser=Julia.kennedy2004&titles=Social_constructionism
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Sentry-Trace:
      - 9dee93985bcd42c6add82bb58d1f20d4-3a6ec0fa4c734329
      Baggage:
      - sentry-trace_id=9dee93985bcd42c6add82bb58d1f20d4,sentry-sample_rand=0.431405,sentry-environment=test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 4.43.228.235
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"Social_constructionism","to":"Social
        constructionism"}],"pages":{"203510":{"pageid":203510,"ns":0,"title":"Social
        constructionism"}}}}'
  recorded_at: Mon, 04 May 2026 05:16:39 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvdir=older&rvend=2025-08-18T00:00:00Z&rvlimit=1&rvprop=timestamp%7Cuser%7Cids&rvstart=2025-12-10T23:59:59Z&rvuser=Nateiac7&titles=Social_constructionism
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Sentry-Trace:
      - 9dee93985bcd42c6add82bb58d1f20d4-3a6ec0fa4c734329
      Baggage:
      - sentry-trace_id=9dee93985bcd42c6add82bb58d1f20d4,sentry-sample_rand=0.431405,sentry-environment=test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 4.43.228.235
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"continue":{"rvcontinue":"20251118171303|1322926164","continue":"||"},"query":{"normalized":[{"from":"Social_constructionism","to":"Social
        constructionism"}],"pages":{"203510":{"pageid":203510,"ns":0,"title":"Social
        constructionism","revisions":[{"revid":1323073695,"parentid":1322926164,"user":"Nateiac7","timestamp":"2025-11-19T14:56:35Z"}]}}}}'
  recorded_at: Mon, 04 May 2026 05:16:39 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvdir=older&rvend=2025-08-18T00:00:00Z&rvlimit=1&rvprop=timestamp%7Cuser%7Cids&rvstart=2025-12-10T23:59:59Z&rvuser=Julia.kennedy2004&titles=Social_constructionism
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Sentry-Trace:
      - 9dee93985bcd42c6add82bb58d1f20d4-3a6ec0fa4c734329
      Baggage:
      - sentry-trace_id=9dee93985bcd42c6add82bb58d1f20d4,sentry-sample_rand=0.431405,sentry-environment=test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 4.43.228.235
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"Social_constructionism","to":"Social
        constructionism"}],"pages":{"203510":{"pageid":203510,"ns":0,"title":"Social
        constructionism"}}}}'
  recorded_at: Mon, 04 May 2026 05:16:39 GMT
recorded_with: VCR 6.1.0
