.section-header.surveys__admin-header.surveys__admin-header--assignment
  .container
    %div
      %h1 Survey Assignment
    .surveys__admin-header__action
      = link_to "New Survey Assignment",  new_survey_assignment_path, :class => 'button button--no-margin border'
