.container.survey__edit
  .section-header
    %h1 Survey Assignments
    = link_to 'New Survey assignment', new_survey_assignment_path, :class => 'button'

  %ul.list.list--survey= render partial: "survey_assignment", collection: @survey_assignments
