<header class="main-page">
  <h1><%= t("application.dashboard") %></h1>
</header>

<section id="courses">
  <div class="section-header">
    <h3><%= t("error_404.header") %></h3>
    <p><%= t("error_404.explanation") %></p>
  </div>
</section>