%body
  %header.main-page
    %h1=  ENV['dashboard_title']
  %section#courses
    .container.narrow
      .section-header
        %h3= t("error_incorrect_passcode.header")
        %p= t("error_incorrect_passcode.explanation")
        %form{:style => "text-align: center;", :action => @path, :method => "get"}
          %input{:name => "enroll", :type => "text", :placeholder => 'Retype the passcode', :required => "required"}   
          %button#retryPass.button.dark{:type => "submit"} Enroll
