%body
  %header.main-page
    %h1= Figaro.env.dashboard_title
  %section#courses
    .container.narrow
      .section-header
        %h3= t("error_incorrect_passcode.header")
        %p= t("error_incorrect_passcode.explanation")
