<header class="main-page">
  <h1><%= Figaro.env.dashboard_title %></h1>
</header>

<section id="courses">
  <div class="container narrow">
    <div class="section-header">
      <h3><%= t("login_error.header") %></h3>
      <p><%= t("login_error.explanation") %></p>
    </div>
  </div>
</section>
