%body
  %header.main-page
    %h1= Figaro.env.dashboard_title
  %section#courses
    .container.narrow
      .section-header
        %h3= t("login_error.header")
        %p= t("login_error.explanation")
