<header class="main-page">
  <h1><%= Figaro.env.dashboard_title %></h1>
</header>

<section id="courses">
  <div class="section-header">
    <h3><%= t("error_422.header") %></h3>
    <p><%= t("error_422.explanation") %></p>
  </div>
</section>
