#revisions
  #progress
    position sticky
    bottom 0
    background-color #f5f5f5
    width max-content
    padding 1em 2em
    display flex
    left 50%
    transform translate(-50%, 0)
    justify-content center
    align-items center