#revisions
  #progress
    position sticky
    bottom 10px
    background-color #f5f5f5
    width max-content
    padding 1em 2em
    display flex
    left 50%
    transform translate(-50%, 0)
    justify-content center
    align-items center
    border-top-left-radius: 10px
    border-top-right-radius: 10px
    border-bottom-right-radius: 5px
    border-bottom-left-radius: 5px
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .text-center
      display flex
      gap 1em