.admin-note

  button
   padding: 10px

  .admin-header
    margin-bottom: 30px

  .note-title
    text-align: left
    min-width 150px

  .note-text
    text-align: left

.table--admin_note
  text-align: left;

