.results-loading
  background url('../images/loader.gif') no-repeat 50% white

.horizontal-form
  display flex
  justify-content space-between

.article-finder-form
  width 15rem
  display block
  margin auto
