.article-viewer
  background-color white
  padding 10px
  position fixed
  top 70px
  /*@noflip*/ left 50%
  width 100%
  max-width 1200px
  max-height 90vh
  z-index 10
  border 1px solid mischka
  border-radius 3px
  box-shadow 0 0 20px 0 rgba(0, 0, 0, .6)
  transform translateX(-50%)
  overflow-x scroll

.article-header
  border none !important

.parsed-article
  margin 30px

  h2
  h3
  h4
    color black
  .tright
    clear right
    float right
    margin .5em 0 1.3em 1.4em
  .thumbinner
    border 1px solid #c8ccd1 !important
    padding 3px
    background #f8f9fa
  .mw-editsection
    display none
