.articles-view
  nav
    background smoke
    ul
      border-radius 0.5rem
      text-align right
      width 100%
      li
        display inline-block
        font-family $header-font
        font-size 2rem
        margin-left 20px
    .button.active
      background dove
      color smoke
      cursor default
    .button.disabled, a[disabled]
      pointer-events none

  .wrap-filters
    margin-top: -50px
    float right
    b
      margin-right: 10px
    *
      display: inline-block
    select
      font-size: 12px;
      font-weight: 600;

  .article-sort
    width: 60px
    .sorts
      background: url(../images/sort.svg) no-repeat 48% #fff;
      -webkit-appearance: none;
      text-indent: -200px;

  .article.tooltip-trigger
    display: inline-block

  .article.tooltip-trigger + button
    display block
