.button
  background-color white
  border 1px solid bayoux
  border-radius 4px
  color bayoux
  font-size 11px
  padding 5px 10px
  transition background .15s
  &:active
    background-color manatee
    border 1px solid manatee
    color white
  &.large
    padding 10px 50px
    font-size 14px
  &.dark
    background-color manatee
    border-color manatee
    color white

.button:hover
  background-color bayoux
  border-bottom 1px solid manatee
  color white
  font-weight bold
  &:after
    content '\003e'
    margin-left 5px