.button
  background-color suit
  border-radius 4px
  color white
  padding 10px
  &:hover
    background-color manatee
    color white
  &:active
    background-color bayoux
    color white
  &.large
    padding 10px 50px
    font-size 18px