.advanced-search-toggle-button
  margin 10px 0 !important



.advanced-search-grid-large
  display grid
  grid-template-columns 180px 1fr 80px 1fr
  column-gap 10px
  align-items center
  margin-top 10px
  margin-bottom 10px

.advanced-search-grid-small
  display grid
  grid-template-columns 180px 1fr
  column-gap 10px
  align-items center
  margin 5px 0

.grid-span-3
  grid-column 2 / span 3

.flex-input-group
  display flex
  align-items center
  gap 10px
