.campaign_main
  .rails_editable-input
    display: none

.campaign-details
  .form-group > label
    display: inline

  .button.plus
    display: none

.campaign-details.rails_editable-editing
  label
    display: block

.campaign-delete
  margin-top: 20px
  text-align: center
  button
    width: 80%

.campaign-create
  margin-bottom: 20px
  margin-top: 20px
  text-align: center
  button
    width: 80%

.campaign-organizers
  display: inline-block
