.campaign-users
  .users-search-form > .form-fields
    .form-row
      .input-full-width
        width 100%

    .advanced-search-toggle
      margin-top 10px
      margin-bottom 10px

    .course-title-select-wrapper
      width 100%

    .advanced-search-grid-small
      display grid
      grid-template-columns 180px 1fr
      column-gap 10px
      align-items center
      margin 5px 0

    .flex-input-group
      display flex
      align-items center
      gap 10px
