.controls
  padding 20px 0
  position absolute
  right 0
  top 0
  text-align right

.list__wrapper .controls
  right 10px
  +above(desktop)
    right 74px

.button
  background-color mercury
  border 1px solid zircon
  border-radius 4px
  color dove
  cursor pointer
  display inline-block
  font-family "Roboto"
  font-size 14px
  line-height 1.5
  margin-left 10px
  padding 8px 20px 9px
  transition background .15s ease-out, color .15s ease-out
  &:focus
    outline none
  &:hover
    background-color white
    border-bottom 1px solid zircon
  &.large
    padding 18px 27px
  &.border
    background-color transparent
    border 2px solid bayoux
    color bayoux
    font-weight 500
    &:hover
      background-color bayoux
      color white
  &.disabled
    cursor default
    opacity 0.5
  &.dark
    background-color bayoux
    color white
    &:hover
      background-color manatee
  &.danger:hover
    background-color burnt
    color white
  &.plus
    border-radius 25px
    display inline-block
    height 25px
    line-height 1.5
    margin-left 5px !important
    padding 0px
    text-align center
    width 25px
  &.right
    float right

  &.disabled
    background-color mercury
    border 1px solid zircon
    color dove

    &:hover
      background-color mercury
      border 1px solid zircon
      color dove



.button.arrow:hover
  background-color bayoux
  border-bottom 1px solid manatee
  color white
  font-weight bold
  &:after
    content '\003e'
    margin-left 5px

.typeahead
  display inline-block
  vertical-align top
  +button
    margin-left 10px !important
  input
    margin-right 0 !important
  ul.typeahead-selector
    border 1px solid bayoux
    border-width 0 1px 1px
    list-style-type none
    li
      background smoke
      border-bottom 1px solid bayoux
      cursor pointer
      margin-left 0
      overflow-x scroll
      padding 10px
      max-width 186px
      &:hover, &.hover
        background manatee
        a
          color white
      &:last-child
        border-bottom none
      a
        color bayoux
        &:hover
          border-bottom 0