.controls
  padding 20px 0
  position absolute
  right 0
  top 0
  text-align right

.list__wrapper .controls
  right 10px
  +above(desktop)
    right 74px

.button
  background-color mercury
  border 1px solid zircon
  border-radius 4px
  color dove
  cursor pointer
  display inline-block
  font-family "Roboto"
  font-size 14px
  line-height 1.5
  margin-left 10px
  padding 8px 20px 9px
  transition background .15s ease-out, color .15s ease-out
  &:hover
    background-color white
    border-bottom 1px solid zircon
  &.large
    padding 18px 27px
  &.dark
    background-color bayoux
    color white
    &:hover
      background-color manatee
  &.border
    background-color transparent
    border 2px solid bayoux
    color bayoux
    font-weight 500
    &:hover
      background-color bayoux
      color white
  &.danger:hover
    background-color burnt
    color white
  &.plus
    border-radius 25px
    display inline-block
    height 25px
    line-height 1.5
    margin-left 5px !important
    padding 0px
    text-align center
    width 25px

  &.disabled
    background-color mercury
    border 1px solid zircon
    color dove

    &:hover
      background-color mercury
      border 1px solid zircon
      color dove



.button.arrow:hover
  background-color bayoux
  border-bottom 1px solid manatee
  color white
  font-weight bold
  &:after
    content '\003e'
    margin-left 5px