// Controls

.controls
  padding 20px 0
  position absolute
  right 0
  top 0
  text-align right

.list__wrapper .controls
  right 10px
  +above(desktop)
    right 74px


// Button

// ensures inline display of a button with a div that contains another button
.inline-button-peer
  display inline-block

.button, input.button
  background-color mercury
  border 1px solid zircon
  border-radius 3px
  color body-color
  cursor pointer
  display inline-block
  font-family body-font
  font-size 14px
  line-height 1.5
  margin-left 0px
  padding 8px 20px 8px
  transition all .15s ease-out, color .15s ease-out
  font-weight 600
  text-decoration none

  &.stacked
    margin-top 10px

  &:hover
    background-color white
    border-bottom 1px solid zircon
    color body-color

  &.disabled,
  &:disabled
    cursor default
    opacity 0.5
    pointer-events none

  & + &, select + &
    margin-left 10px

  &.ghost-button
    background-color #fff
    &:hover
      background $border_lt

  &.button--block
    display block
    width 100%
    margin-left 0
    text-align center

  &.button--no-margin
    margin-left 0

  &.large
    padding 18px 27px

  &.border
    background-color transparent
    border 1px solid bayoux
    color bayoux
    font-weight 600
    &:hover
      background-color bayoux
      color white

  &.inverse-border
    border none
    box-shadow inset 0 0 0 1px #fff
    color #fff

    &:hover
      background white
      color $brand_primary

  &.button--clear
    border none
    background transparent
    &:hover
      background-color rgba(0,0,0,.1)
      color darken(body-color, 10%)

  &.dark
    background-color bayoux
    border-color bayoux
    color white
    &:hover
      background-color saturate(lighten(bayoux, 25%), 20%)
      border-color saturate(lighten(bayoux, 25%), 20%)

  &.small
    font-size 12px
    padding 4px 10px

  &.danger:hover
    background-color warning
    border-color warning
    color white

  &.plus
    border-radius 25px
    display inline-block
    height 25px
    line-height 1.5
    margin-left 5px !important
    padding 0px
    text-align center
    width 25px

  &.assign-button
    margin-left 5px !important

  &.right
    float right

  &.auth
    > .icon
      font-size 28px
      vertical-align middle
      margin -6px 6px -4px -4px
      line-height 0
      display inline-block

      &:before
        vertical-align bottom

  > .icon
    vertical-align middle
    margin-left 4px

tr.students .button.plus
  width 20px
  height 20px
  line-height 10px


.button.arrow:hover
  background-color bayoux
  border-bottom 1px solid manatee
  color white
  font-weight bold
  &:after
    content '\003e'
    margin-left 5px


// Link Buttons

.link-button
  background none
  border none
  padding 0
  margin 0
  text-decoration underline
  color $brand_primary
  &:focus
    outline 0

.small-block-link
  display block
  font-size 12px
  margin-top 10px


// Typeahead

.typeahead
  display inline-block
  vertical-align top
  +button
    margin-left 10px !important
  input
    margin-right 0 !important
  ul.typeahead-selector
    border 1px solid bayoux
    border-width 0 1px 1px
    list-style-type none
    li
      background smoke
      border-bottom 1px solid bayoux
      cursor pointer
      margin-left 0
      overflow-x scroll
      padding 10px
      max-width 186px
      &:hover, &.hover
        background manatee
        a
          color white
      &:last-child
        border-bottom none
      a
        color bayoux
        &:hover
          border-bottom 0


// Course Actions

.sidebar__course-actions span
  font-size 15px
  color body-color

@media only screen and (max-width: 500px)
// Button
  .button, input.button
    padding 4px 3px 4px
    font-size 10px
