// Dialog for copying Available Articles from another course
.copy-available-articles
  text-align left

  &__field
    margin-bottom 12px

    input[type="text"]
      width 100%

    input[type="checkbox"]
      margin-right 6px

  &__preview
    min-height 1.5em
    margin-bottom 12px
