.new_course
  position absolute
  right 0
  top 20px

#user_courses
  .list
    margin-bottom 20px

  .notifications
    z-index 100
    position fixed
    top 80px
    left 0
    width 100%

.dashboard
  > header
    text-align left
    display flex
    align-items center
    padding 60px 0

    h1
      color #A0A0A0
      font-weight 300
      font-size 50px
      flex 1

    .dashboard-cta
      float right

  h2
    font-size 30px
    font-weight 300
    color #A0A0A0

.course
  background #fff
  box-shadow 0px 2px 4px rgba(0,0,0,.1)
  border 1px solid $border_lt
  padding 20px
  margin-bottom 20px
  display block
  text-decoration none
  color inherit

  &.course-past
    .course-title
      color #A0A0A0
      line-height 1

  + h2
    margin-top 60px
    margin-bottom 30px

  .course-title
    font-weight 300
    font-size 30px
    margin-bottom 20px
    color bayoux
    line-height 1

    &:only-child
      margin-bottom 0

    > .icon
      float right
      font-size 24px
      position relative
      top 4px


  .course-details
    display flex

    .col
      margin-right 40px
      &:last-child
        margin-right 0

    .course-details_title
      color #A0A0A0

    .course-details_value
      font-size 19px
      color #2c2c2c

