.course_main
  .stat-display
    margin-bottom 0px
    margin-top 30px

.course
  background #fff
  border 1px solid $border_lt
  padding 20px
  margin-bottom 20px
  display block
  text-decoration none
  color inherit
  position relative

  &:before
    content ""
    position absolute
    left 0
    right 0
    top 0
    bottom 0
    box-shadow 0px 2px 4px rgba(0,0,0,1)
    opacity .1
    transition opacity 125ms ease-in-out

  .icon
    position relative
    top 3px
    left 0
    transition all 125ms ease-in-out

  &:hover
    .icon
      left 5px

    &:before
      opacity .15

  &.course-past
    .course-title
      color #A0A0A0

  + h2
    margin-top 60px

  .course-title
    font-weight 300
    font-size 30px
    margin-bottom 20px
    color bayoux
    line-height 1
    display flex
    align-items center

    .course-term
      color #A0A0A0
      margin-left auto
      margin-right 20px

    .icon:nth-child(1)
      margin-left auto

    &:only-child
      margin-bottom 0

  .course-details
    display flex

    .col
      margin-right 40px
      &:last-child
        margin-right 0

    .course-details_title
      color #A0A0A0

    .course-details_value
      font-size 19px
      color #2c2c2c

