.course-dates
  overflow hidden
  fieldset
    float left
    margin 0 20px
    span:first-child
      font-weight 500
  fieldset:first-child
    margin-left 0
  > span
    float left
    font-size 15px
    line-height 1.5
  > div > div
    float left