.dashboard
  > header
    text-align left
    display flex
    align-items center
    padding 60px 0 0 0

    h1
      color #A0A0A0
      font-weight 300
      font-size 50px
      flex 1
      margin-bottom 0

    .dashboard-cta
      float right

    + .course,
    + h2
      margin-top 60px

  h2
    font-size 30px
    font-weight 300
    color #A0A0A0

  .button
    margin-left 0
    .icon
      vertical-align middle
      margin-left 12px
      font-size 15px

  .empty-state
    margin-top 18px

    a
      display inline-block
      margin-top 18px
