.date-input
  position relative

.date-input input
  width 100%;

.date-input .DayPicker
  display none
  width 350px
  background white
  position absolute
  border-color #b8b8b8
  top 56px
  left 50%
  z-index 10
  margin-left -175px
  box-shadow 0 0 10px rgba(0,0,0,0.2)

.date-input .DayPicker--visible
  display block
