.diff-viewer
  background-color white
  padding 0
  position fixed
  top 70px
  /*@noflip*/ left 50%
  width 100%
  max-width 1200px
  max-height 90vh
  z-index 10
  border 1px solid mischka
  border-radius 3px
  box-shadow 0 0 20px 0 rgba(0, 0, 0, .2)
  transform translateX(-50%)
  overflow-x scroll

  .diff-header
    border-bottom 1px solid $border_lt
    align-items center
    display flex
    justify-content space-between
    padding 16px

    h3,
    p
      margin 0

  .diff-footer
    border-top 1px solid $border_lt
    align-items center
    display flex
    justify-content space-between
    padding 16px

  .diff-comment
    text-align center

  table
    width 100%
    position relative

  table > tbody > tr

    td
      border none !important
      vertical-align baseline

    .diff-th,
    .diff-lineno,
    .diff-marker,
    .diff-empty
      display none

    .diff-addedline,
    .diff-deletedline,
    .diff-context,
    .diff-empty
      overflow hidden
      padding 24px
      width 50%
      max-width 50% !important

    // .diffchange-inline
    //   display block
    //   padding 16px

    .diff-context
      color rgba(0,0,0,0.40)
      border 1px solid $border_lt !important

    .diff-addedline
      border-left 1px solid $border_lt !important
      background-color rgba(150,232,134,0.10)

      .diffchange-inline
        background-color rgba(150,232,134,0.27)

    .diff-deletedline
      background-color rgba(255,0,0,0.05)
      border-right 1px solid $border_lt !important

      .diffchange-inline
        background-color rgba(255,0,0,0.10)

    del, ins
      text-decoration none !important
