.diff
  background-color white
  padding 10px
  position absolute
  z-index 10
  border 1px solid mischka
  border-radius 3px
  box-shadow 0 0 20px 0 rgba(0, 0, 0, .6)

.diff-addedline
  background-color #dff0d8

.diff-deletedline
  background-color #fcf8e3
