.vertical-form
  float left
  margin-top 20px
  +above(desktop)
    margin-left 20px
    margin-top 0
  label
    span
      margin-bottom 2px
    div
      clear both
      input
        margin-bottom 10px
        width 200px
  p
    span:last-child
      display inline-block
      font-weight bold
      margin-bottom 10px

.form-container
  margin-top 30px

.simple_form
  margin 20px 0
  label
    display block
    margin-bottom 5px
  input[type=text], textarea
    border 1px solid $border_lt
  textarea
    width 600px
    height 200px
  input[type=submit].button
    margin-left 0
