.vega-graph
  background-color white
  padding 10px
  position fixed
  top 70px
  left 50%
  max-width 1200px
  max-height 90vh
  border 1px solid mischka
  border-radius 3px
  box-shadow 0 0 20px 0 rgba(0, 0, 0, .6)
  transform translateX(-50%)
