.vega-graph
  background-color white
  padding 10px
  position fixed
  top 70px
  left 50%
  max-width 1200px
  max-height 90vh
  border 1px solid mischka
  border-radius 3px
  box-shadow 0 0 20px 0 rgba(0, 0, 0, .6)
  transform translateX(-50%)
  /*
  Percentages: refer to the size of bounding box [of the element to which the style is applied]
  left 50% will move the element exactly at the center of the main container where this element belongs!
  BUT translateX(50%) will move the element right exactly to 50% of its width,and NOT at the center of
  the whole Container element
   */
