fieldset
  display block

label
  font-size 15px
  span
    float left
    font-weight normal
    margin 5px 0

input, textarea, select
  background-color white
  border 1px solid dove
  border-radius 0
  font-size 15px
  outline 0
  padding 10px
  -webkit-appearance none
  &.invalid
    border 2px solid burnt

textarea
  resize vertical

input[type=text], input[type=date], select
  height 40px

.input_wrapper
  display inline-block
  float left
  overflow hidden
  position relative
  &:after
    content '\25BE'
    font-size 24px
    line-height 1
    margin-top -14px
    pointer-events none
    position absolute
    right 20px
    top 50%
