fieldgroup
  display block

label
  font-size 15px
  span
    float left
    font-weight normal
    margin 5px 0

input, textarea, select
  background-color white
  border 1px solid dove
  border-radius 0
  font-size 15px
  outline none
  padding 10px
  -webkit-appearance none
  &:active, &:focus
    font-size 15px !important

textarea
  resize vertical

input[type=text], input[type=date], select
  height 40px