.language-picker	
  .Select
  	width 100px	
  .Select.is-open
    z-index 1 !important
  .Select-menu 
    position fixed !important
    width 100px !important
    border 1px solid #cccccc
    background-color #e6e6e6