.language-picker	
  margin-top -5px
  margin-bottom -5px

  .Select
  	width 100px	

  img
  	width 22px

  .Select-menu-outer
    width 200px 
    right 0px

  .Select-option 
    &:first-child
      padding 10px 0px 10px 10px
      border-bottom 1px solid #cccccc

@media only screen and (max-width: 920px)
  .language-picker
    position absolute
    top 15px
    right 15%
    padding-right 0px

    .Select
      width 120px

    .Select-menu-outer
      text-align left    
