.sort
  cursor pointer
  &.asc p:before, &.desc p:before
    display inline-block
    content '\f107'
    font-family "FontAwesome"
    font-size 13px
    // content '\E001'
    // font-family "icons"
    // font-size 10px
    margin-right 5px
    transition transform 0.2s

  &.asc p:before
    transform rotate(180deg)
  &.desc p:before
    transform rotate(0deg)
.list__header
  font-family "Roboto"
  .row__wrapper
    border-bottom 1px solid manatee !important
    padding-top 0 !important
    padding-bottom 0 !important
    p
      color manatee
      // letter-spacing 0.5px
  &:hover
    background initial !important
.list
  list-style none
  list-style-type none
.row
  align-items center
  justify-content flex-start
  margin-left 0
  padding 0 20px
  transition background 0.15s
  div:not(.drawer):last-child
    justify-content center
  div:not(.drawer)
    align-items center
    display flex
    min-height 40px
    p
      flex 1
  h4
    color dove
  .row__wrapper
    border-bottom 1px solid mercury
    padding 15px
    width 100%
  .fake-link
    font-size 14px
    font-family "Roboto"
    text-align right
  &:last-child .row__wrapper
    border-bottom none
  &:hover
    background athens
    .fake-link:after
      display inline-block
      content '\f107'
      font-family "FontAwesome"
      font-size 13px
      // content '\E001'
      // font-family "icons"
      // font-size 10px
      font-weight bold
      margin-left 8px
      transform rotate(270deg)
  &.view-all
    border-bottom none
    a
      font-family "Roboto"
    div
      align-items center
      justify-content center
      min-height 48px
    &:hover
      background none !important
  &.open
    &:hover
      background none
    > .row__wrapper
      background-color manatee
      &:hover
        background manatee !important
      p
        color white
      small
        color white

.table__header
  border-bottom 0
  padding 0
  width 100%
  div
    align-items flex-end
    p
      color white
      text-align left

.course-list__row
  .course-list__row__title
    col(2/6)
  .course-list__row__characters
    col(1/6)
  .course-list__row__views
    col(1/6)
  .course-list__row__students
    col(1/6)
  .course-list__row__link
    col(1/6)
  div:not(.drawer)
    min-height 40px

.user-list__row
  .user-list__row__name
    col(6/20)
    p.name
      line-height 1
      margin-top 13px
    .avatar
      round-placeholder(20)
      display inline-block
      margin-right 15px
    small
      font-size 8px
  .user-list__row__characters-ms
    col(3/20)
  .user-list__row__characters-us
    col(3/20)
  .user-list__row__edits
    col(6/20)
  .user-list__row__link
    col(2/20)
    .icon:before
      font-size 20px
  .user-list__row__spacer
    col(0/20)

.article-list__row
  .article-list__row__title
    col(2/5)
  .article-list__row__characters
    col(1/5)
  .article-list__row__views
    col(1/5)
  .article-list__row__link
    col(1/5)

.revision-list__row
  &.list__header
    p, h6
      font-size 14px
    max-height 40px
  .revision-list__row__title
    col(6/20)
  .revision-list__row__date
    col(5/20)
  .revision-list__row__namespace
    col(3/20)
  .revision-list__row__characters
    col(4/20)
  .revision-list__row__views
    col(2/20)
  .revision-list__row__link
    col(3/20)