.sort
  cursor pointer
  &.asc p:before, &.desc p:before
    display inline-block
    content '\f107'
    font-family "FontAwesome"
    font-size 13px
    // content '\E001'
    // font-family "icons"
    // font-size 10px
    margin-right 5px
    transition transform 0.2s

  &.asc p:before
    transform rotate(180deg)
  &.desc p:before
    transform rotate(0deg)
.list__header
  border-bottom 1px solid manatee
  font-family "Roboto"
  +above(desktop)
    border-bottom none
  .row__wrapper
    border-bottom 1px solid manatee !important
    padding-top 0 !important
    padding-bottom 0 !important
    p
      color manatee
      // letter-spacing 0.5px
  &:hover
    background initial !important
.list
  list-style none
  list-style-type none
.row
  align-items center
  justify-content flex-start
  margin-left 0
  padding 0
  transition background 0.15s
  +above(desktop)
    padding 0 20px
  div:not(.drawer):last-child
    justify-content flex-start
    +above(desktop)
      justify-content center
  div:not(.drawer)
    align-items center
    display flex
    min-height 40px
    p
      flex 1
  h4
    color dove
  .row__wrapper
    border-bottom 1px solid mercury
    cf()
    flex-wrap wrap
    padding 15px
    position relative
    width 100%
    +above(desktop)
      flex-wrap nowrap
  .fake-link
    font-size 14px
    font-family "Roboto"
    text-align right
  &:last-child .row__wrapper
    border-bottom none
  &:hover
    background athens
    .fake-link:after
      display inline-block
      content '\f107'
      font-family "FontAwesome"
      font-size 13px
      // content '\E001'
      // font-family "icons"
      // font-size 10px
      font-weight bold
      margin-left 8px
      transform rotate(270deg)
  &.view-all
    border-bottom none
    justify-content center !important
    a
      font-family "Roboto"
    div
      align-items center
      justify-content center
      min-height 48px
    &:hover
      background none !important
  &.open
    &:hover
      background none
    > .row__wrapper
      background-color manatee
      &:hover
        background manatee !important
      p
        color white
      small
        color white

.table__header
  border-bottom 0
  padding 0
  width 100%
  div
    align-items flex-end
    p
      color white
      text-align left

.course-list__row
  .course-list__row__title
    col(1)
    +above(desktop)
      col(2/6)
  .course-list__row__characters, .course-list__row__views,
  .course-list__row__students
    float left
    +above(desktop)
      col(1/6)
    span
      display inline
  .course-list__row__students
    p
      border-right none
      padding-right 0
  .course-list__row__link
    +above(desktop)
      col(1/6)
      position static
  div:not(.drawer)
    min-height 40px

.row:not(.list__header)
  .course-list__row__characters, .course-list__row__views,
  .course-list__row__students, .user-list__row__characters__mobile,
  .user-list__row__training, .article-list__row__characters,
  .article-list__row__views, .revision-list__row__characters,
  .revision-list__row__views
    p
      font-size 14px
      +above(desktop)
        border none
        font-size 16px
        padding 0

  .course-list__row__characters, .course-list__row__views,
  .article-list__row__characters, .user-list__row__training,
  .revision-list__row__characters
    margin-right 8px
    p
      padding-right 8px
      border-right 1px solid manatee
      +above(desktop)
        border-right none

  p.title
    font-size 20px
    +above(desktop)
      font-size 16px

.user-list__row
  .user-list__row__name
    col(1)
    +above(desktop)
      col(6/20)
    p.name
      line-height 1
      margin-top 13px
    .avatar
      display none
      round-placeholder(20)
      margin-right 15px
      +above(desktop)
        display inline-block
    small
      display none
      font-size 8px
      +above(desktop)
        display inline-block
  .user-list__row__training
    +above(desktop)
      display none !important
  .user-list__row__characters__mobile
    +above(desktop)
      display none !important
  .user-list__row__characters-ms
    col(3/20)
    display none !important
    +above(desktop)
      display flex !important
  .user-list__row__characters-us
    col(3/20)
    display none !important
    +above(desktop)
      display flex !important
  .user-list__row__edits
    display none !important
    +above(desktop)
      col(6/20)
      display flex !important
  .user-list__row__link
    margin-top -20px
    position absolute
    right 30px
    top 50%
    .icon:before
      font-size 30px
      font-weight 100
    +above(desktop)
      col(2/20)
      position static
      margin-top 0
      .icon:before
        font-size 20px
        font-weight normal
  .user-list__row__spacer
    col(0/20)

.article-list__row
  .article-list__row__title
    col(1)
    +above(desktop)
      col(2/5)
  .article-list__row__characters, .article-list__row__views
    font-size 14px
    +above(desktop)
      col(1/5)
    span
      display inline
  .article-list__row__link
    col(1/5)

.revision-list__row
  &.list__header
    p, h6
      font-size 14px
    max-height 40px
  .revision-list__row__title
    col(1)
    +above(desktop)
      col(6/20)
  .revision-list__row__date
    col(5/20)
  .revision-list__row__namespace
    col(3/20)
  .revision-list__row__characters
    +above(desktop)
      col(4/20)
  .revision-list__row__views
    +above(desktop)
      col(2/20)
  .revision-list__row__characters, .revision-list__row__views
    span
      display inline
  .revision-list__row__link
    col(3/20)