.sort
  cursor pointer
  &.asc p:before
    content '\25BE'
    margin-right 5px
  &.desc p:before
    content '\25B4'
    margin-right 5px
.list__header
  border-bottom 1px solid suit !important
  padding 0 !important
  p
    color manatee
    letter-spacing 0.5px
.list
  list-style none
  list-style-type none
.row
  align-items center
  border-bottom 1px solid mercury
  justify-content flex-start
  margin-left 0
  overflow hidden
  padding 15px 0
  div:last-child
    justify-content flex-end
  div
    align-items center
    display flex
    min-height 60px
    p
      flex 1
  h4
    color dove
  &.view-all
    border-bottom none
    div
      align-items center
      justify-content center
      min-height 80px
  // &:hover
  //   background suit
.table__header
  border-bottom 0
  padding 0
  width 100%
  div
    align-items flex-end
    p
      color white
      text-align left

.course-list__row
  .course-list__row__title
    col(2/6)
  .course-list__row__characters
    col(1/6)
  .course-list__row__views
    col(1/6)
  .course-list__row__students
    col(1/6)
  .course-list__row__link
    col(1/6)

.user-list__row
  .user-list__row__name
    col(2/5)
    .avatar
      round-placeholder(30)
      display inline-block
      margin-right 15px
  .user-list__row__training
    col(1/5)
  .user-list__row__characters
    col(1/5)
  .user-list__row__link
    col(1/5)

.article-list__row
  .article-list__row__title
    col(2/5)
  .article-list__row__characters
    col(1/5)
  .article-list__row__views
    col(1/5)
  .article-list__row__link
    col(1/5)


.stat-display
  overflow hidden
  padding 20px 0 0
  .stat-display__stat
    text-align center
    span(1/9, offset=1/9)