.module
  background-color white
  border 1px solid zircon
  margin 20px auto
  padding 20px
  position relative
  &:first-child
    +above(desktop)
      margin-top 20px
      margin-bottom 0
  .section-header
    min-height 40px
    padding 0
    h3
      color bayoux
    .controls
      padding 0

  .module__data
    textarea
      width 100%
    p > .button
      margin-left 0
      text-align center
      width 100%

  .week
    margin-bottom 0 !important

.module.enroll
  position relative
  padding 30px 40px 40px 40px

  h1
    font-weight 300
    margin-bottom 20px

  .button
    margin-left 0
    margin-right 10px

  .close
    position absolute
    top 20px
    right 20px

.module.course-details
  p
    margin 0

  .submitted_selector
    .tooltip-trigger
      display inline-block
      position relative
      img
        height 20px
        width 20px
        margin-left 5px !important
        margin-bottom -4px

.module.course-description,
.module.campaign-description
  table
    margin-bottom 16px
    border 1px solid border_lt
    &:last-child
      margin-bottom 0
    td, th
      vertical-align top
      padding .5em .75em
      height auto
      border 1px solid border_lt
      white-space normal
    thead
      background smoke

.module__controls
  overflow hidden

.module__controls .button
  float right


.alert
  padding 20px
  text-align center
  p
    color warning

.notification
  background-color sprout
  padding 10px
  color #fff
  text-align center
  font-weight bold
  > .container
    display flex
    align-items center
    p
      flex 1
      margin-bottom 0

    .button
      margin-left 20px

    a:not(.button)
      color #fff

.notification--survey .container
  justify-content space-between

  & > div
    flex 1

  .dismiss
    font-size 2em

.course-alerts .notification:nth-of-type(n+2)
  border-top 2px solid darken(sprout, 20%)

.notice
  @extends .notification
  position relative
  z-index 9999
  width 100%
  text-align left
  background-color warning
  color #fff
  > .container
   svg
      &:focus,
      &:hover
        cursor pointer
        color smoke
        outline none
@media only screen and (max-width: 920px)
  .course-alerts
    height 0px
    margin-top -30px
