.module
  background-color white
  border 1px solid zircon
  margin 20px auto
  padding 20px
  position relative
  &:first-child
    +above(desktop)
      margin-top 20px
      margin-bottom 0
  .section-header
    min-height 40px
    padding 0
    h3
      color bayoux
    .controls
      padding 0

  .module__data
    textarea
      width 100%
    > p > .button
      margin-left 0
      text-align center
      width 100%
    .tags
      text-transform capitalize

  .week
    margin-bottom 0 !important

.module.course-details
  p
    margin 0 0 5px 0
  fieldset
    margin 0 0 5px 0
    > p
      margin 0

.module.course-description
  table
    margin-bottom 16px
    border 1px solid border_lt
    &:last-child
      margin-bottom 0
    td, th
      vertical-align top
      padding .5em .75em
      height auto
      border 1px solid border_lt
      white-space normal
    thead
      background smoke

.alert
  padding 20px
  text-align center
  p
    color warning

.notification
  background-color sprout
  padding global-margin
  p
    col(1)
    color black
    float left
    margin 0
    +above(desktop)
      col(3/4)
  .button
    float left
    margin 10px 0 0
    +above(desktop)
      margin 0
      float right

.notice
  @extends .notification
  z-index 9999
  width 100%
  text-align center
  background-color warning
  color black
