.module
  background-color white
  border 1px solid zircon
  margin 20px auto
  padding 20px
  position relative
  &:first-child
    +above(desktop)
      margin-top 20px
      margin-bottom 0
  .section-header
    min-height 40px
    padding 0
    .controls
      padding 0

  .module__data
    padding 0
    fieldset
      margin 5px auto
    textarea
      width 100%
    > p > .button
      margin-left 0
      text-align center
      width 100%
    .tags
      text-transform capitalize
  h3
    color bayoux
  p
    color dove

  .week
    margin-bottom 0 !important

.alert
  padding 20px
  text-align center
  p
    color burnt

.notification
  background-color sprout
  padding global-margin
  p
    col(1)
    color black
    float left
    margin 0
    +above(desktop)
      col(3/4)
  .button
    float left
    margin 10px 0 0
    +above(desktop)
      margin 0
      float right