.my-articles
  margin-bottom 0

  div.my-articles-header
    margin-bottom 15px

.my-assignment

.my-assignment-button
  div
    float right
    margin-left 10px

.my-assignment-title
  font-size 130%

.my-assignment-checklist
  font-size 120%
  padding 20px 40px
  overflow-y auto

  h2
    text-align center

  dd
    margin 10px

  button
    float right

.feedback
  font-size 120%
  padding 20px 40px
  overflow-y auto

  h2
    display inline
    text-align center

  dd
    margin 10px

  button
    float right

  a
    float right

hr.assignment-divider
  margin-bottom 4px
