.my-assignment

.my-assignment-button
  div
    float right
    margin-left 10px

.my-assignment-checklist
  padding 40px

  h2
    text-align center

  dd
    text-size 120%
    margin 10px

  button
    float right
