aside
  background-color white
  box-shadow 0 5px 10px -5px rgba(0, 0, 0, .1)
  overflow hidden
  position fixed
  width 100%
  z-index 100
  a
    text-decoration none
  a.active,
  a:hover
    border-bottom 2px solid bayoux


.logo
  float left
  font-size 0
  width 50px
  padding 15px 0
  .logo__link
    display inline-block
    font-size 0
    &:hover
      border-bottom 0
    img
      width 50px
      height 50px

.home
  clear none
  color bayoux
  float left
  height 55px
  margin-left 10px
  padding 17px 0
  +above(desktop)
    height 80px
    padding 22px 0
  p
    font-size 15px
    margin 5px auto
    padding 5px
    +above(desktop)
      margin 0
    a.inline
      margin-left 8px

.search
  @extends .home
  align center
  +below(desktop)
    display none

.login
  @extends .home
  float right

nav
  .nav__item
    overflow hidden
    padding 0
    width 30%
    height 40px
    display inline-block
    text-transform uppercase
    +above(tablet)
      width auto
      padding-right 20px
    +above(desktop)
      float left
      display block
      width auto
      height 80px
      padding 0
      margin 0 20px
      text-align center
      &:first-child
        margin-left 0

    p
      color manatee
      font-size 14px
      letter-spacing .019em
      line-height 38px
      vertical-align middle
      padding 0
      +above(desktop)
        line-height 78px
        font-size 15px

    a
      text-decoration none
    a.active,
    a:hover
      border-bottom 2px solid bayoux
      cursor pointer
      padding-bottom 3px
    a.active
      color bayoux
    &.bordered
      border-left 1px solid manatee
      padding-left 10px
      margin-left 10px

.course_navigation
  background-color white
  height auto
  padding 15px 0
  +above(desktop)
    padding 0
  a
    color #696971
