aside
  background-color white
  box-shadow 0px 1px 0 rgba(0,0,0,.1)
  position relative
  overflow hidden
  width 100%
  font-size 15px
  -webkit-font-smoothing auto
  line-height 1

  &.fluid
    .container
      max-width none
      padding-left 15px
      padding-right 15px


  a
    text-decoration none
    margin-left 24px
    display inline-block
    color inherit

    &:hover, &:active
      color bayoux

  .logo
    line-height 0
    a
      display inline-block
      margin 0
      border none

    img
      width 40px
      height 40px

  .container
    height $nav_height
    display flex
    align-items center
    justify-content space-around

  .home
    flex 1
    +below(desktop)
      flex none

  .search
    flex 1
    text-align center
    input[type="text"]
      width 190px
      border 1px solid $border_lt
      border-radius 0
      font-family inherit
      font-size inherit
      outline 0
      padding 10px
      -webkit-appearance none

    input[type="submit"]
      @extend aside a
      line-height inherit
      padding 10px 0
      margin-left 10px


    +below(desktop)
      display none

  .login
    flex 1
    text-align right

    b
      +below(desktop)
        display none

    i
      margin-right 4px
      margin-bottom: -1px;
      display: inline-block;
      font-size 16px
      vertical-align middle

    .expand
      overflow hidden
      display inline-block
      width 0
      transition all 250ms ease-in-out
      opacity 0
      vertical-align top
      white-space nowrap
      text-align left

      +below(desktop)
        display none

    a
      padding-top ($nav_height/2.5)
      padding-bottom ($nav_height/2.5)
      +below(desktop)
        margin-left 0

       &:hover
        .expand
          opacity 1
          width 110px


body.fixed-nav
  padding-top $nav_height
  aside
    position fixed
    top 0
    z-index 100

nav
  a.inline
    margin-left 8px
  .nav__item
    overflow hidden
    padding 0
    width 30%
    height 40px
    display inline-block
    text-transform uppercase
    +above(tablet)
      width auto
      padding-right 20px
    +above(desktop)
      float left
      display block
      width auto
      height 80px
      padding 0
      margin 0 20px
      text-align center
      &:first-child
        margin-left 0

    p
      color manatee
      font-size 14px
      letter-spacing .019em
      line-height 38px
      vertical-align middle
      padding 0
      +above(desktop)
        line-height 78px
        font-size 15px

    a
      text-decoration none
    a.active,
    a:hover
      border-bottom 2px solid bayoux
      cursor pointer
      padding-bottom 3px
    a.active
      color bayoux
    &.bordered
      border-left 1px solid manatee
      padding-left 10px
      margin-left 10px

.course_navigation
  background-color white
  height auto
  padding 15px 0
  +above(desktop)
    padding 0
  a
    color #696971
