body.onboarding
  background-color #7177C7
  background-image url("../images/waves.svg")
  background-repeat no-repeat
  background-position center 75%
  background-size cover
  overflow-y scroll

  color #fff
  a
    color #fff



  .fade-enter
    position absolute
    opacity 0.01
    transition opacity 250ms ease-in-out
    &.fade-enter-active
      opacity 1
  .fade-leave
    opacity 1
    transition opacity 250ms ease-in-out
    &.fade-leave-active
      opacity 0.01

  h1
    font-size 50px
    font-weight 300

  p
    font-size 19px

  .button
    .icon-rt_arrow
      vertical-align middle
      margin-left 20px


  // Minimal nav with only log out button
  .top-nav
    background transparent
    border none

    .top-nav__login-links
      margin-left auto
      b
        display none
      a
        color #fff

    .top-nav__main-links,
    .top-nav__faq-search
      display none


  // Intro and permissions pages
  .intro, .permissions
    padding-top 75px
    width 100%

    h1, h2
      font-weight 300
      margin-bottom 40px
      color #fff
      line-height 1

    h1
      font-size 50px

    h2
      font-size 30px
      opacity .6

    p, ul
      margin-bottom 40px
      color #fff
      font-size 19px

  .permissions
    max-width 600px

    li
      margin-bottom 10px


  // TODO: Pull out form control styles
  .form
    padding-top 75px

    > h1
      color #fff
      margin-bottom 40px

    .panel
      padding 25px
      background #fff
      box-shadow 0px 1px 2px rgba(0,0,0,.2)
      border-radius 3px
      width 100%
      max-width 400px
      display inline-block

    .form-control
      width 100%

    .form-group
      padding-bottom 25px
      margin-bottom 25px
      border-bottom 2px solid $border_lt

      label
        display block
        margin-bottom 8px
        font-weight 600
        color #2c2c2c

      .help-text
        color #666666
        margin-top 6px
        font-size 13px

    .form-required-indicator
      color warning

    .radio-group
      display flex
      justify-content space-between
      margin 0 -10px


    .radio-wrapped
      border-radius 2px
      border 1px solid $border_lt
      flex 1
      margin 0 10px

      label
        margin-bottom 0
        padding 8px 10px
        font-weight 400
        line-height 1

        > input
          vertical-align middle
          margin-right 16px
          position relative
          top -1px

        > span
          vertical-align middle

      &.checked
        background bayoux
        border-color bayoux

        > label
          color #fff
