.module
  padding 20px
  position relative
  &:first-child
    +above(desktop)
      margin-top 20px
  .section-header
    min-height 40px
    padding 0
    .controls
      padding 0
  .module__data
    padding 0
    textarea
      width 100%

.overview
  .primary
    +above(desktop)
      col(2/3)
  .sidebar
    +above(desktop)
      col(1/3)