.overview
  .primary
    +above(desktop)
      col(0.674, gutter: 1.8)
  .sidebar
    input
      margin-top 5px
      width 100%
    +above(desktop)
      col(1/3)
  .section-header
    margin-bottom 10px

.milestones
  .module__data
    margin: 0 0 15px
    & > p
      color bayoux
    hr
      border-top 1px solid border_lt
      margin-top 10px
    &.completed
      opacity 0.5
  .markdown
    color dove

