.scoping-method-types
  display grid
  grid-template-columns: 1fr 1fr
  gap: 1em
  justify-items center

  .program-description.program-description.program-description
    padding 0.5em
    &.selected
      outline 2px solid #878dcd
      border-color: #878dcd
