.notify_overdue
  background url('../images/message.svg') no-repeat 50% white
  border 1px solid mischka
  cursor pointer
  display inline-block
  float right
  height 40px
  margin-left 10px
  position relative
  width 64px
  &.loading
    background url('../images/loader.gif') no-repeat 50% white

.cohort-select, .sort-select
  border 3px solid smoke
  cursor pointer
  float left
  height 41px
  margin 10px 10px 10px 0
  overflow hidden
  +above(desktop)
    margin 0
    position absolute
    right 0
    top 20px
  select
    cursor pointer

.cohort-select
  background url('../images/arrow.svg') no-repeat 97% white
  border 1px solid mischka
  width 181px
  select.cohorts
    background transparent
    border 0
    border-radius 0
    color bayoux
    font-family body-font
    font-size 14px
    height 41px
    margin-top -3px
    padding 5px 10px
    width 219px
    -webkit-appearance none


.sort-select
  background url('../images/sort.svg') no-repeat 42% white
  border 1px solid mischka
  width 64px
  &.inset
    right 191px
  select.sorts
    background transparent
    border 0
    border-radius 0
    color bayoux
    height 41px
    padding-top 41px
    width 102px
    -webkit-appearance none


select
  &:active, &:focus
    background none
    font-size 16px
    outline 0
