.main-page
  h1
    font-weight 300
    margin-bottom 0

.stat-display
  display inline-block
  width 100%
  margin 40px 0 20px 0
  display flex
  justify-content space
  flex-flow wrap

  .stat-display__stat
    margin 0 20px 20px 20px
    text-align center
    width calc(50% - 40px)

    +above(desktop)
      margin 0 0 20px 0
      width (1/6*100)%

    .stat-display__value
      font-family inherit
      color $brand_primary
      font-size 38px
      margin 0
      font-weight 300

    small
      color #aaa
      font-size 1em
      line-height 1
