.main-page
  .stat-display
    padding 20px 0 0
    .stat-display__stat
      text-align center
      span(1/2)
      &:first-child, &:nth-child(2)
        margin-bottom 25px
      +above(desktop)
        span(1/9, offset=1/9)
        margin-bottom 0 !important

.course-page
  .title
    span(1)
    padding 22px 0
    text-align left
    +above(desktop)
      span(1/2)
      text-align left
    h2
      font-family "Roboto"
  .stat-display
    cf()
    span(1)
    padding 0
    equal-height(true)
    flex-wrap wrap
    +above(desktop)
      span(1/2)
    &:before, &:after
      display block
    .stat-display__stat
      margin 0
      background bayoux
      border 1px solid manatee
      border-width 0 1px
      font-family "Roboto"
      font-weight 100
      padding 5px 5px 10px
      flex 1 0 16.6666665%
      &:first-child
        border-width 0 1px 0 2px
      &:last-child
        border-width 0 2px 0 1px
      small
        font-size 12px
        font-weight 500
        line-height 1.3
        padding 0 5px 0
        text-transform uppercase
      h3
        width 100%
    &.half
      span(3/10)
      float right
      .stat-display__stat
        span(1/2)
