table
  font-size 15px
  text-align left
  width 100%
  thead th
    padding-bottom 0
    &.sortable
      cursor pointer
    &:after
      display inline-block
      content ''
      font-size 12px
      margin-left 3px
      transition transform .2s
      width 12px
      vertical-align middle
    &.asc:after, &.desc:after
      content '\EA01'
      font-family "icons"
    &.asc:after
      transform rotate(180deg)
    &.desc:after
      transform rotate(0deg)



  td, th
    box-sizing content-box
    color dove
    font-size 14px
    font-weight normal
    height 40px
    padding 15px 0
    vertical-align middle
    white-space nowrap
    &.date
      white-space pre
    &:first-child
      padding-left 15px
      float left
      +above(tablet)
        padding-left 0
        float none
    &:last-child
      padding-right 15px
    &.wide-mobile
      padding-left 15px
      padding-right 15px

table.list > tbody > tr
  background-color white
  border 1px solid mischka
  border-width 0 1px 1px
  cursor pointer
  transition background .15s
  &:first-child
    border-width 1px

  p, small, h4
    color dove
    &.red
      color warning

  p.title
    +below(tablet)
      white-space nowrap
      overflow hidden
      -ms-text-overflow ellipsis
      text-overflow ellipsis
      padding-right 5px
      margin-left -5px

  &.disabled
    cursor default
    &:hover
      background white

  .icon
    display inline-block
    transition transform .2s
  &:hover
    background athens

table.list.list--striped > tbody > tr:nth-child(even)
  background-color alabaster
  &:hover
    background athens

table.list.list--striped > thead > tr
  background-color alabaster
  &:hover
    background alabaster

table.users th:first-child, table.users tr.students td:first-child
  padding-left 15px

table.users tbody tr, table.articles tbody tr, table.activity-table tbody tr
  table tbody tr td:first-child, th:first-child
    padding-right 15px
    padding-left 15px
    table tbody tr:last-child
      border-bottom 0
  &.open
    background manatee
    &:hover
      background manatee !important
    td, p, small, span
      color white
      .button
        border-color white
        color white
        &:hover
          background-color white
          color bayoux
    .icon
      transform rotate(-180deg)
  &.no_revisions
    cursor default
    &:hover
      background white
    .icon
      color zircon
  &.drawer
    border-bottom 2px solid mischka
    > td
      height auto
      padding 0
      div
        transition height .2s
        overflow hidden
        th
          padding-top 0
        tr
          border 1px solid mischka
          border-width 0 0 1px
        thead tr:hover th
          cursor default
    &.closed
      border-bottom 0
  .avatar
    margin-bottom 7px
  td, th
    p.name
      line-height 1
      margin-top 2px
      +below(tablet)
        white-space nowrap
      +above(desktop)
        white-space normal
        margin-top 10px
      small
        display inline-block
        font-size 11px
        margin-top 8px
        +above(desktop)
          margin-top 3px
          text-align left
          width 103px
    .button
      margin-left 0

    td, th
      p.name
        line-height 1
        margin-top 0px
        +above(desktop)
          margin-top 0

table.uploads
  img
    margin-left 20px
    +above(desktop)
      height 60px

table.activity-table
  tbody
    td:last-child
      border-right 1px solid mischka
  tr
    border-collapse collapse
  td:first-child, th:first-child
    padding-left 15px
  a
    &:link, &:visited
      color bayoux
      text-decoration underline
    &:hover
      color darken(bayoux, 55%)
      border 0

.activity-table-row + .dyk-drawer
  span
    display block

.activity-table-row.open
  td
    a
      color #fff
      &:hover
        font-weight bold

// fix flashing of elements while store is receiving articles from API
.dyk-leave-active, .dyk-leave
  display none

.activity-table-row.closed + .activity-table-drawer
  border 0
  span
    height 0
    display none
  td
    padding 0
    height 0
    border 0

.activity-table-row.open + .activity-table-drawer
  span
    height auto
    display block
  td
    padding 25px 15px
    border inherit

.dyk__course-list
  list-style none
  margin-left 0
  padding-left 0
  li
    margin-left 0

.activity-table-drawer h5
  text-transform uppercase
  font-size 15px
  letter-spacing 0.5px
  margin 0 0 3px
  padding 0
  td:first-child, th:first-child
    padding-left 15px
  a
    &:link, &:visited
      color bayoux
      text-decoration underline
    &:hover
      color darken(bayoux, 55%)
      border 0
