.tag-download-csv 
  position absolute
  left 83%
  top 21px
  font-size 14px
  font-weight 600
  color #676eb4
  background-color #fff
  transition color 0.3s ease, background-color 0.3s ease
  padding 5px 10px
  text-decoration none
  
.tag-download-csv:hover 
  color #4f54a3
  background-color #f0f0f0