.ticket-dashboard
  h6.cc
    color grey
    font-size 12px
    margin 1rem 0 2rem
    text-transform uppercase
    span
      font-weight bold
  .message-body
    white-space pre-line
  .messages
    span(3/4)
    p
      margin-bottom 0
    h4
      color $text
  .sidebar
    padding 0 2rem
    span(1/4)
    section
      padding 0.5rem 0
      &:first-child
        padding-top 0
  .bold
    font-weight 600
  .open
    color sprout
  .bg-white
    background white
  .reply-details
    background athens
    border 1px solid zircon
    border-top none
    display flex
    margin-bottom 1rem
    padding 0.5rem 20px
    span
      align-items center
      display flex
      flex 1
      font-size 0.9rem
      p
        width 100%
    .status-icon
      border-radius 50%
      height 25px
      margin-left auto
      padding 8px
      width 25px
      &.check
        background blue-violet
      &.minus
        background warning
