.ticket-dashboard
  .messages
    span(3/4)
  .sidebar
    padding 0 2rem
    span(1/4)
    section
      padding 0.5rem 0
  .bold
    font-weight 600
  .open
    color sprout
  .bg-white
    background white