#timeline
  padding 10px
  a
    cursor pointer
  li
    margin 0
  .week
    background-color mercury
    display block
    margin 20px 0
    .block
      border 1px solid black
      margin 10px 0
      padding 10px
      width 100%

input[type="radio"]
  -webkit-appearance radio
input[type="checkbox"]
  -webkit-appearance checkbox