#react_root
  &.timeline
    padding 10px
    a
      cursor pointer
    li
      margin 0
    .week
      display block
      margin 10px 0 20px
      .block
        background-color white
        border 1px solid zircon
        margin 10px 0
        padding 20px
        width 100%
        &.editable
          cursor move
        &.dragging
          opacity 0

input[type="radio"]
  -webkit-appearance radio
input[type="checkbox"]
  -webkit-appearance checkbox