@import "../../../node_modules/tinymce/skins/lightgray/skin.min.css"

@font-face {
  font-family: "tinymce";
  src: url('../tinymce-skins/lightgray/fonts/tinymce.eot');
  src: url('../tinymce-skins/lightgray/fonts/tinymce.eot?#iefix') format('eot'),
    url('../tinymce-skins/lightgray/fonts/tinymce.woff') format('woff'),
    url('../tinymce-skins/lightgray/fonts/tinymce.ttf') format('truetype'),
    url('../tinymce-skins/lightgray/fonts/tinymce.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.mce-ico:before {
  display: inline-block;
  font-family: "tinymce";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mce-content-body
  padding 5px
  border solid 1px $brand_primary
