.wiki_training

.training__intro
  col(4/12)

.training__toc-container
  col(8/12)

.training__toc
  list-style none
  li
    margin 1em 0
    padding 1em
    border 1px solid mercury

.training__toc-inner
  padding-left 4em

.training__toc-progress
  border 2px solid mercury
  display block
  padding-top 1em
  width 30px
  height 30px
  border-radius 100px
  float left
  position relative
  top 20px
