.wiki_training

.training__intro
  col(4/12)

.training__toc-container
  col(8/12)

.training__toc
  list-style none
  li
    margin 1em 0
    padding 1em
    border 1px solid mercury

.training__toc-inner
  padding-left 4em

.training__toc-progress
  border 2px solid mercury
  display block
  padding-top 1em
  width 30px
  height 30px
  border-radius 100px
  float left
  position relative
  top 20px

.training__header
  margin 2em 0

.training__categories
  list-style none
  margin-left 0
  padding-left 0
  col(12/12)
  & > li
    border-top 1px solid gray
    padding 2em 0 0 2em
    margin-left 0
    display inline-block
    width 100%

.training__category__header
  col(4/12)

.training__categories__modules
  col(8/12)
  list-style none
  li
    border 2px solid #cbcbcb
    padding 2em
    margin 1em 0
    background white
    &:first-of-type
      margin-top 0
  a
    text-decoration none

.training-intro__header
  text-align left
