.uls-trigger
  position relative
  top -2px
  margin-left 0px
  /*@noflip*/ padding-left: 30px

.uls-menu
  margin-top 10px
  input[type=text]
    height auto

.uls-menu .uls-lcd-region-section .uls-lcd-region-title
  font-weight normal

.uls-search-label
  height 27px

.uls-filterinput
  padding-top 3px

@media only screen and (max-width: 920px)
  .uls-trigger
    position absolute
    top 20px
    right 15%
    font-size 12px
    border 1px solid aliceblue
    padding-right 0px

  .uls-menu
    left 0.5% !important

  .uls-grid
    .uls-columns
      padding 0 1px
    .uls-row
      min-width 350px
      .uls-eleven
        margin-left unset
  .uls-wide
    min-width 350px

  .uls-language-list a
    font-size 10px
