.table {
  width: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 3px;
  margin-top: 30px;
}

.gallery .upload {
  height: 250px;
  position: relative;
  margin: 2px;
}

.upload img {
  height: 250px;
}

.upload .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 2px;
  background: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.9em;
  overflow: hidden;
}

.info p {
  margin: 2px 10px;
}

.info p.usage {
  font-size: 1.5em;
}

.info p.uploader {
  font-size: 1em;
  color: rgb(190, 151, 225);
}

.upload .info {
  display: none;
}

.upload:hover .info {
  display: flex;
}
