#profile
	height 100px
	padding-top 14px
	margin 0 auto
	border 1px solid $border_lt

	h3,h5
		color #808080

#course-details
	padding-top 30px

#statistics
	padding-top 20px

#inner_statistics
	padding-top 10px

.profile_container
	margin 50px 7% 0 7%
	border 1px solid $border_lt

// making user profile pages responsive
@media only screen and (max-width: 500px)
	#profile
		height 50px
		padding-top 14px
		border 1px solid $border_lt

		h3,h5
			color brown
