panel_speed = .4s

.wizard-enter
  opacity 0.01
  transition opacity .2s ease-in-out
  &.wizard-enter-active
    opacity 1
.wizard-leave
  opacity 1
  transition opacity .2s ease-in-out
  &.wizard-leave-active
    opacity 0.01

.wizard__panel-enter
  left 150% !important
  transition left panel_speed ease-in-out

.wizard
  background-color rgba(smoke, .95)
  bottom 0
  left 0
  padding-top 80px
  position fixed
  right 0
  text-align center
  top 0
  z-index 1
  .wizard__panel
    background-color white
    box-shadow 0 0 15px 0 rgba(0, 0, 0, .2)
    left -150%
    max-height 100%
    max-width 860px
    min-height 600px
    opacity 0
    padding 20px 20px 81px
    position absolute
    text-align left
    top 50%
    transform translateX(-50%) translateY(-50%)
    transition left panel_speed ease-in-out, opacity .01s ease panel_speed
    vertical-align middle
    width 100%
    &.active
      left 50%
      opacity 1
      transition left panel_speed ease-in-out, opacity .01s
    &.active ~ .wizard__panel
      left 150%
    > h3
      font-weight 300
    p
      color dove
      white-space pre-line
    .section-header
      padding 0
      .controls
        padding 0
    .wizard__form
      height 80%
      margin-top 20px
      .column
        col(1/2)
      p
        text-align left
      textarea
        height 189px
      input, textarea
        margin-bottom 10px
        width 100%
    .wizard__panel__options
      padding 20px 0
    .wizard__option
      border 1px solid mischka
      cursor pointer
      margin-bottom 20px
      padding 20px
      position relative
      text-align left
      transition all .2s ease-in-out
      &:hover
        background smoke
      &.selected
        .wizard__option__border
          border-color transparent
          box-shadow 0 0 0 4px bayoux inset
        .wizard__option__checkbox
          background-color bayoux
          border-color transparent
      &.half
        +above(desktop)
          col(1/2, cycle: 2)
      .edit
        margin-top -10px
        position absolute
        right 40px
        top 50%
      .wizard__option__border
        box-shadow 0 0 0 4px transparent inset
        height 100%
        left 0
        pointer-events none
        position absolute
        top 0
        transition all .2s ease-in-out
        width 100%
      .wizard__option__checkbox
        border 1px solid mischka
        border-width 0 0 1px 1px
        height 30px
        position absolute
        right 0
        top 0
        transition all .2s ease-in-out
        width 30px
      .wizard__option__description
        border-top 1px solid transparent
        box-sizing content-box
        height 0
        margin-top 15px
        overflow hidden
        padding-bottom 18px
        transition all 0.2s ease-in-out
        width 100%
        &.open
          border-color mischka
          height auto
          padding 15px 0 33px
      .wizard__option__more
        background athens
        border-top 1px solid mischka
        bottom 0
        left 0
        padding 5px 0 9px
        position absolute
        right 0
        transition all .2s ease-in-out
        p
          text-align center
        &:hover
          background mischka
      h3
        font-size 18px
        text-align left
      p
        margin 0
        text-align left
        white-space pre-line
    .wizard__controls
      font-size 12px
      left 20px
      position absolute
      top -30px
      transition all 0.2s
      +above(desktop)
        left 0
      a
        color dove
        margin-right 20px
    .wizard__panel__controls
      background-color white
      border-top 1px solid mischka
      bottom 0
      padding 20px 0
      position absolute
      width calc(100% - 40px)
      .left
        col(1/3)
        padding 9px 0
        text-align left
        p
          font-size 14px
      .right
        col(2/3)
        text-align right
        div
          display inline-block
        p.red
          color burnt
  .section-header
    margin-bottom 10px