.wizard
  background-color rgba(smoke, 0.9)
  bottom 0
  left 0
  opacity 0
  padding-top 80px
  position fixed
  right 0
  text-align center
  top 0
  transition opacity 0.2s ease-in-out
  z-index 1
  &.active
    opacity 1
  .wizard__panel
    background-color white
    bottom 0
    box-shadow 0px 0px 15px 0px rgba(0,0,0,0.2)
    display none
    left 0
    margin-top -300px
    max-height 600px
    padding 20px
    position absolute
    right 0
    top 50%
    +above(desktop)
      left 50%
      margin-left -400px
      max-width 860px
      padding 20px
      top 50%
    &.active
      display block
    > h3
      font-weight 300
    p
      color dove
    .section-header
      padding 0
      .controls
        padding 0
    .wizard__form
      height 80%
      .column
        col(1/2)
      p
        column-break-inside avoid
        -webkit-column-break-inside avoid
        text-align left
      input, textarea
        margin-bottom 10px
        width 100%
    .wizard__panel__options
      padding 20px 0
    .wizard__option
      col(1/2)
      border 1px solid mischka
      box-shadow 0px 0px 0px 4px transparent inset
      cursor pointer
      margin-bottom 20px
      padding 20px
      position relative
      text-align left
      transition all 0.2s ease-in-out
      &:hover
        background smoke
      &.selected
        border-color transparent
        box-shadow 0px 0px 0px 4px bayoux inset
        .wizard__option__checkbox
          background-color bayoux
          border-color transparent
      .wizard__option__checkbox
        border 1px solid mischka
        border-width 0 0 1px 1px
        height 30px
        position absolute
        right 0
        top 0
        transition all 0.2s ease-in-out
        width 30px
      h3
        font-size 18px
      p
        margin 0
    .wizard__controls
      font-size 12px
      left 20px
      position absolute
      top -35px
      a
        margin-right 20px
    .wizard__panel__controls
      border-top 1px solid mischka
      bottom 0
      padding 20px 0
      position absolute
      width calc(100% - 40px)
      .left
        col(1/2)
        padding 9px 0
        text-align left
        p
          font-size 14px
      .right
        col(1/2)
        text-align right