.container
  %h1 Feedback Form Responses

  %table.list
    %tr
      %td Date/Time
      %td Subject
      %td Body
    - @responses.each do |response|
      %tr
        %td= response.created_at
        %td= response.module
        %td= link_to response.body.truncate(100), "/feedback_form_responses/#{response.id}"
