.container
  %h1 Feedback Form Responses

  %table.list
    %tr
      %td User id
      %td Referrer/Subject
      %td Body
    - @responses.each do |response|
      %tr
        %td= response.user_id
        %td= link_to response.module, response.subject
        %td
          %p= response.body
