.container.form-container
  %h1 Training module feedback
  %p How was the training module you just completed? What did you like? What didn't you like?
  %p Was there something you wanted to know about that was missing? Did anything feel unnecessary?
  %p Any feedback you have will be very helpful!

  = simple_form_for @feedback_form_response do |f|
    = f.input :subject,  as: :hidden, input_html: { value: @subject }
    = f.input :body, label: false
    = f.submit 'Submit', class: 'button dark'
