.container
  %h1 Feedback

  %h3 Timestamp
  %p= @response.created_at

  %h3 User ID
  %p= @response.user_id

  %h3 Subject
  %p= link_to @response.module, @response.subject

  %h3 Body
  %p= @response.body
