.section-header.surveys__admin-header.surveys__admin-header--question-groups--edit
  .container
    %div
      %h1 Editing #{@survey.name}
    .surveys__admin-header__action
      .form__actions
        = f.button :submit,"Save Survey", class: 'button border button--no-margin'
