- content_for :after_title, ' – Survey Results'

.section-header.surveys__admin-header.surveys__admin-header--survey_results
  .container
    %div
      %h1 Survey Results
    .surveys__admin-header__action
      -#
