.container.survey__edit
  .section-header
    %h1
      Surveys
    #app
    - if can_administer?
      = link_to "New Survey", new_survey_path, :class => 'button button--no-margin'
  %hr/
  - if @surveys.length
    %ul.list.list--survey= render partial: "survey", collection: @surveys
  - else
    %p
      No Surveys. #{link_to "Create One", new_survey_path}

  
