.container.survey__admin.survey__results
  .block
    %h1 #{@survey.name} Results

  - @surveys_question_groups.each_with_index do |group, index|
    = render partial: "question_group", locals: question_group_locals(group, index, @surveys_question_groups.length, true)
