%p#notice= notice

- @survey.rapidfire_question_groups.each_with_index do |question_group, index|
  = render partial: "question_group", locals: question_group_locals(question_group, index)

= link_to 'Edit', edit_survey_path(@survey)
