@font-face {
  font-family: icons;
  src: url(../fonts/icons.eot);
  src: url(../fonts/icons.eot?#iefix) format('eot'),url(../fonts/icons.woff) format('woff'),url(../fonts/icons.ttf) format('truetype'),url(../fonts/icons.svg#icons) format('svg');
  font-weight: 400;
  font-style: normal;
}

.icon:before {
  display: inline-block;
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\E001";
}

.icon-sort:before {
  content: "\E002";
}

.icon-sortArrow:before {
  content: "\E003";
}

.icon-viewCourse_arrow:before {
  content: "\E004";
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

input,
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.body-content,
li,
p {
  font-size: 14px;
  line-height: 1.5625;
  letter-spacing: .05px;
}

.body-content--large,
li--large,
li.large,
p--large,
p.large {
  font-size: 17px;
  line-height: 1.555;
  letter-spacing: .06px;
}

.list p {
  font-size: 16px;
  margin: 0 auto;
}

.form-content {
  font-family: 'Droid Serif',serif;
  font-size: 18px;
  line-height: 1.166666;
  letter-spacing: 1.29px;
}

.large-heading,
h1 {
  font-size: 36px;
  line-height: 1.194;
  letter-spacing: .45px;
}

.medium-heading,
h2 {
  font-size: 30px;
  line-height: 1.1666;
  letter-spacing: .38px;
  padding: 10px 0;
}

.small-heading,
h3 {
  font-size: 26px;
  line-height: 1.6667;
  letter-spacing: 1px;
}

.subtitle {
  color: #fff;
  font-size: 17px;
}

.description {
  float: right;
  clear: none;
  width: 58.8%;
  margin-right: 0;
  margin-left: 3%;
  text-align: right;
  padding-bottom: 30px;
}

.description:after,
.description:before {
  content: '';
  display: table;
}

.description:after {
  clear: both;
}

.description:last-child {
  margin-left: 0;
}

.description p {
  color: #fff;
}

.section-header {
  padding: 20px;
}

.course-link {
  margin-top: 15px;
}

.course-link a {
  color: #babccb;
}

.course-link a:hover {
  color: #e2e2e2;
}

.red {
  color: #e7674c;
}

body>.container {
  padding-bottom: 80px;
}

.container {
  width: auto;
  max-width: 1100px;
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0;
  padding-left: 0;
  position: relative;
}

.container:after,
.container:before {
  content: '';
  display: table;
}

.container:after {
  clear: both;
}

main {
  background: #fff;
  border-width: 0 1px;
  padding-top: 80px;
}

main header {
  background-color: #858daa;
  color: #fff;
  padding: 40px 20px;
}

header.course-page {
  padding: 40px 20px 10px;
}

header {
  border-bottom: 1px solid #e2e2e2;
  display: inline-block;
  padding: 20px;
  text-align: center;
  width: 100%;
}

section {
  position: relative;
}

.details {
  padding-top: 20px;
  overflow: hidden;
  text-align: right;
  width: 100%;
}

.details .details__detail {
  float: right;
  clear: none;
  text-align: inherit;
  width: 20%;
  margin-right: 0;
  margin-left: 0;
  padding: 20px 0;
}

.details .details__detail:after,
.details .details__detail:before {
  content: '';
  display: table;
}

.details .details__detail:after {
  clear: both;
}

.details .details__detail:last-child {
  float: right;
  clear: none;
  text-align: inherit;
  width: 40%;
  margin-right: 0;
  margin-left: 0;
}

.details .details__detail:last-child:after,
.details .details__detail:last-child:before {
  content: '';
  display: table;
}

.details .details__detail:last-child:after {
  clear: both;
}

.details .details__detail h6 {
  font-family: Roboto;
  font-size: 15px;
}

.details .details__detail p {
  color: #fff;
  font-size: 15px;
}

.details .details__detail p a:hover,
.details .details__detail p font-weight {
  color: #fff;
}

.hidden {
  display: none;
}

.course-page .title {
  float: right;
  clear: none;
  width: 50%;
  margin-right: 0;
  margin-left: 0;
  padding-left: 20px;
  text-align: right;
}

.course-page .title:after,
.course-page .title:before {
  content: '';
  display: table;
}

.course-page .title:after {
  clear: both;
}

.course-page .title h6 {
  color: #505a80;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  background-color: #f5f5f5;
  font-family: 'Droid Serif',serif;
  width: 100%;
  height: 100%;
  color: #505a80;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h4 {
  font-size: 22px;
}

h4.training {
  font-size: 25px;
}

h5 {
  font-size: 20px;
  padding: 20px 0;
}

h6 {
  color: #e2e2e2;
  font-size: 17px;
  line-height: 1.5;
}

small {
  color: #ced1dd;
  display: inline-block;
  font-size: 15px;
  text-align: center;
}

small.training {
  color: #858daa;
  font-size: 11px;
  right: 12px;
  position: relative;
  text-align: right;
}

p {
  margin: 5px auto;
  color: #505a80;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

i {
  font-style: italic;
}

li {
  margin-right: 20px;
}

li:first-child {
  margin-top: 0;
}

ul {
  list-style: disc;
}

a {
  color: #babccb;
  text-decoration: none;
}

a:hover {
  color: #858daa;
  border-bottom: 1px solid;
}

a:active {
  color: #505a80;
  border-bottom: 1px solid;
}

a.inline {
  color: inherit;
}

em {
  font-style: italic;
}

select {
  font-family: 'Droid Serif',serif;
}

.button {
  background-color: #fff;
  border: 1px solid #505a80;
  border-radius: 4px;
  color: #505a80;
  cursor: pointer;
  font-size: 11px;
  padding: 5px 10px;
  -webkit-transition: background .15s;
  transition: background .15s;
}

.button:active {
  background-color: #858daa;
  border: 1px solid #858daa;
  color: #fff;
}

.button.large {
  padding: 10px 50px;
  font-size: 14px;
}

.button.dark {
  background-color: #858daa;
  border-color: #858daa;
  color: #fff;
}

.button:hover {
  background-color: #505a80;
  border-bottom: 1px solid #858daa;
  color: #fff;
  font-weight: 700;
}

.button:hover:after {
  content: '\003e';
  margin-right: 5px;
}

.drawer {
  background: #f0f1f3;
  height: 0;
  min-height: 0!important;
  overflow: hidden;
  -webkit-transition: height .2s;
  transition: height .2s;
  width: 100%;
}

.drawer .list__header {
  background-color: #f5f5f5!important;
  border-bottom: none!important;
}

.drawer .list__header h6 {
  color: #858daa;
}

.drawer .list__header:hover {
  background-color: #f5f5f5!important;
}

.drawer .list__header .row__wrapper {
  border-bottom: none!important;
}

.drawer .row {
  background-color: #fafafa;
  border-bottom: 1px solid #e7e7e7;
  padding: 10px 0;
}

.drawer .row .row__wrapper {
  border-bottom: none;
  padding: 5px 20px!important;
}

.drawer .row:last-child {
  border-bottom: none;
}

.drawer .view-all {
  border-top: 1px solid #e7e7e7;
}

.drawer_trigger {
  cursor: pointer;
}

.drawer_trigger.disabled {
  cursor: initial;
}

.drawer_trigger.disabled .icon:before {
  color: #e2e2e2;
}

.drawer_trigger .icon:before {
  font-size: 12px;
  font-weight: 700;
  margin-top: 5px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform .2s;
  transition: transform .2s;
}

.open {
  border-bottom: 0;
}

.open .drawer_trigger__icon .icon:before {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.open .drawer {
  border-bottom: 1px solid #505a80;
}

.revision-list__row__link {
  cursor: pointer;
}

.revision-list__row__link .icon:before {
  font-size: 6px;
  font-weight: 700;
  line-height: 4;
  margin-right: 5px;
}

.sort {
  cursor: pointer;
}

.sort.asc p:before,
.sort.desc p:before {
  content: '\E001';
  display: inline-block;
  font-family: icons;
  font-size: 10px;
  margin-left: 5px;
  -webkit-transition: -webkit-transform .2s;
  transition: transform .2s;
}

.sort.asc p:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sort.desc p:before {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.list__header {
  font-family: Roboto;
}

.list__header .row__wrapper {
  border-bottom: 1px solid #858daa!important;
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.list__header .row__wrapper p {
  color: #858daa;
}

.list__header:hover {
  background: initial!important;
}

.list {
  list-style: none;
}

.row {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-right: 0;
  padding: 0 20px;
  -webkit-transition: background .15s;
  transition: background .15s;
}

.row div:not(.drawer):last-child {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.row div:not(.drawer) {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 40px;
}

.row div:not(.drawer) p {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.row h4 {
  color: #666;
}

.row .row__wrapper {
  border-bottom: 1px solid #e7e7e7;
  padding: 15px;
  width: 100%;
}

.row .fake-link {
  font-size: 14px;
  font-family: Roboto;
  text-align: left;
}

.row:last-child .row__wrapper {
  border-bottom: none;
}

.row:hover {
  background: #f0f1f3;
}

.row:hover .fake-link:after {
  content: '\E001';
  display: inline-block;
  font-family: icons;
  font-size: 10px;
  font-weight: 700;
  margin-right: 8px;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.row.view-all {
  border-bottom: none;
}

.row.view-all a {
  font-family: Roboto;
}

.row.view-all div {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 48px;
}

.row.view-all:hover {
  background: none!important;
}

.row.open:hover {
  background: 0 0;
}

.row.open>.row__wrapper {
  background-color: #858daa;
}

.row.open>.row__wrapper:hover {
  background: #858daa!important;
}

.row.open>.row__wrapper p,
.row.open>.row__wrapper small {
  color: #fff;
}

.table__header {
  border-bottom: 0;
  padding: 0;
  width: 100%;
}

.table__header div {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.table__header div p {
  color: #fff;
  text-align: right;
}

.course-list__row .course-list__row__title {
  float: right;
  clear: none;
  text-align: inherit;
  width: 31.3333333333333%;
  margin-right: 0;
  margin-left: 3%;
}

.course-list__row .course-list__row__title:after,
.course-list__row .course-list__row__title:before {
  content: '';
  display: table;
}

.course-list__row .course-list__row__title:after {
  clear: both;
}

.course-list__row .course-list__row__title:last-child {
  margin-left: 0;
}

.course-list__row .course-list__row__characters {
  float: right;
  clear: none;
  text-align: inherit;
  width: 14.166666666666702%;
  margin-right: 0;
  margin-left: 3%;
}

.course-list__row .course-list__row__characters:after,
.course-list__row .course-list__row__characters:before {
  content: '';
  display: table;
}

.course-list__row .course-list__row__characters:after {
  clear: both;
}

.course-list__row .course-list__row__characters:last-child {
  margin-left: 0;
}

.course-list__row .course-list__row__views {
  float: right;
  clear: none;
  text-align: inherit;
  width: 14.166666666666702%;
  margin-right: 0;
  margin-left: 3%;
}

.course-list__row .course-list__row__views:after,
.course-list__row .course-list__row__views:before {
  content: '';
  display: table;
}

.course-list__row .course-list__row__views:after {
  clear: both;
}

.course-list__row .course-list__row__views:last-child {
  margin-left: 0;
}

.course-list__row .course-list__row__students {
  float: right;
  clear: none;
  text-align: inherit;
  width: 14.166666666666702%;
  margin-right: 0;
  margin-left: 3%;
}

.course-list__row .course-list__row__students:after,
.course-list__row .course-list__row__students:before {
  content: '';
  display: table;
}

.course-list__row .course-list__row__students:after {
  clear: both;
}

.course-list__row .course-list__row__students:last-child {
  margin-left: 0;
}

.course-list__row .course-list__row__link {
  float: right;
  clear: none;
  text-align: inherit;
  width: 14.166666666666702%;
  margin-right: 0;
  margin-left: 3%;
}

.course-list__row .course-list__row__link:after,
.course-list__row .course-list__row__link:before {
  content: '';
  display: table;
}

.course-list__row .course-list__row__link:after {
  clear: both;
}

.course-list__row .course-list__row__link:last-child {
  margin-left: 0;
}

.course-list__row div:not(.drawer) {
  min-height: 40px;
}

.user-list__row .user-list__row__name {
  float: right;
  clear: none;
  text-align: inherit;
  width: 27.9%;
  margin-right: 0;
  margin-left: 3%;
}

.user-list__row .user-list__row__name:after,
.user-list__row .user-list__row__name:before {
  content: '';
  display: table;
}

.user-list__row .user-list__row__name:after {
  clear: both;
}

.user-list__row .user-list__row__name:last-child {
  margin-left: 0;
}

.user-list__row .user-list__row__name p.name {
  line-height: 1;
  margin-top: 13px;
}

.user-list__row .user-list__row__name .avatar {
  background-color: #e2e2e2;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  display: inline-block;
  margin-left: 15px;
}

.user-list__row .user-list__row__name small {
  font-size: 8px;
}

.user-list__row .user-list__row__characters-ms {
  float: right;
  clear: none;
  text-align: inherit;
  width: 12.45%;
  margin-right: 0;
  margin-left: 3%;
}

.user-list__row .user-list__row__characters-ms:after,
.user-list__row .user-list__row__characters-ms:before {
  content: '';
  display: table;
}

.user-list__row .user-list__row__characters-ms:after {
  clear: both;
}

.user-list__row .user-list__row__characters-ms:last-child {
  margin-left: 0;
}

.user-list__row .user-list__row__characters-us {
  float: right;
  clear: none;
  text-align: inherit;
  width: 12.45%;
  margin-right: 0;
  margin-left: 3%;
}

.user-list__row .user-list__row__characters-us:after,
.user-list__row .user-list__row__characters-us:before {
  content: '';
  display: table;
}

.user-list__row .user-list__row__characters-us:after {
  clear: both;
}

.user-list__row .user-list__row__characters-us:last-child {
  margin-left: 0;
}

.user-list__row .user-list__row__edits {
  float: right;
  clear: none;
  text-align: inherit;
  width: 27.9%;
  margin-right: 0;
  margin-left: 3%;
}

.user-list__row .user-list__row__edits:after,
.user-list__row .user-list__row__edits:before {
  content: '';
  display: table;
}

.user-list__row .user-list__row__edits:after {
  clear: both;
}

.user-list__row .user-list__row__edits:last-child {
  margin-left: 0;
}

.user-list__row .user-list__row__link {
  float: right;
  clear: none;
  text-align: inherit;
  width: 7.3%;
  margin-right: 0;
  margin-left: 3%;
}

.user-list__row .user-list__row__link:after,
.user-list__row .user-list__row__link:before {
  content: '';
  display: table;
}

.user-list__row .user-list__row__link:after {
  clear: both;
}

.user-list__row .user-list__row__link:last-child {
  margin-left: 0;
}

.user-list__row .user-list__row__link .icon:before {
  font-size: 20px;
}

.user-list__row .user-list__row__spacer {
  float: right;
  clear: none;
  text-align: inherit;
  width: -3%;
  margin-right: 0;
  margin-left: 3%;
}

.user-list__row .user-list__row__spacer:after,
.user-list__row .user-list__row__spacer:before {
  content: '';
  display: table;
}

.user-list__row .user-list__row__spacer:after {
  clear: both;
}

.user-list__row .user-list__row__spacer:last-child {
  margin-left: 0;
}

.article-list__row .article-list__row__title {
  float: right;
  clear: none;
  text-align: inherit;
  width: 38.2%;
  margin-right: 0;
  margin-left: 3%;
}

.article-list__row .article-list__row__title:after,
.article-list__row .article-list__row__title:before {
  content: '';
  display: table;
}

.article-list__row .article-list__row__title:after {
  clear: both;
}

.article-list__row .article-list__row__title:last-child {
  margin-left: 0;
}

.article-list__row .article-list__row__characters {
  float: right;
  clear: none;
  text-align: inherit;
  width: 17.6%;
  margin-right: 0;
  margin-left: 3%;
}

.article-list__row .article-list__row__characters:after,
.article-list__row .article-list__row__characters:before {
  content: '';
  display: table;
}

.article-list__row .article-list__row__characters:after {
  clear: both;
}

.article-list__row .article-list__row__characters:last-child {
  margin-left: 0;
}

.article-list__row .article-list__row__views {
  float: right;
  clear: none;
  text-align: inherit;
  width: 17.6%;
  margin-right: 0;
  margin-left: 3%;
}

.article-list__row .article-list__row__views:after,
.article-list__row .article-list__row__views:before {
  content: '';
  display: table;
}

.article-list__row .article-list__row__views:after {
  clear: both;
}

.article-list__row .article-list__row__views:last-child {
  margin-left: 0;
}

.article-list__row .article-list__row__link {
  float: right;
  clear: none;
  text-align: inherit;
  width: 17.6%;
  margin-right: 0;
  margin-left: 3%;
}

.article-list__row .article-list__row__link:after,
.article-list__row .article-list__row__link:before {
  content: '';
  display: table;
}

.article-list__row .article-list__row__link:after {
  clear: both;
}

.article-list__row .article-list__row__link:last-child {
  margin-left: 0;
}

.revision-list__row.list__header {
  max-height: 40px;
}

.revision-list__row.list__header h6,
.revision-list__row.list__header p {
  font-size: 14px;
}

.revision-list__row .revision-list__row__title {
  float: right;
  clear: none;
  text-align: inherit;
  width: 27.9%;
  margin-right: 0;
  margin-left: 3%;
}

.revision-list__row .revision-list__row__title:after,
.revision-list__row .revision-list__row__title:before {
  content: '';
  display: table;
}

.revision-list__row .revision-list__row__title:after {
  clear: both;
}

.revision-list__row .revision-list__row__title:last-child {
  margin-left: 0;
}

.revision-list__row .revision-list__row__date {
  float: right;
  clear: none;
  text-align: inherit;
  width: 22.75%;
  margin-right: 0;
  margin-left: 3%;
}

.revision-list__row .revision-list__row__date:after,
.revision-list__row .revision-list__row__date:before {
  content: '';
  display: table;
}

.revision-list__row .revision-list__row__date:after {
  clear: both;
}

.revision-list__row .revision-list__row__date:last-child {
  margin-left: 0;
}

.revision-list__row .revision-list__row__namespace {
  float: right;
  clear: none;
  text-align: inherit;
  width: 12.45%;
  margin-right: 0;
  margin-left: 3%;
}

.revision-list__row .revision-list__row__namespace:after,
.revision-list__row .revision-list__row__namespace:before {
  content: '';
  display: table;
}

.revision-list__row .revision-list__row__namespace:after {
  clear: both;
}

.revision-list__row .revision-list__row__namespace:last-child {
  margin-left: 0;
}

.revision-list__row .revision-list__row__characters {
  float: right;
  clear: none;
  text-align: inherit;
  width: 17.6%;
  margin-right: 0;
  margin-left: 3%;
}

.revision-list__row .revision-list__row__characters:after,
.revision-list__row .revision-list__row__characters:before {
  content: '';
  display: table;
}

.revision-list__row .revision-list__row__characters:after {
  clear: both;
}

.revision-list__row .revision-list__row__characters:last-child {
  margin-left: 0;
}

.revision-list__row .revision-list__row__views {
  float: right;
  clear: none;
  text-align: inherit;
  width: 7.3%;
  margin-right: 0;
  margin-left: 3%;
}

.revision-list__row .revision-list__row__views:after,
.revision-list__row .revision-list__row__views:before {
  content: '';
  display: table;
}

.revision-list__row .revision-list__row__views:after {
  clear: both;
}

.revision-list__row .revision-list__row__views:last-child {
  margin-left: 0;
}

.revision-list__row .revision-list__row__link {
  float: right;
  clear: none;
  text-align: inherit;
  width: 12.45%;
  margin-right: 0;
  margin-left: 3%;
}

.revision-list__row .revision-list__row__link:after,
.revision-list__row .revision-list__row__link:before {
  content: '';
  display: table;
}

.revision-list__row .revision-list__row__link:after {
  clear: both;
}

.revision-list__row .revision-list__row__link:last-child {
  margin-left: 0;
}

aside {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 10px -5px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px -5px rgba(0,0,0,.2);
  max-width: 1100px;
  overflow: hidden;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.logo {
  float: right;
  font-size: 0;
  width: 50px;
  padding: 15px 0;
}

.logo .logo__link {
  display: inline-block;
  font-size: 0;
}

.logo .logo__link:hover {
  border-bottom: 0;
}

.logo .logo__link img {
  width: 50px;
  height: 50px;
}

.login {
  color: #505a80;
  float: left;
  padding: 20px 0;
}

nav {
  float: right;
  height: 80px;
  width: 440px;
  padding: 22px 0;
}

nav .nav__item {
  cursor: pointer;
  float: right;
  overflow: hidden;
  padding: 0 20px 0 0;
}

nav .nav__item p {
  color: #858daa;
  font-size: 15px;
}

nav .nav__item .subtitle a {
  color: #858daa;
}

nav .nav__item.active a {
  color: #505a80;
  font-size: 15px;
}

nav .nav__item.bordered {
  border-right: 1px solid #858daa;
  padding-right: 10px;
  margin-right: 10px;
}

nav .nav__item p {
  padding: 5px;
}

.popover-trigger {
  position: relative;
}

.popover-trigger:hover .popover {
  opacity: 1;
  top: 110%;
}

.popover-trigger .popover {
  background-color: #fff;
  border: 1px solid #858daa;
  right: -15%;
  opacity: 0;
  padding: 10px 15px;
  pointer-events: none;
  position: absolute;
  top: 125%;
  -webkit-transition: opacity .2s linear, top .2s linear;
  transition: opacity .2s linear, top .2s linear;
  width: 130%;
  z-index: 4;
}

.popover-trigger .popover.dark {
  background-color: #858daa;
  border: none;
}

.popover-trigger .popover.dark:before {
  border-bottom: 6px solid #858daa;
}

.popover-trigger .popover.dark p {
  color: #fff;
}

.popover-trigger .popover:before {
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  top: -6px;
  content: '';
  display: block;
  right: 50%;
  margin-right: -6px;
  position: absolute;
}

.popover-trigger .popover h4 {
  color: #666;
}

.popover-trigger .popover p {
  color: #858daa;
  font-size: 11px;
  line-height: 1.4;
}

.cohort-select {
  background: url(../images/arrow.svg) 97% no-repeat #fff;
  border: 3px solid #f5f5f5;
  height: 41px;
  overflow: hidden;
  position: absolute;
  left: 20px;
  top: 20px;
  width: 181px;
}

.cohort-select select.cohorts {
  background: 0 0;
  border: 0;
  border-radius: 0;
  color: #505a80;
  font-family: Roboto;
  font-size: 14px;
  height: 41px;
  margin-top: -3px;
  padding: 5px 10px;
  width: 219px;
  -webkit-appearance: none;
}

.sort-select {
  background: url(../images/sort.svg) 42% no-repeat #fff;
  border: 3px solid #f5f5f5;
  height: 41px;
  overflow: hidden;
  position: absolute;
  left: 20px;
  top: 20px;
  width: 64px;
}

.sort-select.inset {
  left: 211px;
}

.sort-select select.sorts {
  background: 0 0;
  border: 0;
  border-radius: 0;
  color: #505a80;
  height: 41px;
  padding-top: 41px;
  width: 102px;
  -webkit-appearance: none;
}

select:active,
select:focus {
  outline: 0;
  background: 0 0;
}

.stat-display {
  padding: 20px 0 0;
}

.stat-display .stat-display__stat {
  float: right;
  clear: none;
  text-align: inherit;
  width: 11.1111111111111%;
  margin-right: 11.1111111111111%;
  margin-left: 0;
}

.stat-display .stat-display__stat:after,
.stat-display .stat-display__stat:before {
  content: '';
  display: table;
}

.stat-display .stat-display__stat:after {
  clear: both;
}

.course-page .stat-display {
  float: right;
  clear: none;
  text-align: inherit;
  width: 50%;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.course-page .stat-display:after,
.course-page .stat-display:before {
  content: '';
  display: table;
}

.course-page .stat-display:after {
  clear: both;
}

.course-page .stat-display>div {
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: wrap;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: auto;
  margin-bottom: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.course-page .stat-display>div * {
  -ms-flex: 0 1 auto;
}

.course-page .stat-display .stat-display__stat {
  background: #505a80;
  border: 1px solid #858daa;
  border-width: 0 1px;
  padding: 5px 5px 10px;
  float: right;
  clear: none;
  text-align: inherit;
  width: 16.6666666666667%;
  margin-right: 0;
  margin-left: 0;
}

.course-page .stat-display .stat-display__stat:after,
.course-page .stat-display .stat-display__stat:before {
  content: '';
  display: table;
}

.course-page .stat-display .stat-display__stat:after {
  clear: both;
}

.course-page .stat-display .stat-display__stat:first-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 0;
}

.course-page .stat-display .stat-display__stat:last-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left: 0;
}

.course-page .stat-display .stat-display__stat small {
  font-family: Roboto;
}

.course-page .stat-display .stat-display__stat h3 {
  width: 100%;
}

.course-page .stat-display.half {
  clear: none;
  text-align: inherit;
  width: 30%;
  margin-right: 0;
  margin-left: 0;
  float: left;
}

.course-page .stat-display.half:after,
.course-page .stat-display.half:before {
  content: '';
  display: table;
}

.course-page .stat-display.half:after {
  clear: both;
}

.course-page .stat-display.half .stat-display__stat {
  float: right;
  clear: none;
  text-align: inherit;
  width: 50%;
  margin-right: 0;
  margin-left: 0;
}

.course-page .stat-display.half .stat-display__stat:after,
.course-page .stat-display.half .stat-display__stat:before {
  content: '';
  display: table;
}

.course-page .stat-display.half .stat-display__stat:after {
  clear: both;
}