%link{rel: 'stylesheet', href:'/mailer.css'}
%table.row
  %tbody
    %tr
      %th
        %table
          %tr
            %td.main-content
              %p.paragraph
                = "Hello #{@user.username}!"
              %p.paragraph
                Welcome to
                %a.link{:href => "https://#{ENV['dashboard_url']}"}
                  Wiki Education Dashboard!
              %p.paragraph
                You've signed in to the Dashboard using your Wikipedia account, but
                you haven't joined a course. If you are a student and you were given
                an enrollment link by your instructor, you can now use that link
                to add yourself to the course page.
              %p.paragraph
                If you're here for another reason, or you've run into technical difficulties,
                let us know by replying to this email.
              %p.paragraph
                Best regards,
                %br
                %em
                  The Wiki Education team