<% if current_user.permissions > 0 && !@admin_courses.empty? %>
  <section id="admin_courses">
    <div class="section-header">
      <h3>Submitted Courses</h3>
    </div>
    <div class="row course-list__row list__header">
      <div class="row__wrapper desktop-only-flex">
        <div class="course-list__row__long_title sort asc" data-sort="atitle"><p><%= t("courses.courses") %></p></div>
        <div class="course-list__row__link"></div>
      </div>
    </div>
    <ul class="list">
    <% @admin_courses.each do |c| %>
      <%= render :partial => 'unapproved_row', :locals => {:course => c, :admin => true, :user => false} %>
    <% end %>
    </ul>
  </section>
<% end %>
