<% if current_user.admin? && presenter.admin_courses.any? %>
  <section id="admin_courses">
    <div class="section-header">
      <h3>Submitted Courses</h3>
    </div>
    <div class="row course-list__row list__header">
      <div class="row__wrapper desktop-only-flex">
        <div class="course-list__row__long_title sort asc" data-sort="atitle"><p><%= t("courses.courses") %></p></div>
        <div class="course-list__row__link"></div>
      </div>
    </div>
    <ul class="list">
    <% presenter.admin_courses.each do |c| %>
      <%= render 'courses/unapproved_row', course: c, admin: true, user: false %>
    <% end %>
    </ul>
  </section>
<% end %>
