<%= render :partial => 'nav', :locals => {:page => 2, :course => @course} %>

<%= render :partial => 'header', :locals => {:page => 2} %>

<section id="articles">
  <h3 class="section-header">Articles Edited</h3>
  <%= render :partial => 'articles/list_header' %>
  <ul class="list">
  <% @articles.each do |a| %>
    <%= render :partial => 'articles/row', :locals => {:article => a} %>
  <% end %>
  </ul>
</section>