<% content_for :after_title do " - #{@cohort.title}" end %>

<%= render 'header_stats' %>

<div class="container">
  <% if user_signed_in? %>
    <%= render 'submitted_courses' %>
    <%= render 'user_courses' %>
  <% end %>

  <%= render 'cohort_courses' %>
</div>
