<% content_for :after_title do " - #{@presenter.cohort.title}" end %>

<%= render 'header_stats', presenter: @presenter %>

<div class="container">
  <% if user_signed_in? %>
    <%= render 'submitted_courses', presenter: @presenter %>
    <%= render 'user_courses', presenter: @presenter %>
  <% end %>

  <%= render 'cohort_courses', presenter: @presenter %>
</div>
