<% content_for :before_title do "#{@course.title} - " end %>

<%= render :partial => 'header', :locals => {:page => 0} %>

<div class="container">
  <section id="react_root" class="overview">
    <!-- This is where React takes over -- See /app/javascripts for relevant code -->
  </section>
</div>