<% content_for :before_title do "#{@course.title} Timeline - " end %>

<%= render :partial => 'nav', :locals => {:page => 3, :course => @course} %>

<%= render :partial => 'header', :locals => {:page => 3} %>

<section id="users">
  <p>timeline here</p>
</section>
