<% content_for :before_title do "#{@course.title} Timeline - " end %>

<%= render :partial => 'header', :locals => {:page => 3} %>

<div class="container">
  <section id="react_root" class="timeline">
    <!-- This is where React takes over -- See /app/javascripts for relevant code -->
  </section>
</div>