---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&revids=1340536495&rvprop=ids
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 203.92.58.30
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"pages":{"5348896":{"pageid":5348896,"ns":0,"title":"Third
        place","revisions":[{"revid":1340536495,"parentid":1337277248}]}}}}'
  recorded_at: Tue, 10 Mar 2026 16:23:38 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&meta=tokens&type=csrf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 203.92.58.30
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"tokens":{"csrftoken":"+\\"}}}'
  recorded_at: Tue, 10 Mar 2026 16:23:39 GMT
- request:
    method: post
    uri: https://en.wikipedia.org/w/api.php
    body:
      encoding: UTF-8
      string: action=compare&difftype=table&format=json&fromrev=1337277248&token=%2B%5C&torev=1340536495
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 203.92.58.30
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"warnings":{"main":{"*":"Unrecognized parameter: token."}},"compare":{"fromid":5348896,"fromrevid":1337277248,"fromns":0,"fromtitle":"Third
        place","toid":5348896,"torevid":1340536495,"tons":0,"totitle":"Third place","*":"<tr>\n  <td
        colspan=\"2\" class=\"diff-lineno\">Line 4:</td>\n  <td colspan=\"2\" class=\"diff-lineno\">Line
        4:</td>\n</tr>\n<tr>\n  <td class=\"diff-marker\"></td>\n  <td class=\"diff-context
        diff-side-deleted\"><div>&lt;!-- Deleted image removed: [[File:Ray Oldenburg
        and Karen Christensen.jpeg|thumb|Ray Oldenburg and Karen Christensen, coauthors
        of the sequel to The Great Good Place, in 2012.]] --&gt;</div></td>\n  <td
        class=\"diff-marker\"></td>\n  <td class=\"diff-context diff-side-added\"><div>&lt;!--
        Deleted image removed: [[File:Ray Oldenburg and Karen Christensen.jpeg|thumb|Ray
        Oldenburg and Karen Christensen, coauthors of the sequel to The Great Good
        Pl[...]
[...]
