= hot_javascript_tag 'accordian'
<<<<<<< HEAD
- content_for :before_title, "FAQ - #{@faq.title}"
=======
>>>>>>> f3815a4f0 (Done)
.container
  .faq-list
    %a{href: '/faq'} FAQs
    =" > #{@faq.title}"
    = render 'faq', faq: @faq, expanded: true
  .faq-feedback
    Can't find what you're looking for? Something wrong, missing, or confusing?
    %a{href: '/feedback' } Let us know.
