.campaign-nav__wrapper
  .campaign_navigation
    .container
      %a
        %h2.title= @campaign.title
      %nav
        %ul
          %li.nav__item#overview-link
            %p
              %a{href: overview_campaign_path(@campaign.slug)}
                = t('courses.overview')
          %li.nav__item#programs-link
            %p
              %a{href: programs_campaign_path(@campaign.slug)}
                = t('courses.programs')