/* /////////////////////////////////////////////////////

BASE STYLES
Only single elements. No classes or ids.

///////////////////////////////////////////////////// */


*
  box-sizing border-box

html
  -webkit-text-size-adjust 100%
  -webkit-font-smoothing antialiased
  height 100%

body
  background-color smoke
  font-family body-font
  width 100%
  height 100%
  color bayoux

h1, h2, h3, h4, h5
  margin 0

h1
  @extend .large-heading

h2
  @extend .medium-heading

h3
  @extend .small-heading

h4
  font-size 22px
  &.training
    font-size 25px

h5
  font-size 20px
  padding 20px 0

h6
  color zircon
  font-size 17px
  font-weight bold
  line-height 1.5

small
  color mischka
  display inline-block
  font-size 15px
  text-align center
  &.training
    color manatee
    font-size 11px
    left 12px
    position relative
    text-align left

p
  @extend .body-content
  margin 5px auto
  color bayoux

  &:first-child
    margin-top 0
  &:last-child
    margin-bottom 0
  &.large
    @extend .body-content--large

li
  @extend .body-content
  margin-left 20px

  &:first-child
    margin-top 0
  &.large
    @extend .body-content--large

ul
  list-style disc

a
  color suit
  text-decoration none
  &:hover
    color manatee
    border-bottom 1px solid
  &:active
    color bayoux
    border-bottom 1px solid
  &.inline
    color inherit

em
  font-style italic

select
  font-family 'Droid Serif', serif