/* /////////////////////////////////////////////////////

BASE STYLES
Only single elements. No classes or ids.

///////////////////////////////////////////////////// */


*
  box-sizing border-box

html
  -webkit-text-size-adjust 100%
  -webkit-font-smoothing antialiased
  height 100%

body
  font-family body-font
  width 100%
  height 100%
  color manatee

h1, h2, h3, h4, h5
  margin 0

h2
  @extend .form-content

h3
  @extend .large-heading

h4
  @extend .medium-heading

h5
  @extend .small-heading

small
  color bayoux
  text-align center

p
  @extend .body-content
  margin 5px auto
  color bayoux

  &:first-child
    margin-top 0
  &:last-child
    margin-bottom 0
  &.large
    @extend .body-content--large

li
  @extend .body-content
  margin-left 20px

  &:first-child
    margin-top 0
  &.large
    @extend .body-content--large

ul
  list-style disc

a
  color suit
  text-decoration none
  &:hover
    color manatee
    border-bottom 1px solid
  &:active
    color bayoux
    border-bottom 1px solid

em
  font-style italic

select
  font-family 'Droid Serif', serif