/*
  Headings
*/

/*
  Body Content
*/

.body-content
  font-size 15px
  font-weight 400
  line-height 1.5625
  letter-spacing 0.05px

  &--large
    font-size 17px
    line-height 1.555
    letter-spacing 0.06px

.list p
  margin 0 auto
  // letter-spacing 0.5px

.form-content
  font-family body-font
  font-size 18px
  line-height 1.166666
  letter-spacing 1.29px

.large-heading
  font-size 36px
  line-height 1.194
  letter-spacing 0.45px

.medium-heading
  font-size 30px
  line-height 1.1666
  letter-spacing 0.38px
  padding 10px 0

.small-heading
  font-size 26px
  line-height 1.6667
  letter-spacing 1px

.subtitle
  color white
  font-size 17px

.description
  col(3/5)
  text-align left
  padding-bottom 30px
  p
    color white

.course-link
  margin-top 15px
  a
    color suit
    &:hover
      color zircon

.red
  color burnt