/*
  Headings
*/

/*
  Body Content
*/

.body-content
  font-size 16px
  line-height 1.5625
  letter-spacing 0.05px

  &--large
    font-size 18px
    line-height 1.555
    letter-spacing 0.06px

.list-content
  font-size 14px
  line-height 2.142
  letter-spacing 0.5px

.form-content
  font-family body-font
  font-size 18px
  line-height 1.166666
  letter-spacing 1.29px

  &--small
    font-size 14px
    line-height 1.143
    letter-spacing 0.78px

.large-heading
  font-size 36px
  line-height 1.194
  letter-spacing 0.45px

.medium-heading
  font-size 24px
  line-height 1.1666
  letter-spacing 0.38px

.small-heading
  font-size 18px
  line-height 1.6667
  letter-spacing 1px