/*
  Headings
*/

/*
  Body Content
*/

.body-content
  font-size 15px
  font-weight 400
  line-height 1.5625
  letter-spacing .05px

  &--large
    font-size 17px
    line-height 1.555
    letter-spacing .06px

.list p
  margin 0 auto
  // letter-spacing .5px

.form-content
  font-family body-font
  font-size 18px
  line-height 1.166666
  letter-spacing 1.29px

.large-heading
  font-size 36px
  line-height 1.194
  letter-spacing .45px
  
  +below(tablet)
    font-size 30px

.medium-heading
  font-size 30px
  line-height 1.1666
  letter-spacing .38px
  padding 10px 0

.small-heading
  font-size 26px
  line-height 1.6667
  letter-spacing 1px

.subtitle
  color white
  font-size 17px

.description
  col(3/5)
  text-align left
  padding-bottom 30px
  p
    color white

.course-link
  margin-top 15px
  a
    color suit
    &:hover
      color zircon

.red
  color burnt


/*
  Icon overrides
*/
@font-face {
  font-family: "icomoon";
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot?#iefix') format('eot'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon:before {
  font-family: "icomoon" !important;
}

.icon-arrow:before {
  content: "\E600" !important;
}
.icon-check:before {
  content: "\E601" !important;
}
.icon-left_arrow:before {
  content: "\E602" !important;
}
.icon-message:before {
  content: "\E603" !important;
}
.icon-restart:before {
  content: "\E604" !important;
}
.icon-sort:before {
  content: "\E605" !important;
}
.icon-sortArrow:before {
  content: "\E606" !important;
}
.icon-up_arrow:before {
  content: "\E607" !important;
}