header
  margin-top 40px
  text-align center

.main-logo
  display inline-block
  width 60px
  height 60px
  background transparent url('/assets/images/wiki-logo.png') no-repeat center center
  background-size 100% auto
  margin 0 auto
  overflow hidden
  text-indent -9999px