.container
  background athens
  border 1px solid zircon
  border-width 0 1px
  center(1100px)
  position relative
  cf()

aside
  height 100%
  span(1/5)

main
  background white
  border-left 1px solid zircon
  span(4/5)
  header
    background-color manatee
    color white

header
  border-bottom 1px solid zircon
  padding 20px
  text-align center
  overflow hidden

section
  padding 20px