
/* Variables for the home page. These should make their way into main.styl soon. */
$brand_primary = #696BB1
$brand_primary_light = #7274c3
$body_color_dark = #2C2C2C
$body_color = #6A6A6A
$body_font = "Open Sans", "Source Sans Pro", sans-serif
$heading_font = $body_font
$h1_font = "Source Sans Pro", "Open Sans", sans-serif

body.home
  color $body_color
  font-family $body_font

  /* Base button */
  .button
    background #fff
    border none
    border-radius 2px
    color: $brand_primary
    font-family inherit
    font-weight 600
    margin-left 0

    & + .button {
      margin-left 20px
    }

    &:hover, &:focus
      background-image linear-gradient(top, #fff, #e0e0e0)

  /* Ghost button */
  .button.button-ghost
    background transparent
    border 1px solid $brand_primary

    &:hover, &:focus
      color #fff
      background $brand_primary

  /* Ghost button for inverted backgrounds */
  .button.button-ghost.button-inverse
    border none
    box-shadow inset 0 0 0 1px #fff
    color #fff

    &:hover, &:focus
      color $brand_primary
      background #fff

  /* Help icon button */
  .help
    border 1px solid #fff
    color #fff
    border-radius: 50%
    font-size 16px
    font-weight 600
    display inline-block
    width 26px
    height 26px
    line-height 24px
    text-decoration none
    text-align center
    transition all 62ms ease-in-out
    padding-left 1px
    margin-left 20px

    &:hover, &:focus
      background-color #fff
      color $brand_primary


  /* Home page hero */
  .hero
    .container
      padding-bottom 100px
      padding-top 80px

    .button i
      color #7c7c77
      font-size 28px
      vertical-align middle
      margin -6px 6px -4px -4px
      line-height 0
      display inline-block

      &:before
        vertical-align bottom

    .button-ghost i
      color inherit

    h1
      color #fff
      font-family $h1_font
      font-size 54px
      line-height 1.4
      margin-bottom 80px


  /* Basic sections and variants */
  section
    .container
      padding 60px 40px 60px 40px

    &.light
      background-color #fff

    &.dark
      background-color $brand_primary
      background-image url("../images/waves.svg")
      background-repeat no-repeat
      background-position center 70%
      background-size cover

      &, h1, h2, h3
        color #fff

    h1, .h1
      font-family $h1_font
      font-size 54px
      line-height 1.4
      color $brand_primary
      max-width 100%

    h2, .h2
      font-family $heading_font
      font-size 30px
      font-weight 300
      color $body_color_dark
      max-width 640px
      margin 0 auto 20px auto

    h3, .h3
      color $brand_primary
      font-size 20px
      font-family $heading_font


  /* 2 column grid */
  .col
    margin-top 40px
    col(1/2)


  /* Larger ul style */
  ul
    font-size 21px
    margin-bottom 20px
    li
      margin-bottom 10px


  /* Improve stat display */
  .stat-display
    display inline-block
    width 100%
    margin 20px 0 55px 0
    display flex
    justify-content space-between

    .stat-display__stat
      width (1/6*100)%
      float none
      margin 0

    h1
      font-family inherit
      color $brand_primary
      font-size 38px
    small
      color #aaa


  /* Total stats */
  .stats-total
    h2
      margin-bottom 60px
    h3
      font-size 25px
      font-family: $h1_font
      font-weight 400
      -webkit-font-smoothing auto
      margin-bottom -10px
    h4
      font-size 130px
      color #fff
      font-weight 600
    p
      font-size 21px
      line-height 1.3

    .container > div:last-child
      .col
        h4
          margin-top 10px
          font-size 75px

  .universities
    h2
      text-align center
      max-width 85%


