/* /////////////////////////////////////////////////////

WikiEduDashboard styles
Author: nate@wintr.us

///////////////////////////////////////////////////// */

// Fonts
body-font = 'Open Sans', sans-serif
body-color = #6a6a6a

// Colors
warning = #D95757

mischka = #CED1DD
athens = #F0F1F3
alabaster = #FAFAFA
mercury = #E7E7E7
zircon = #E2E2E2
suit = #BABCCB
bayoux = #696BB1
manatee = #696BB1
blue-violet = #5248AF

smoke = #F5F5F5
dove = #646464
sprout = #40AD90

$success_text = #359178

border_lt = #D9D9D9
$border_lt = #D9D9D9

$text = #646464
$text_lt = #DDD

// Margin & Padding
global-margin = 20px
global-padding-mobile = 50px
global-padding = 70px

// Breakpoints
tablet = 400px
desktop = 920px
wide-desktop = 1200px

ts-speed = .2s

$nav_height = 65px

// Responsive switches (overridden in ie.styl)
fix-mqs ?= false
old-ie ?= false


@import "_reset"
@import "../../../node_modules/jeet/stylus/jeet"
@import "_icons"
@import "_utils"
@import "_fonts"
@import "_layout"
@import "_base"
@import "modules/*"
@import "home"
