/* /////////////////////////////////////////////////////

WikiEduDashboard styles
Author: nate@wintr.us

///////////////////////////////////////////////////// */

// Fonts
body-font = 'Open Sans', sans-serif
body-color = #6a6a6a

$header-font = 'Source Sans Pro', sans-serif

// Colors
warning = #D95757

mischka = #CED1DD
athens = #F0F1F3
alabaster = #FAFAFA
mercury = #E7E7E7
zircon = #E2E2E2
suit = #BABCCB
bayoux = #696BB1
manatee = #696BB1
blue-violet = #5248AF

smoke = #F5F5F5
dove = #646464
sprout = #40AD90

$success_text = #359178
$warning_text = #D95757

border_lt = #D9D9D9
$border_lt = #D9D9D9
$border_med = #D5D5D5
$border_med_dk = #979797

$text_dk = #2C2C2C
$text = #646464
$text_med = #A0A0A0
$text_lt = #DDD
//$brand_primary = #656E92
$brand_primary = #676EB4


// Margin & Padding
global-margin = 20px
global-padding-mobile = 50px
global-padding = 70px

// Breakpoints
tablet = 400px
desktop = 920px
wide-desktop = 1200px

ts-speed = .2s

$nav_height = 55px

// Responsive switches (overridden in ie.styl)
fix-mqs ?= false
old-ie ?= false


@import "_reset"
@import "../../../node_modules/jeet/stylus/jeet"
@import "_icons"
@import "_utils"
@import "_fonts"
@import "_layout"
@import "_base"
@import "modules/*"
@import "home"
