/* /////////////////////////////////////////////////////

WikiEduDashboard styles
Author: nate@wintr.us

///////////////////////////////////////////////////// */

// Fonts
body-font = 'Roboto', sans-serif

// Colors
burnt = #E7674C

mischka = #CED1DD
athens = #F0F1F3
alabaster = #FAFAFA
mercury = #E7E7E7
zircon = #E2E2E2
suit = #BABCCB
manatee = #858DAA
bayoux = #656E92
blue-violet = #5248AF

smoke = #F5F5F5
dove = #646464

// Margin & Padding
global-margin = 20px
global-padding-mobile = 50px
global-padding = 70px

// Breakpoints
tablet = 400px
desktop = 920px
wide-desktop = 1200px

ts-speed = .2s

// Responsive switches (overridden in ie.styl)
fix-mqs ?= false
old-ie ?= false

@import "../../../node_modules/jeet/stylus/jeet"
@import "_icons"
@import "_reset"
@import "_utils"
@import "_fonts"
@import "_layout"
@import "_base"
@import "modules/*"