@import "_shared"

$spacer = 10px
$survey_max_width = 665px

@import "../../../node_modules/nouislider/src/nouislider.css"
@import "../../../node_modules/nouislider/src/nouislider.pips.css"
@import "survey_modules/vendor/chosen.css"
@import "survey_modules/*"