/* /////////////////////////////////////////////////////

WikiEduDashboard styles
Author: nate@wintr.us

///////////////////////////////////////////////////// */

/* type */
$body_font = 'Open Sans', sans-serif
$body_font_weight = 300
$body_font_size = 19px
$body_leading = 1.56
$body_letter_spacing = 0.01em


/* colors */
$body_bg = #FFF
$body_color = $type_dark

$type_dark = #000
$type_light = #666

$border = #595959
$border_lt = #CCC

$wiki_brand = #656E92

$btn_border_radius = 3px
$btn_text_color = #FFF
$btn_font_size = 15px

$success = #05741F
$warning = #940000


@import "_reset"
@import "../../../node_modules/jeet/stylus/jeet"
@import "_utils"
@import "_icons"
@import "_training_base"
@import "training_modules/*"
