/* /////////////////////////////////////////////////////

WikiEduDashboard styles
Author: nate@wintr.us

///////////////////////////////////////////////////// */

/* type */
$body_font = 'Open Sans', sans-serif


/* colors */
$body_bg = #F2F2F2
$body_color = $type_dark

$type_dark = #000
$type_light = #666

$border = #595959
$border_lt = #CCC

$wiki_brand = #656E92


@import "_reset"
@import "../../../node_modules/jeet/stylus/jeet"
@import "_utils"
@import "_icons"
@import "_training_base"
@import "training_modules/*"
