/* /////////////////////////////////////////////////////

WikiEduDashboard styles
Author: nate@wintr.us

///////////////////////////////////////////////////// */

/* type */
$body_font = 'Open Sans', sans-serif
$headline_font = 'Source Sans Pro', sans-serif
$body_font_weight = 300
$body_font_size = 19px
$body_leading = 1.56
$body_letter_spacing = 0.01em


/* colors */
$body_bg = #F1F1F1
$body_color = $type_dark
$card_type_color = $type_light

$type_dark = #3A3D46
$type_light = #666

$border = #595959
$border_lt = #CCC

$training_primary = #40AD90
$training_primary_dk = #359178

$btn_border_radius = 3px
$btn_text_color = #FFF
$btn_font_size = 18px

$success_text = #266D2B
$success_bg = #CEE3CF
$success_border = #82BD86

$warning_text = #B0174F
$warning_bg = #ECC7D5
$warning_border = #D6859F

$dark_bg = #3A3D46
$light_bg = #E8E8E8

$slide_inner_content_width = 800px


@import "_reset"
@import "../../../node_modules/jeet/stylus/jeet"
@import "_utils"
@import "_icons"
@import "_training_base"
@import "training_modules/*"
