- content_for :after_title, " - #{@presenter.campaign.title}"

%header.main-page
  .container
    %h1= Figaro.env.dashboard_title
    = render 'courses/header_stats', presenter: @presenter

.container
  = render 'courses/campaign_courses', presenter: @presenter
