- content_for :head do
  = dashboard_stylesheet_tag("main")
  %script(src="https://unpkg.com/react@16.0.0/umd/react.production.min.js")
  %script(src="https://unpkg.com/react-dom@16.0.0/umd/react-dom.production.min.js")

!!!
%html{ dir: rtl? ? "rtl" : nil }
  = render "shared/head"
  %body
    %div
      = yield
      :css
        .tooltip-trigger { pointer-events: none }
        .stat-display { margin-top: 20px }
        body { height: 0; background: white; }
